<template>
    <v-row no-gutters>
        <v-col cols="12">
            <v-card class="mx-2">
                <v-toolbar dense dark :color="sistema.bg_color">
                    <v-toolbar-title>Permisos del Rol de "{{rol.name}}"</v-toolbar-title>
                </v-toolbar>
            </v-card>
        </v-col>
        <v-col cols="2" class="mt-4" v-for="(item,index) in permisos_tabs" :key="index" v-show="item.parent==null">
            <v-card class="mx-2">
                <v-toolbar dark dense :color="sistema.bg_color">
                    <v-toolbar-title>{{item.label}}</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-switch class="ma-0 pa-0" hide-details  @change="savePermission()" :value="item.name" :color="'primary'" v-model="activePermissions"></v-switch>
                </v-toolbar>
                <v-card-text class="pa-3">
                    <div v-for="per in permisos_tabs" class="col-lg-12" :key="per.id" v-show="per.parent==item.id">
                        <v-switch class="ma-0 pa-0"  hide-details @change="savePermission()" :label="per.label" :value="per.name" v-model="activePermissions"></v-switch>
                    </div>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>
<script>
    export default {
        name: 'Permisos',
        data:()=>({
            activePermissions:[],
            rol: [],
        }),
        computed:{
            permisos_tabs(){
                return this.$store.state.administracion.permisos_tabs;
            },
            sistema(){
                return this.$store.state.administracion.sistema;
            },
        },
        beforeMount(){
            // this.load();
        },
        methods:{
            load(){
                this.axios.post('get.permisos',{ id_user: this.$route.params.id }).then(response=>{
                    if(response.data.success){
                        this.$store.state.permisos_tabs = response.data.permisos_tabs;
                        this.activePermissions = response.data.permisos_role;
                        this.rol = response.data.rol;
                    }else{
                        this.$store.commit('setSnackbar',{ msg:response.data.msg, color: '#D50000' });
                    }
                });
            },
            savePermission(){
                this.axios.post('save.permisos.rol',{ id_rol: this.$route.params.id, permisos: this.activePermissions }).then(response=>{
                    if (response.data.success) {
                        this.$store.commit('setSnackbar',{ msg:response.data.msg, color: this.sistema.bg_color });
                    } else {
                        this.$store.commit('setSnackbar',{ msg:response.data.msg, color: '#D50000' });
                    }
                });
            }
        }
    }
</script>