<template>
    <div>
        <router-view></router-view>
        <notifications position="bottom right" :duration="1500" />
    </div>
</template>

<style>
a:hover {
    text-decoration: none;
}
</style>

<script>
export default {
  name: 'app',
}
</script>
