<template>
    <v-container>
        <v-card>
            <v-toolbar
                    :color="sistema.bg_color"
                    dark
                    flat>
                <v-toolbar-title class="mr-5">
                    Panel discovery
                </v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-text-field
                        :model="ip"
                        label="Ip a descrubrir"
                >

                </v-text-field>
                <v-btn
                        @click="descubrir()"
                >
                    Descubrir Ip
                </v-btn>
                <v-divider></v-divider>
                <pre>
                    
                </pre>
            </v-card-text>
        </v-card>
    </v-container>
</template>
<script>

import {FUNCTIONS} from '@/mixins/functions'
import axios from '@/plugins/axios'

export default {
    name: 'Discovery',
    mixins: [FUNCTIONS],
    components: {
    },
    data: () => ({
        ip: '192.168.207.20',
        tab: null,
        items: [
        ],
        response: null,
    }),
    computed: {
        sistema(){
            return this.$store.state.nms.sistema;
        },
    },
    watch: {
    },
    methods: {
        descubrir(){
            axios.get('http://192.168.207.96:8888/ip_discover?ip='+this.ip )
            .then((response)=>{
                console.log(response)
                this.response = response
            })
        }
    }
}
</script>
