<template>
    <v-row height="800px">
        <v-col md="3" sm="12" class="pa-2">
            <v-card dense>
                
                <Treeview/>
            </v-card>
        </v-col>
        <v-col md="9" sm="12" class="pa-2">
            <template v-if="item">
                <panel-operaciones-usuario v-if="item.type === 'user'" />
                <panel-operaciones-proyecto v-else-if="item.type === 'project'" />
                <panel-operaciones-sitio v-else-if="item.type === 'sitio'" />
                <panel-operaciones-item v-else-if="item.type === 'item'" />
            </template>
            
        </v-col>
    </v-row>
</template>

<script>
    import EventBus from '@/plugins/event-bus.js';
    import Treeview from '@/nms/components/Treeview.vue';
    import PanelOperacionesUsuario from './PanelOperacionesItems/PanelOperacionesUsuario.vue';
    import PanelOperacionesSitio from './PanelOperacionesItems/PanelOperacionesSitio.vue';
    import PanelOperacionesProyecto from './PanelOperacionesItems/PanelOperacionesProyecto.vue';
    import PanelOperacionesItem from './PanelOperacionesItems/PanelOperacionesItem.vue';
    export default{
        name:'Inicio',

        created(){
            EventBus.$on('openItem',(item) => {
                this.item = item;
            });

        },
        components: { 
            Treeview, 
            PanelOperacionesUsuario,
            PanelOperacionesSitio,
            PanelOperacionesProyecto,
            PanelOperacionesItem
        },
        data:()=>({
            item:null,
            
        }),
        mounted(){
            
        } 
    }
</script>