<template>
    <v-container>
        <v-card>
            <v-toolbar
                    :color="sistema.bg_color"
                    dark
                    flat>
                <v-toolbar-title class="mr-5">
                    Panel de operación
                </v-toolbar-title>

                <template v-slot:extension>
                    <v-tabs
                            v-model="tab"
                            show-arrows>
                        <v-tabs-slider color="yellow"></v-tabs-slider>
                        <v-tab
                                v-for="item in items"
                                :key="item"
                                :class="{'text-none':item==='QoS'}" >
                            {{ item }}
                        </v-tab>
                    </v-tabs>
                </template>
            </v-toolbar>

            <v-tabs-items v-model="tab">
                <v-tab-item :key="'Dashboard'">
                    <Dashboard/>
                </v-tab-item>
                <v-tab-item :key="'MapaDeRed'">
                    <MapaDeRed/>
                </v-tab-item>
                <v-tab-item :key="'Alarmas'">
                    <Alarmas/>
                </v-tab-item>
                <v-tab-item :key="'ProyectosRedundantes'">
                    <ProyectosRedundantes/>
                </v-tab-item>
                <v-tab-item :key="'Dispositivos'">
                    <Dispositivos/>
                </v-tab-item>
                <v-tab-item :key="'TopologiaDeRed'">
                    <TopologiaDeRed/>
                </v-tab-item>
                <v-tab-item :key="'InformacionDispositivo'">
                    <InformacionDispositivo/>
                </v-tab-item>
                <v-tab-item :key="'Interfaces'">
                    <Interfaces/>
                </v-tab-item>
                <v-tab-item :key="'Recursos'">
                    <Recursos/>
                </v-tab-item>
                <v-tab-item :key="'Qos'">
                    <Qos/>
                </v-tab-item>
                <v-tab-item :key="'Slas'">
                    <Slas/>
                </v-tab-item>
                <v-tab-item :key="'Traps'">
                    <Traps/>
                </v-tab-item>
            </v-tabs-items>
        </v-card>
    </v-container>
</template>
<script>

import {FUNCTIONS} from '@/mixins/functions'
import InformacionDispositivo from '@/nms/views/PanelOperaciones/InformacionDispositivo'
import Interfaces from '@/nms/views/PanelOperaciones/Interfaces'
import Dashboard from '@/nms/views/PanelOperaciones/Dashboard'
import MapaDeRed from '@/nms/views/PanelOperaciones/MapaDeRed'
import Alarmas from '@/nms/views/PanelOperaciones/Alarmas'
import ProyectosRedundantes from '@/nms/views/PanelOperaciones/ProyectosRedundantes'
import Dispositivos from '@/nms/views/PanelOperaciones/Dispositivos'
import TopologiaDeRed from '@/nms/views/PanelOperaciones/TopologiaDeRed'
import Recursos from '@/nms/views/PanelOperaciones/Recursos'
import Qos from '@/nms/views/PanelOperaciones/Qos'
import Slas from '@/nms/views/PanelOperaciones/Slas'
import Traps from '@/nms/views/PanelOperaciones/Traps'

export default {
    name: 'TicketDetalle',
    mixins: [FUNCTIONS],
    components: {
        Traps,
        Slas,
        Qos,
        Recursos,
        TopologiaDeRed,
        Dispositivos,
        ProyectosRedundantes,
        Alarmas,
        MapaDeRed,
        InformacionDispositivo,
        Interfaces,
        Dashboard,
    },
    data: () => ({
        tab: null,
        items: [
            'Dashboard', 'Mapa de red', 'Alarmas', 'Proyectos redundantes', 'Dispositivos', 'Topología de red', 'Información del dispositivo',
                'Interfaces', 'Recursos', 'QoS', 'SLAs', 'Trap', 'Syslog'
        ],
    }),
    computed: {
        sistema(){
            return this.$store.state.nms.sistema;
        },
    },
    watch: {
    },
    methods: {
    }
}
</script>
