<template>
    <v-app-bar dense :clipped-left="$vuetify.breakpoint.lgAndUp" app :color="sistema.bg_color" dark>
        <v-app-bar-nav-icon @click.stop="$store.state.cmdb.mini = !$store.state.cmdb.mini"/>
        <!-- LOGO CMDB Y TITULO -->
        <v-avatar size="30" class="mx-3" tile>
            <v-img :src="require('@/assets/cmdb.png')"></v-img>
        </v-avatar>
        <v-toolbar-title>CMDB</v-toolbar-title>
        
        <v-spacer/>
        <!-- MENU DEL PERFIL DE USUARIO -->
        <MenuProfile/>
    </v-app-bar>
</template>

<script>
    import MenuProfile from '../../components/MenuProfile'

    export default {
        components: {MenuProfile},
        data:()=>({
            
        }),
        computed: {
            sistema(){
                return this.$store.state.cmdb.sistema;
            },
        },
    }
</script>
