<template>
    <div>
        <v-app>
            <div class="pa-2 primary darken-3 white--text" dark>
                    <v-row class="pa-0 pl-3 ma-0">
                        <span style="font-size:20px">
                            General Datacomm de México | SAMYG
                        </span>
                        <v-spacer/>
                        <MenuProfile/>
                    </v-row>
                    <Breadcrumb/>
                </div>
            <v-main>
                <Breadcrumb/>
                <v-container>
                    <v-row class="mt-5">
                        <v-col v-for="(item,index) in items" :key="index">
                            <v-card class="mx-auto elevation-8" max-width="250" :to="{name: item.url, params: { id: $route.params.id } }" >
                                <v-card-text>
                                    <v-img contain :src="require(`@/assets/${item.img}`)" height="200px"></v-img>
                                </v-card-text>
                                <v-toolbar dense class="elevation-3" color="primary darken-3" dark>
                                    <v-row class="justify-center">
                                        <v-card-title>{{item.titulo}}</v-card-title>
                                    </v-row>
                                </v-toolbar>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>
</template>
<script>

    import MenuProfile from '../components/MenuProfile';
    import Breadcrumb from '@/components/Breadcrumb.vue';
    import { mapGetters } from 'vuex';

    export default {
        name: 'Index',
        components:{ MenuProfile, Breadcrumb },
        data: () => ({
            items:[
                {
                    titulo:'Administración',
                    url: 'Administracion',
                    img : 'admin.png',
                },
                { 
                    id: 2,
                    titulo:'ConQuest',
                    url: 'Full',
                    img: 'conquest.png',
                },
                {
                    id: 2,
                    titulo:'ConQuest Admin',
                    url: '/conquest-admin',
                    img: 'conquest.png',
                },
                { 
                    id: 1,
                    titulo:'CMDB',
                    url: 'CMDB',
                    img: 'cmdb.png',
                },
            ]
        }),
        computed:{
            ...mapGetters({
                proyecto: 'index/proyecto',
                user: 'index/user',
            }),
        },
        mounted(){
            this.setBreadcrumb();

            setTimeout(()=>{
                document.title = 'SAMyG';
                (function() {
                    var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
                    link.type = 'image/x-icon';
                    link.rel = 'shortcut icon';
                    link.href = require('@/assets/admin.png');
                    document.getElementsByTagName('head')[0].appendChild(link);
                })();
            })

            

        },
        methods:{
            setBreadcrumb(){
                let breadcrumb = {
                    text: this.proyecto.nombre,
                    disabled: false,
                    href: `/proyectos/${this.$route.params.id}`,
                };

                this.$store.commit('index/SET_BREADCRUMB', breadcrumb);
            },
        }
    }
</script>
