<template>
    <v-app>
        <v-main>
            <div class="pa-2 primary darken-3 white--text" dark>
                <v-row class="pa-0 pl-3 ma-0">
                    <span style="font-size:20px">
                        General Datacomm de México | SAMYG
                    </span>
                    <v-spacer/>
                    <MenuProfile/>
                </v-row>
                <Breadcrumb/>
            </div>
            <v-container fluid style="max-width: 95%" >
                <router-view class="py-3"></router-view>
                <notifications position="top right" :duration="1500" />
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    import MenuProfile from '@/components/MenuProfile';
    import Breadcrumb from '@/components/Breadcrumb.vue';

    export default {
        name: 'Full',
        components: {MenuProfile,Breadcrumb},
        beforeMount(){
            this.$store.dispatch('index/clearProyecto');
        }
    }
</script>

