<template>
    <v-app>
        <v-main>
            <div class="pa-2 primary darken-3 white--text" dark>
                <v-row class="pa-0 pl-3 ma-0">
                    <span style="font-size:20px">
                        General Datacomm de México | SAMYG
                    </span>
                    <v-spacer/>
                    <MenuProfile/>
                </v-row>
                <Breadcrumb/>
            </div>
            <v-container>
                <v-row class="mt-5">
                    <v-col v-for="(item,index) in catalogo_proyectos" :key="index" md="3" lg="2">
                        <v-card class="mx-auto elevation-8" link :to="{name:'Proyecto-App', params: { id: item.id }}">
                            <v-card-text>
                                <v-row no-gutters class="justify-center">
                                    <v-img contain :src="require(`@/assets/logo-example.png`)" max-height="200px" max-width="200px"></v-img>
                                </v-row>
                            </v-card-text>
                            <v-toolbar dense class="ma-0 pa-0 elevation-3" color="primary darken-3" dark>
                                <v-toolbar-title>{{item.nombre}}</v-toolbar-title>
                            </v-toolbar>
                        </v-card>
                    </v-col>
                    <v-col md="3" lg="2">
                        <NuevoProyecto url='/api/admin/proyectos'/>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    
    import NuevoProyecto from '@/administracion/views/Proyectos/Formulario.vue';
    import MenuProfile from '@/components/MenuProfile';
    import EventBus from '@/plugins/event-bus.js';
    import Breadcrumb from '@/components/Breadcrumb.vue';
    import { mapGetters } from 'vuex';

    export default{
        name: 'Proyects',
        components:{
            MenuProfile, 
            Breadcrumb,
            NuevoProyecto
        },
        data:()=>({
             
        }),
        computed:{
            ...mapGetters({
                authenticated: 'index/authenticated',
                user: 'index/user',
                catalogo_proyectos: 'index/catalogo_proyectos',
            }),
        },
        mounted(){
            EventBus.$on('reloadProyectos', ()=>{
                this.$store.dispatch('index/getProyectos');
            });

            
        },
    }
</script>