<template>
    <v-app>
        <!--        <notifications group="foo" position="bottom right" />-->
        <v-overlay :value="overlay" :z-index="9999">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
<!--        <top></top>-->
        <sidebar></sidebar>
        <v-main>
            <v-container fluid class="pa-1 w-100">
                <router-view></router-view>
            </v-container>
        </v-main>
        <v-footer app></v-footer>
    </v-app>
</template>
<style>
html{
    overflow-y: auto;
}
</style>
<script>
import Sidebar from './Sidebar'
import EventBus from '@/event-bus'
import {mapActions, mapGetters, mapState} from 'vuex'

export default {
    name: 'Full',
    data: () => ({
        bus: EventBus,
        dialog: false,
        overlay: false,
    }),
    created(){
        EventBus.$on('before-request', record => {
            this.overlay = true;
        });
        EventBus.$on('after-response', record => {
            this.overlay = false;
        });
        EventBus.$on('response-error', record => {
            this.overlay = false;
        });

        this.$laravel.setRoles(this['auth/getRoles'])
        this.$laravel.setPermissions(this['auth/getPermissions'])

    },
    methods: {
        ...mapActions([
            'auth/fetchUser',
            'auth/fetchRoles',
            'auth/fetchPermissions',
        ]),
    },
    computed: {
        userRoles() {
            return this['auth/getRoles']
        },
        ...mapGetters([
            'auth/getRoles',
            'auth/getPermissions',
        ]),
    },
    components: {
        Sidebar
    }
}
</script>
