<template>
    <div>
        <v-app-bar
            :clipped-left="$vuetify.breakpoint.lgAndUp"
            app
            color="blue darken-1"
            dark
        >
            <v-app-bar-nav-icon @click.stop="mini = !mini" />
            <v-avatar
                size="80"
                tile
            >
                <v-img
                    contain
                    src="/img/logo.pravia.png"
                ></v-img>
            </v-avatar>
            <v-toolbar-title
                class="ml-0"
            >
                <v-list-item >
                    <v-list-item-content>
                        <v-list-item-subtitle class="subtitle-1">
                            Usuario:  <b>{{ user.nombre }}</b><span class="caption"> Rol: ({{ user.role }})</span>
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-toolbar-title>
            <v-spacer />
            <v-btn icon>
                <v-icon>mdi-bell</v-icon>
            </v-btn>
            <v-btn @click="logout" icon>
                <v-icon>mdi-export</v-icon>
            </v-btn>
        </v-app-bar>

        <v-navigation-drawer
            v-model="drawer"
            :clipped="$vuetify.breakpoint.lgAndUp"
            app
            fixed
            hide-overlay
            :expand-on-hover="mini"
            stateless>
            <v-list dense>
                <template v-for="item in items">
                    <v-list-group
                        v-if="item.children"
                        :key="item.text"
                        :prepend-icon="item.icon"
                        no-action
                        :value="subIsActive(item.parent)"
                    >
                        <template v-slot:activator>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ item.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </template>
                        <v-list-item
                            v-for="(child, i) in item.children"
                            :key="i"
                            link
                            :to="{name: child.route}"
                        >
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ child.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-icon>
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-item-icon>
                        </v-list-item>
                    </v-list-group>
                    <v-list-item
                        v-else
                        :key="item.text"
                        link
                        :to="{name: item.route}"
                    >
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>


    </div>
</template>
<script>
    export default {
        name: 'Sidebar',
        data: () => ({
            user: Laravel.user,
            drawer: true,
            mini: false,
            items: [
                { icon: 'mdi-home', text: 'Inicio', route: 'dashboard'},
                { icon: 'mdi-ticket-confirmation', text: 'Tickets', route: 'tickets'},
                //{ icon: 'mdi-file-chart', text: 'Reportes', route: 'reportes'},
            ],
        }),
        mounted(){
        },
        computed:{
        },
        watch:{
            $route(to, from) {
                //this.validarRuta();
            }
        },
        methods: {
            subIsActive(input) {
                const paths = Array.isArray(input) ? input : [input];
                return paths.some(path => {
                    return this.$route.path.indexOf(path) === 1 // current path starts with this path string
                })
            },
            menu(){

            },
            logout() {
                document.getElementById('logout-form').submit();
            }
        }
    }
</script>
