<template>
    <div>
        <v-app-bar
            app
            color="light-blue"
            dark
            height="60"
        >
            <a href="/">
                <v-img
                    style="max-width: 160px;"
                    src="/img/logo_turnos.png"
                ></v-img>
            </a>
            <v-spacer></v-spacer>
            <v-btn @click="logout" text>
                <v-icon>mdi-export</v-icon>
                <div style="margin-top: 2px;">Salir</div>
            </v-btn>
        </v-app-bar>
    </div>
</template>
<script>
    import EventBus from "@/event-bus";
    export default {
        name: 'Header',
        mixins: [],
        directives: {},
        components: {},
        data: vm => ({
        }),
        created() {
        },
        mounted() {
        },
        computed: {
        },
        watch: {

        },
        methods: {
            logout() {
                document.getElementById('logout-form').submit();
            }
        }
    }
</script>
<style>
    .text-input-center input{
        text-align: center;
    }
</style>
