<template>
    <div>
        <!-- TOOLBAR INFRAESTRUCTURA -->
        <v-row class="ma-0 pa-0 my-2">
            <v-col cols="12" class="ma-0 pa-0">
                <v-card tile>
                    <v-toolbar dense color="#223258" dark>
                        <v-toolbar-title style="font-size:22px" class="raleway font-weight-bold">Infraestructura</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon>
                            <v-icon>mdi-reload</v-icon>
                        </v-btn>
                    </v-toolbar>
                </v-card>
            </v-col>
        </v-row>
        <v-row class="ma-0 pa-0 mt-6">
            <v-col cols="12" class="ma-0 pa-0">
                <v-card dark tile color="#223258">
                    <v-row>
                        <v-col cols="7" class="my-0 py-0 pr-0">
                            <v-treeview dense open-all activatable :items="catalogo_sitios" :open="catalogo_sitios">
                                <template v-slot:label={item}>
                                    <span @click="loadChildrens(item)" style="cursor:pointer">
                                        <v-icon class="white--text mr-2" v-if="item.children && item.children.length>0">mdi-sitemap</v-icon>
                                        <v-icon class="white--text mr-2" v-else>mdi-bank</v-icon>
                                        <span class="white--text">{{item.name}}</span>
                                    </span>
                                </template>
                                <template v-slot:append={item}>
                                    <v-btn icon @click.prevent="loadDataSite(item)">
                                        <v-icon class="white--text">mdi-chevron-right</v-icon>
                                    </v-btn>
                                </template>
                            </v-treeview>
                        </v-col>
                        <v-col cols="5" class="ma-0 pa-0">
                            <v-col cols="12" v-if="boolCharge" class="mx-auto my-6 text-center">
                                <v-progress-circular :size="50" class="mb-2" color="primary" indeterminate></v-progress-circular>
                                <br>
                                <span class="font-weight-bold">Cargando Datos del Sitio...</span>
                            </v-col>
                            <v-col cols="12" v-else class="py-0 pl-0 ma-0">
                                <v-skeleton-loader color="white" type="article, actions" v-if="dataSite==null"></v-skeleton-loader>
                                <div v-else>
                                    <v-card dark color="white" tile>
                                        <v-toolbar dark dense :color="sistema.bg_color">
                                            <v-toolbar-title class="raleway">{{dataSite.name}}</v-toolbar-title>
                                            <v-spacer></v-spacer>
                                            <v-tooltip bottom color="black">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-bind="attrs" v-on="on">
                                                        <v-btn icon>
                                                            <v-icon>mdi-ticket-outline</v-icon>
                                                        </v-btn>
                                                    </span>
                                                </template>
                                                <span>Alertas</span>
                                            </v-tooltip>
                                            <v-tooltip bottom color="black">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-bind="attrs" v-on="on">
                                                        <Dialog :sitio="dataSite"/>
                                                    </span>
                                                </template>
                                                <span>Nuevo Dispositivo</span>
                                            </v-tooltip>
                                        </v-toolbar>
                                        <v-card-text>
                                            <v-row>
                                                <v-col cols="12">
                                                    <span style="font-size:16px" class="black--text font-weight-bold">NOMBRE DEL SITIO:</span>
                                                    <br>
                                                    <span class="black--text">{{dataSite.name}}<br></span>
                                                </v-col>
                                                <v-col cols="12 ">
                                                    <span style="font-size:16px" class="black--text font-weight-bold">DIRECCIÓN:</span>
                                                    <br>
                                                    <span class="black--text" v-if="dataSite.direccion.calle!=null">{{dataSite.direccion.calle}}<br></span>
                                                    <span class="black--text" v-if="dataSite.direccion.cruzamientos!=null">{{dataSite.direccion.cruzamientos}}<br></span>
                                                    <span class="black--text" v-if="dataSite.direccion.colonia!=null">{{dataSite.direccion.colonia}}<br></span>
                                                    <span class="black--text" v-if="dataSite.direccion.codigo_postal!=null">{{dataSite.direccion.codigo_postal}}<br></span>
                                                    <span class="black--text" v-if="dataSite.direccion.ciudad!=null">{{dataSite.direccion.ciudad}}</span> 
                                                </v-col>
                                                <v-col cols="12 ">
                                                    <span class="black--text"><span style="font-size:16px" class="font-weight-bold">CONTACTO: </span></span>
                                                    <br>
                                                    <span class="black--text">{{dataSite.contacto_nombre}}</span><br>
                                                    <span class="black--text">{{dataSite.contacto_email}}</span><br>
                                                    <span class="black--text">{{dataSite.contacto_telefono}}</span>
                                                </v-col>
                                            </v-row>
                                        </v-card-text>
                                    </v-card>
                                </div>
                            </v-col>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
        <v-row class="ma-0 pa-0 mt-5">
            <v-col cols="3" class="ma-0 pa-0 pr-1">
                <v-col style="background:#223258" cols="12" v-if="boolCharge" class="mx-auto my-6 text-center">
                    <v-progress-circular :size="50" class="mb-2" color="primary" indeterminate></v-progress-circular>
                    <br>
                    <span class="white--text font-weight-bold">Cargando Servidores del Sitio...</span>
                </v-col>
                <v-card v-else color="#223258" dark tile>
                    <v-row class="ma-0 pa-0">
                        <v-col cols="12">
                            <v-row class="ma-0 pa-0">
                                <span class="pt-2 font-weight-bold">Servidores</span>
                                <v-spacer></v-spacer>
                            </v-row>
                            <v-divider></v-divider>
                        </v-col>
                        <v-col cols="12" class="pa-0 ma-0">
                            <v-list class="ma-0 pa-0" color="#223258">
                                <v-list-item v-for="(item,index) in items_serve" :key="index">
                                    <v-avatar tile size="25">
                                        <v-img  :src="require(`@/assets/marcas/${item.avatar}`)"></v-img>
                                    </v-avatar>
                                    <v-list-item-title class="ml-2 raleway ma-0 pa-0" >{{item.name}}</v-list-item-title>
                                    <v-spacer></v-spacer>
                                    <v-chip class="mb-1 black--text white">1</v-chip>
                                </v-list-item>
                            </v-list>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>

            <v-col cols="3" class="ma-0 pa-0 px-1">
                <v-col cols="12" style="background:#223258" v-if="boolCharge" class="mx-auto my-6 text-center">
                    <v-progress-circular :size="50" class="mb-2" color="primary" indeterminate></v-progress-circular>
                    <br>
                    <span class="white--text font-weight-bold">Cargando Bases de Datos del Sitio...</span>
                </v-col>
                <v-card v-else color="#223258" tile dark>
                    <v-row class="ma-0 pa-0">
                        <v-col cols="12">
                            <v-row class="ma-0 pa-0">
                                <span class="pt-2 font-weight-bold">Bases de Datos</span>
                                <v-spacer></v-spacer>
                            </v-row>
                            <v-divider></v-divider>
                        </v-col>
                        <v-col cols="12" class="pa-0 ma-0">
                            <v-list class="ma-0 pa-0" color="#223258">
                                <v-list-item v-for="(item,index) in items_db" :key="index">
                                    <v-avatar tile size="25">
                                        <v-img  :src="require(`@/assets/marcas/${item.avatar}`)"></v-img>
                                    </v-avatar>
                                    <v-list-item-title class="ml-2 raleway ma-0 pa-0" >{{item.name}}</v-list-item-title>
                                    <v-spacer></v-spacer>
                                    <v-chip class="mb-1 white black--text" color="#1d87ae">1</v-chip>
                                </v-list-item>
                            </v-list>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
            
            <v-col cols="3" class="ma-0 pa-0 px-1">
                <v-col cols="12" style="background:#223258" v-if="boolCharge" class="mx-auto my-6 text-center">
                    <v-progress-circular :size="50" class="mb-2" color="primary" indeterminate></v-progress-circular>
                    <br>
                    <span class="white--text font-weight-bold">Cargando Aplicaciones del Sitio...</span>
                </v-col>
                <v-card v-else color="#223258" dark tile>
                    <v-row class="ma-0 pa-0">
                        <v-col cols="12">
                            <v-row class="ma-0 pa-0">
                                <span class="pt-2 font-weight-bold">Aplicaciones</span>
                                <v-spacer></v-spacer>
                            </v-row>
                            <v-divider></v-divider>
                        </v-col>
                        <v-col cols="12" class="pa-0 ma-0">
                            <v-list class="ma-0 pa-0" color="#223258">
                                <v-list-item v-for="(item,index) in items_app" :key="index">
                                    <v-avatar tile size="25">
                                        <v-img  :src="require(`@/assets/marcas/${item.avatar}`)"></v-img>
                                    </v-avatar>
                                    <v-list-item-title class="ml-2 raleway ma-0 pa-0" >{{item.name}}</v-list-item-title>
                                    <v-spacer></v-spacer>
                                    <v-chip class="mb-1 black--text white">1</v-chip>
                                </v-list-item>
                            </v-list>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>

            <v-col cols="3" class="ma-0 pa-0 pl-1">
                <v-col cols="12" style="background:#223258" v-if="boolCharge" class="mx-auto my-6 text-center">
                    <v-progress-circular :size="50" class="mb-2" color="primary" indeterminate></v-progress-circular>
                    <br>
                    <span class="white--text font-weight-bold">Cargando Servicios del Sitio...</span>
                </v-col>
                <v-card v-else color="#223258" tile dark>
                    <v-row class="ma-0 pa-0">
                        <v-col cols="12">
                            <v-row class="ma-0 pa-0">
                                <span class="pt-2 font-weight-bold">Servicios</span>
                                <v-spacer></v-spacer>
                            </v-row>
                            <v-divider></v-divider>
                        </v-col>
                        <v-col cols="12" class="pa-0 ma-0">
                            <v-list class="ma-0 pa-0" color="#223258">
                                <v-list-item v-for="(item,index) in items_sv" :key="index">
                                    <v-avatar tile size="25">
                                        <v-img :src="require(`@/assets/marcas/${item.avatar}`)"></v-img>
                                    </v-avatar>
                                    <v-list-item-title class="ml-2 raleway ma-0 pa-0" >{{item.name}}</v-list-item-title>
                                    <v-spacer></v-spacer>
                                    <v-chip class="mb-1 white black--text" color="#1d87ae">1</v-chip>
                                </v-list-item>
                            </v-list>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>
<script>
    import Api from '@/components/Api.js';
    import { mapGetters } from 'vuex';
    import Dialog from './Items/Dialog.vue';

    export default{
        name: 'Infraestructura',
        components:{
            Dialog,
        },
        data:()=>({
            dialog:false,
            Formulario: {},
            dataSite: null,
            items: [],
            items_so: [],
            items_serve: [
                {
                    id: 1,
                    avatar: 'hp.png',
                    name: 'Hp',
                },
                {
                    id: 1,
                    avatar: 'dell.png',
                    name: 'Dell',
                },
                {
                    id: 1,
                    avatar: 'servers.png',
                    name: 'Otros',
                },
            ],
            items_db: [
                {
                    id: 1,
                    avatar: 'linux.png',
                    name: 'Linux',
                },
                {
                    id: 1,
                    avatar: 'windows.png',
                    name: 'Windows',
                },
                {
                    id: 1,
                    avatar: 'database.png',
                    name: 'Otros',
                },
            ],
            items_app: [
                {
                    id: 1,
                    avatar: 'licencia.png',
                    name: 'Licencias',
                },
                {
                    id: 1,
                    avatar: 'software.png',
                    name: 'Software',
                },
                {
                    id: 1,
                    avatar: 'app.png',
                    name: 'Otros',
                },
            ],
            items_sv: [
                {
                    id: 1,
                    avatar: 'app.png',
                    name: 'Servicio 1',
                },
                {
                    id: 1,
                    avatar: 'app.png',
                    name: 'Servicio 2',
                },
                {
                    id: 1,
                    avatar: 'app.png',
                    name: 'Otros',
                },
            ],
            sitio: null,
            sitios: [],
            boolCharge:false,
        }),
        computed:{
            computedSitio(){
                return this.sitio;
            },
            ...mapGetters({
                sistema: 'cmdb/sistema',
                catalogo_items: 'cmdb/sistema',
                catalogo_sitios: 'cmdb/catalogo_sitios',
            }),
        },
        beforeMount(){
            this.$store.dispatch('cmdb/getSelectSitios')
            // this.$store.dispatch('cmdb/getItems')
        },
        methods:{
            loadChildrens(item){
                this.axios.get(`/api/cmdb/sitios/${item.id}?_relations[0]=sitios.direccion`).then(response=>{
                    let hijos = response.data.item.sitios;
                    if(hijos.length>0){
                        hijos.map(site=>{
                            item.children = [];
                            site.name = site.nombre
                            site.children = [];
                            item.children.push(site);
                        })
                    }
                })
                this.loadDataSite(item)
                this.loadItems(item)
            },
            loadItems(item){
                Api.index(`/api/cmdb/sitios/${item.id}?_relations[0]=items_descendencia`).then(response=>{
                    if(response.data.item.items_descendencia.length>0){
                        this.items_serve = [];
                        response.data.item.items_descendencia.map(i=>{
                            let avatar = (!i.avatar)?'servers.png':i.avatar;
                            this.items_serve.push({ id: i.id, name: i.nombre, avatar: avatar });
                        })
                    }
                })
                
                
            },
            loadDataSite(item){
                this.boolCharge = true;
                
                setTimeout(()=>{
                    this.boolCharge = false;
                    this.dataSite = item;
                },1000)
            }
        }
    }
</script>
<style>
    span{
        font-family: "Raleway";
    }
</style>pos