<template>
    <v-card :color="cardColor" :dark="computeCardDark" tile>
        <v-card-title>
            <div class="layout row ma-0">
                <div class="subheading">{{ title }}</div>
                <v-spacer></v-spacer>
                <div class="caption">
                    <v-icon>mdi-trending-up</v-icon>
                    {{ subTitle }}
                </div>
            </div>
        </v-card-title>
        <v-responsive class="white--text">
            <v-chart :options="computeChartOption"
                     :init-options="initOptions" autoresize height="308px" width="100%"
                     style="height: 308px !important; width: 100% !important;">
            </v-chart>
        </v-responsive>
    </v-card>
</template>

<script>
import ECharts from '../../chart/Echarts'
import 'echarts/lib/chart/bar'
import 'echarts/lib/chart/line'
import 'echarts/lib/chart/pie'
import 'echarts/lib/chart/map'
import 'echarts/lib/chart/radar'
import 'echarts/lib/chart/scatter'
import 'echarts/lib/chart/effectScatter'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/polar'
import 'echarts/lib/component/geo'
import 'echarts/lib/component/title'
import 'echarts/lib/component/visualMap'
import 'echarts/lib/component/dataset'

export default {
    components: {
        'v-chart': ECharts
    },
    props: {
        title: String,
        gradient: {
            type: Boolean,
            default: false
        },
        subTitle: String,
        icon: String,
        cardColor: {
            type: String,
            default: 'white'
        },
        iconColor: {
            type: String,
            default: 'success'
        },
        type: String,
        chartColor: Array,
        data: Array
    },
    data() {
        return {
            initOptions: {
                renderer: 'canvas'
            },
            defaultOption: {
                legend: {},
                tooltip: {},
                dataset: {
                    source: this.data
                },
                xAxis: {
                    type: 'category',
                    show: false,
                },
                yAxis: {
                    type: 'value',
                    show: false,
                },
                grid: {
                    top: '15%',
                    left: '0',
                    bottom: '0',
                    right: '0',
                },
                color: this.chartColor,
                series: [
                    {
                        type: 'line',
                    }
                ]
            },

            xdefaultOption: [
                ['dataset.source', this.data],
                ['xAxis.show', false],
                ['yAxis.show', false],
                ['grid.top', '15%'],
                ['grid.left', '0'],
                ['grid.bottom', '0'],
                ['grid.right', '0'],
                ['color', this.chartColor]
            ]
        }
    },

    computed: {
        computeCardDark() {
            return this.cardColor !== 'white'
        },
        computeChartOption() {
            //let options = this.xdefaultOption.slice()
            switch (this.type) {
                case 'bar':
                    // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                    `${this.defaultOption.series = [{
                        type: 'bar',
                        barWidth: '50%',
                    }]}`
                    // add shadow series
                    // options.push(['series[1].type', 'bar']);
                    break
                case 'stack-bar':
                    // set stacked bar
                    // options.push(['series[0].data', StackBarData]);
                    // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                    this.defaultOption.series = [{
                        type: 'bar',
                        itemStyle: {
                            normar: {
                                color: 'rgba(0,0,0,0.05)'
                            }
                        },
                        barGap: '-100%'
                    }]
                    // set main series
                    // options.push(['series[1].data', StackData]);
                    //options.push(['series[1].type', 'bar'])
                    break
                case 'area':
                    // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                    this.defaultOption.series = [{
                        type: 'line',
                        smooth: true,
                        areaStyle: {}
                    }]
                    // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                    this.defaultOption.xAxis = {
                        type: 'category',
                        show: false,
                        boundaryGap: false,
                    }

                    if (this.gradient) {
                        // eslint-disable-next-line no-undef
                        options.push([
                            'series[0].areaStyle',
                            {
                                normal: {
                                    color: new window.echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                        {
                                            offset: 0,
                                            color: this.chartColor[0]
                                        },
                                        {
                                            offset: 1,
                                            color: this.chartColor[1]
                                        }
                                    ])
                                }
                            }
                        ])
                    }

                    break
                default:
                    // line
                    // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                    this.defaultOption.series = [{
                        type: 'line',
                        smooth: true,
                    }]
                    // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                    this.defaultOption.xAxis = {
                        type: 'category',
                        show: false,
                        boundaryGap: false,
                    }
                    break
            }
            return this.defaultOption
        }
    }
}
</script>
