<template>
    <v-card tile>
        <v-card-text>
            <div class="d-flex align-center justify-space-between">
                <div>
                    <div class="subheading pb-2">{{ title }}</div>
                    <span class="grey--text"
                    >{{ subTitle }}
                        <v-icon small :color="iconColor">{{ icon }}</v-icon>
                    </span
                    >
                </div>
                <div>
                    <v-chart
                            :options="computeChartOption"
                            :init-options="initOptions"
                            autoresize
                            ref="bar"
                            style="height: 68px !important; width: 170px !important;"
                    />
                </div>
            </div>
        </v-card-text>
    </v-card>
</template>
<style>
.echarts {
    /*width: 170px !important;*/
    /*height: 68px !important;*/
}
</style>
<script>
import ECharts from '../../chart/Echarts'
import 'echarts/lib/chart/bar'
import 'echarts/lib/chart/line'
import 'echarts/lib/chart/pie'
import 'echarts/lib/chart/scatter'
import 'echarts/lib/chart/effectScatter'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/polar'
import 'echarts/lib/component/geo'
import 'echarts/lib/component/title'
import 'echarts/lib/component/dataset'

export default {
    components: {
        'v-chart': ECharts
    },
    props: {
        title: {
            type: String,
            default: ''
        },
        subTitle: {
            type: String,
            default: ''
        },
        icon: {
            type: String,
            default: ''
        },
        iconColor: {
            type: String,
            default: 'success'
        },
        type: {
            type: String,
            default: 'line'
        },
        chartColor: {
            type: String,
            default: ''
        },
        data: {
            type: Array,
            default: () => []
        }
    },
    data() {
        return {
            initOptions: {
                renderer: 'canvas'
            },
            defaultOption: {
                color: [this.chartColor],
                legend: {},
                tooltip: {},
                dataset: {
                    // Provide data.
                    source: this.data
                },
                // Declare X axis, which is a category axis, mapping
                // to the first column by default.
                xAxis: {
                    type: 'category',
                    show: false
                },
                // Declare Y axis, which is a value axis.
                yAxis: {
                    show: false
                },
                // Declare several series, each of them mapped to a
                // column of the dataset by default.
                series: [{ type: 'line' }]
            },
            pie: {
                title: {
                    text: '饼图程序调用高亮示例',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            { value: 335, name: '直接访问' },
                            { value: 310, name: '邮件营销' },
                            { value: 234, name: '联盟广告' },
                            { value: 135, name: '视频广告' },
                            { value: 1548, name: '搜索引擎' }
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            }
        }
    },
    mounted (){
        /*
        let dataIndex = -1
        const pie = this.$refs.pie
        const dataLen = pie.options.series[0].data.length
        setInterval(() => {
            pie.dispatchAction({
                type: 'downplay',
                seriesIndex: 0,
                dataIndex
            })
            dataIndex = (dataIndex + 1) % dataLen
            pie.dispatchAction({
                type: 'highlight',
                seriesIndex: 0,
                dataIndex
            })
            // 显示 tooltip
            pie.dispatchAction({
                type: 'showTip',
                seriesIndex: 0,
                dataIndex
            })
        }, 1000)

         */
    },
    watch: {
        type: {
            handler: function(newVal) {
                switch (newVal) {
                    case 'bar':
                        this.defaultOption.series = [{
                            type: 'bar',
                        }]
                        //this.defaultOption.push(['series[0].type', 'bar'])
                        break
                    case 'area':
                        this.defaultOption.series = [{
                            type: 'line',
                            areaStyle: {},
                        }]
                        //this.defaultOption.push(['series[0].type', 'line'])
                        //this.defaultOption.push(['series[0].areaStyle', {}])
                        break
                    default:
                        break
                }
                return this.defaultOption
            },
            immediate: true
        }
    },
    computed: {
        computeChartOption() {
            return this.defaultOption
        }
    },
}
</script>