<template>
    <v-card>
        <v-form v-model="valid" ref="form_ts" @submit.prevent>
            <v-toolbar dark color="indigo">
                <v-btn icon dark @click="close">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>INFORMACIÓN DEL TIEMPO DE SOLUCIÓN</v-toolbar-title>
                <div class="flex-grow-1"></div>
                <v-toolbar-items>
                    <v-btn
                            dark text
                            :disabled="!valid"
                            @click="validate"
                            type="submit"
                            :loading="loading"
                    >Guardar
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text>
                <v-container grid-list-md pa-0>
                    <v-row>
                        <v-col
                                class="text-center mx-auto"
                                md="6"
                        >
                            <v-alert
                                    v-model="info"
                                    border="top"
                                    colored-border
                                    type="info"
                                    dismissible
                                    elevation="2"
                            >
                                Completa la información solicitada
                            </v-alert>
                        </v-col>
                    </v-row>
                    <v-layout wrap>
                        <v-col
                                sm="12"
                                md="6"
                        >
                            <v-select
                                    v-model="editedItem.severidad_id"
                                    :items="severidades"
                                    label="Severidad"
                                    hint="Selecciona una opción"
                                    persistent-hint
                                    item-value="id"
                                    item-text="descripcion"
                            ></v-select>
                            <span v-if="currentSeveridad">
                                Partidas: {{ currentSeveridad.partidas }} <br>
                                Nivel: {{ currentSeveridad.nivel }} <br>
                            </span>
                        </v-col>
                        <v-col
                                sm="6"
                                md="6"
                        >
                            <v-text-field
                                    label="* Minutos"
                                    v-model="editedItem.minutos"
                                    required
                                    :rules="[v => !!v || 'Campo requerido']"
                            ></v-text-field>
                        </v-col>
                    </v-layout>
                </v-container>
            </v-card-text>
        </v-form>
        <v-footer
                sticky
                class="font-weight-thin"
        >
            <v-col
                    class="text-center mx-auto"
                    md="9"
            >
                <v-alert
                        class="overline ma-0"
                        dense
                        outlined

                        type="error"
                >
                    Campos marcados con <strong>*</strong> son obligatorios
                </v-alert>
            </v-col>
        </v-footer>
    </v-card>
</template>

<script>

import EventBus from '@/plugins/event-bus'
import {mapGetters} from 'vuex'

export default {
    name: 'FormTiempoSolucion',
    props: ['editedItem'],
    data: () => ({
        //user: Laravel.user,
        roles: [],
        info: true,
        validating: false,
        valid: false,
        loading: false,
        defaultItem: {},
    }),
    mounted() {
    },
    methods: {

        resetForm() {
            this.$nextTick(() => {
                this.editedIndex = -1
            })
        },

        close() {
            EventBus.$emit('CLOSE_DIALOG_TS');
            setTimeout(() => {
                this.editedIndex = -1
            }, 500)
        },
        async validate() {
            if (this.$refs.form_ts.validate()) {
                this.loading = true

                this.$notify({
                    text: 'Procesando...',
                    type: 'info',
                    duration: 1000,
                });

                this.loading = false;
                this.$emit('submit', this.editedItem)
            }
        },
    },

    computed: {
        ...mapGetters({
            severidades: 'conquest_admin/getSeveridades',
        }),

        currentSeveridad() {
            if (this.editedItem) {
                let index = _.findIndex(this.severidades, {
                    'id': this.editedItem.severidad_id
                })
                return this.severidades[index];
            }
            return false;
        }
    },
    watch: {},
}
</script>

<style scoped>

</style>