<template>
    <v-card>
        <v-form v-model="valid" ref="form_dev" @submit.prevent>
            <v-toolbar dark color="indigo">
                <v-btn icon dark @click="close">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>INFORMACIÓN DEL DISPOSITIVO</v-toolbar-title>
                <div class="flex-grow-1"></div>
                <v-toolbar-items>
                    <v-btn
                            dark text
                            :disabled="!valid"
                            @click="validate"
                            type="submit"
                            :loading="loading"
                    >Guardar
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text>
                <v-container grid-list-md pa-0>
                    <v-row>
                        <v-col
                                class="text-center mx-auto"
                                md="6"
                        >
                            <v-alert
                                    v-model="info"
                                    border="top"
                                    colored-border
                                    type="info"
                                    dismissible
                                    elevation="2"
                            >
                                Completa la información solicitada
                            </v-alert>
                        </v-col>
                    </v-row>
                    <v-layout wrap>
                        <v-col
                                sm="12"
                                md="6"
                        >
                            <v-select
                                    v-model="editedItem.partida_id"
                                    :items="partidas"
                                    label="* Partida"
                                    hint="Selecciona una opción"
                                    required
                                    :rules="[v => !!v || 'Campo requerido']"
                                    persistent-hint
                                    item-value="id"
                                    item-text="id_descripcion"
                            ></v-select>
                        </v-col>
                        <v-col
                                sm="12"
                                md="6"
                        >
                            <v-text-field
                                    label="* Nombre"
                                    v-model="editedItem.nombre"
                                    required
                                    :rules="[v => !!v || 'Campo requerido']"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                sm="12"
                                md="6"
                        >
                            <v-text-field
                                    label="Descripcion"
                                    v-model="editedItem.descripcion"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                sm="12"
                                md="6"
                        >
                            <v-select
                                    v-model="editedItem.sitio_id"
                                    :items="sitios"
                                    label="Sitio"
                                    hint="Selecciona una opción"
                                    persistent-hint
                                    item-value="id"
                                    item-text="nombre"
                            ></v-select>
                        </v-col>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-text-field
                                    label="Número de serie"
                                    v-model="editedItem.numero_serie"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-text-field
                                    label="Fabricante"
                                    v-model="editedItem.fabricante"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-text-field
                                    label="Marca"
                                    v-model="editedItem.marca"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-text-field
                                    label="Modelo"
                                    v-model="editedItem.modelo"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-text-field
                                    label="Dirección(es) IP"
                                    v-model="editedItem.ips"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-menu
                                    v-model="menu_fr"
                                    :close-on-content-click="true"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                            autocomplete="off"
                                            v-model="editedItem.fecha_recepcion"
                                            label="Fecha de recepción"
                                            prepend-icon="mdi-calendar"
                                            v-bind="attrs"
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                        v-model="editedItem.fecha_recepcion"
                                ></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-menu
                                    v-model="menu_fi"
                                    :close-on-content-click="true"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                            autocomplete="off"
                                            v-model="editedItem.fecha_instalacion"
                                            label="Fecha de instalación"
                                            prepend-icon="mdi-calendar"
                                            v-bind="attrs"
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                        v-model="editedItem.fecha_instalacion"
                                ></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-menu
                                    v-model="menu_fm"
                                    :close-on-content-click="true"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                            autocomplete="off"
                                            v-model="editedItem.fecha_monitoreo"
                                            label="Fecha de monitoreo"
                                            prepend-icon="mdi-calendar"
                                            v-bind="attrs"
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                        v-model="editedItem.fecha_monitoreo"
                                ></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-text-field
                                    label="Hostname"
                                    v-model="editedItem.hostname"
                            ></v-text-field>
                        </v-col>
                    </v-layout>
                </v-container>
            </v-card-text>
        </v-form>
        <v-footer
                sticky
                class="font-weight-thin"
        >
            <v-col
                    class="text-center mx-auto"
                    md="9"
            >
                <v-alert
                        class="overline ma-0"
                        dense
                        outlined

                        type="error"
                >
                    Campos marcados con <strong>*</strong> son obligatorios
                </v-alert>
            </v-col>
        </v-footer>
    </v-card>
</template>

<script>

import EventBus from '@/plugins/event-bus'
import {mapGetters} from 'vuex'

export default {
    name: 'FormDispositivo',
    props: ['editedItem'],
    data: () => ({
        //user: Laravel.user,
        roles: [],
        info: true,
        validating: false,
        valid: false,
        loading: false,
        menu_fr: false,
        menu_fi: false,
        menu_fm: false,
        defaultItem:{
        },
    }),
    mounted() {
        EventBus.$on('CLEAR_FORM_DEVS', this.resetForm);
    },

    methods: {

        resetForm() {
            this.$nextTick(() => {
                this.editedIndex = -1
                this.$refs.form_dev.reset()
            })
        },

        close() {
            EventBus.$emit('CLOSE_DIALOG_DEV');
            setTimeout(() => {
                this.editedIndex = -1
            }, 500)
        },
        async validate() {
            if (this.$refs.form_dev.validate()) {
                this.loading = true

                this.$notify({
                    text: 'Procesando...',
                    type: 'info',
                    duration: 1000,
                });

                this.loading = false;
                this.$emit('submit', this.editedItem)
            }
        },
    },
    computed: {
        ...mapGetters({
            sitios: 'administracion/getSitios',
            partidas: 'administracion/getPartidas'
        }),
    },
    watch: {},
}
</script>

<style scoped>

</style>