<template>
    <v-card>
        <v-form v-model="valid" ref="form_user" @submit.prevent>
            <v-toolbar dark color="indigo">
                <v-btn icon dark @click="close">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>INFORMACIÓN DEL USUARIO</v-toolbar-title>
                <div class="flex-grow-1"></div>
                <v-toolbar-items>
                    <v-btn
                            dark text
                            :disabled="!valid"
                            @click="validate"
                            type="submit"
                            :loading="loading"
                    >Guardar
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text>
                <v-container grid-list-md pa-0>
                    <v-row>
                        <v-col
                                class="text-center mx-auto"
                                md="6"
                        >
                            <v-alert
                                    v-model="info"
                                    border="top"
                                    colored-border
                                    type="info"
                                    dismissible
                                    elevation="2"
                            >
                                Completa la información solicitada
                            </v-alert>
                        </v-col>
                    </v-row>
                    <v-layout wrap>
                        <v-col
                                cols="12"
                                sm="4"
                                md="4"
                        >
                            <v-text-field
                                    label="* Nombre(s)"
                                    v-model="editedItem.name"
                                    required
                                    :rules="[v => !!v || 'Campo requerido']"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                cols="12"
                                sm="4"
                                md="4">
                            <v-select
                                    :items="roles"
                                    :item-text="'name'"
                                    :item-value="'id'"
                                    v-model="editedItem.roles[0]"
                                    return-object
                                    label="Tipo de usuario"
                            ></v-select>
                        </v-col>
                        <v-col
                                cols="12"
                                sm="4"
                                md="4"
                        >
                            <v-text-field
                                    type="email"
                                    label="* E-mail"
                                    v-model="editedItem.email"
                                    required
                                    :rules="[v => !!v || 'Campo requerido', v => !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                                     'E-mail inválido']"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                cols="12"
                                sm="6"
                                md="6"
                        >
                            <v-text-field
                                    type="password"
                                    label="Contraseña"
                                    v-model="editedItem.password"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                cols="12"
                                sm="6"
                                md="6"
                        >
                            <v-text-field
                                    type="password"
                                    required
                                    v-model="editedItem.password_repeat"
                                    :rules="[(editedItem.password === editedItem.password_repeat) || 'Las contraseñas no coinciden']"
                                    label="Repite la Contraseña"
                            ></v-text-field>
                        </v-col>
                    </v-layout>
                </v-container>
            </v-card-text>
        </v-form>
        <v-footer
                sticky
                class="font-weight-thin"
        >
            <v-col
                    class="text-center mx-auto"
                    md="9"
            >
                <v-alert
                        class="overline ma-0"
                        dense
                        outlined

                        type="error"
                >
                    Campos marcados con <strong>*</strong> son obligatorios
                </v-alert>
            </v-col>
        </v-footer>
    </v-card>
</template>

<script>
import EventBus from '@/plugins/event-bus'
export default {
    name: 'FormUsuario',
    props: ['editedItem'],
    data: () => ({
        //user: Laravel.user,
        roles: [],
        info: true,
        validating: false,
        valid: false,
        loading: false,
        defaultItem:{
            roles:[
                {
                    id:'',
                }
            ]
        },
    }),
    mounted() {
        this.getRoles();
    },
    methods: {

        resetForm() {
            this.$nextTick(() => {
                this.editedIndex = -1
            })
        },

        close() {
            EventBus.$emit('CLOSE_DIALOG_USER');
            setTimeout(() => {
                //this.resetForm()
                this.editedIndex = -1
            }, 500)
        },
        async validate() {
            if (this.$refs.form_user.validate()) {
                this.loading = true

                this.$notify({
                    text: 'Procesando...',
                    type: 'info',
                    duration: 1000,
                });

                this.loading = false;
                this.$emit('submit', this.editedItem)
            }
        },

        getRoles() {
            this.axios.get('usuarios.roles')
                    .then(({data}) => {
                        this.roles = data.items;
                    })
                    .catch(error => {
                        this.$notify({
                            text: error.message,
                            type: 'error'
                        });
                    })
                    .finally(() => {
                    })
        },
    },
    computed: {},
    watch: {},
}
</script>

<style scoped>

</style>