<template>
    <v-card>
        <v-form v-model="valid" ref="form_ticket" @submit.prevent>
            <v-toolbar dark color="indigo">
                <v-btn icon dark @click="close">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>INFORMACIÓN DEL TICKET</v-toolbar-title>
                <div class="flex-grow-1"></div>
                <v-toolbar-items>
                    <v-btn
                            dark text
                            :disabled="!valid"
                            @click="validate"
                            type="submit"
                            :loading="loading"
                    >Guardar
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text>
                <v-container grid-list-md pa-0>
                    <v-row>
                        <v-col
                                class="text-center mx-auto"
                                md="6"
                        >
                            <v-alert
                                    v-model="info"
                                    border="top"
                                    colored-border
                                    type="info"
                                    dismissible
                                    elevation="2"
                            >
                                Completa la información solicitada
                            </v-alert>
                        </v-col>
                    </v-row>
                    <v-layout wrap>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-select
                                    v-model="editedItem.tipo_reporte_id"
                                    :items="tipos_reporte"
                                    label="* Tipo de reporte"
                                    hint="Selecciona una opción"
                                    persistent-hint
                                    item-value="id"
                                    item-text="descripcion"
                                    :rules="[v => !!v || 'Campo requerido']"
                            ></v-select>
                        </v-col>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-select
                                    v-model="editedItem.medio_id"
                                    :items="medios"
                                    label="* Medio de reporte"
                                    hint="Selecciona una opción"
                                    persistent-hint
                                    item-value="id"
                                    item-text="descripcion"
                                    :rules="[v => !!v || 'Campo requerido']"
                            ></v-select>
                        </v-col>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-select
                                    v-model="editedItem.usuario_reporta_id"
                                    :items="usuarios"
                                    label="Usuario que reporta"
                                    hint="Selecciona una opción"
                                    persistent-hint
                                    item-value="id"
                                    item-text="name"
                            ></v-select>
                        </v-col>

                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-select
                                    v-model="editedItem.prioridad"
                                    :items="['ALTO', 'MEDIO', 'BAJO']"
                                    label="* Prioridad"
                                    hint="Selecciona una opción"
                                    persistent-hint
                                    :rules="[v => !!v || 'Campo requerido']"
                            ></v-select>
                        </v-col>

                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-select
                                    v-model="editedItem.sitio_id"
                                    :items="sitios"
                                    label="* Sitio"
                                    hint="Selecciona una opción"
                                    persistent-hint
                                    item-value="id"
                                    item-text="nombre"
                                    :rules="[v => !!v || 'Campo requerido']"
                            ></v-select>
                        </v-col>

                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-select
                                    v-model="editedItem.dispositivo_id"
                                    :items="dispositivos"
                                    label="* Dispositivo"
                                    hint="Selecciona una opción"
                                    persistent-hint
                                    item-value="id"
                                    item-text="nombre"
                                    :rules="[v => !!v || 'Campo requerido']"
                            ></v-select>
                        </v-col>

                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-select
                                    v-model="editedItem.severidad_id"
                                    :items="severidades"
                                    label="* Severidad"
                                    hint="Selecciona una opción"
                                    persistent-hint
                                    item-value="id"
                                    item-text="descripcion"
                                    :rules="[v => !!v || 'Campo requerido']"
                            ></v-select>
                        </v-col>
                        <!--v-col
                                sm="12"
                                md="4"
                        >
                            <v-select
                                    v-model="editedItem.nivel_atencion"
                                    :items="['1er Nivel','2do Nivel','3er Nivel']"
                                    label="* Nivel de atención"
                                    hint="Selecciona una opción"
                                    persistent-hint
                                    :rules="[v => !!v || 'Campo requerido']"
                            ></v-select>
                        </v-col-->
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-text-field
                                    label="* Descripción del problema"
                                    v-model="editedItem.descripcion_problema"
                                    required
                                    :rules="[v => !!v || 'Campo requerido']"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                sm="12"
                                md="4"
                        >
                            <v-file-input
                                    id="files"
                                    label="Cargar archivo"
                                    v-model="editedItem.newFiles"
                                    outlined dense
                                    chips
                                    show-size counter multiple
                                    ref="files"
                            ></v-file-input>
                        </v-col>

                        <v-expand-transition>
                            <v-col
                                    sm="12"
                                    md="12"
                                    v-show="files.length"
                                    class="text-center mx-auto animate"
                            >
                                <v-row>
                                    <v-col
                                            class="text-center mx-auto"
                                            cols="6"
                                    >
                                        <v-alert
                                                border="top"
                                                colored-border
                                                type="info"
                                                elevation="1"
                                        >
                                            Evidencias del ticket
                                        </v-alert>
                                    </v-col>
                                </v-row>
                                <v-card
                                        v-for="(file, index) in files"
                                        class="mr-2"
                                        style="display: inline-block"
                                        max-width="244"
                                        :key="index"
                                        outlined
                                >
                                    <v-list-item two-line>
                                        <v-list-item-content>
                                            <div class="overline mb-4">
                                                <v-icon v-if="file.type === 'application/pdf'">mdi-file-pdf</v-icon>
                                                <v-icon v-if="file.type === 'image/jpeg'
                                                || file.type === 'image/png'">mdi-file-image</v-icon>
                                                {{ file.mime }}
                                            </div>
                                            <v-list-item-subtitle>
                                                {{ file.filename }}<br>({{ parseInt(file.size / 1024) }} Kb)
                                            </v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>


                                    <v-card-actions>
                                        <v-btn
                                                @click="openFile(file)"
                                                outlined
                                                rounded
                                        >
                                            Ver archivo
                                        </v-btn>
                                        <v-btn
                                                @click="openDeleteFile(file)"
                                                color="error"
                                                outlined
                                                rounded
                                        >
                                            <v-icon
                                                    color="error"
                                            >
                                                mdi-trash-can-outline
                                            </v-icon>
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                        </v-expand-transition>

                        <v-expand-transition>
                            <v-card-text class="py-0 mb-5 animate" v-show="currentSeveridad && currentMedio">
                                <v-row>
                                    <v-col cols="6" v-if="currentSeveridad && currentMedio">
                                        <p>
                                            Partidas: {{ currentSeveridad.partidas }}
                                        </p>
                                        <p>
                                            Nivel: {{ currentSeveridad.nivel }}
                                        </p>
                                    </v-col>
                                    <v-col cols="6">
                                        <p>
                                            Tiempo de atención: {{ tiempo_atencion }} minutos
                                        </p>
                                        <p>
                                            Tiempo de solución: {{ tiempo_solucion }} minutos
                                        </p>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-expand-transition>
                    </v-layout>
                </v-container>
            </v-card-text>
        </v-form>
        <v-footer
                sticky
                class="font-weight-thin"
        >
            <v-col
                    class="text-center mx-auto"
                    md="9"
            >
                <v-alert
                        class="overline ma-0"
                        dense
                        outlined

                        type="error"
                >
                    Campos marcados con <strong>*</strong> son obligatorios
                </v-alert>
            </v-col>
        </v-footer>
        <v-dialog v-model="dialogDelete" max-width="290">
            <v-card>
                <v-card-title class="headline">Confirmar eliminación</v-card-title>
                <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                    <v-btn color="error" @click="deleteFile(file); closeModalDelete();">Confirmar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>

import EventBus from '@/plugins/event-bus'
import {mapGetters} from 'vuex'
import Api from '../../router/shared/tickets'
import {FUNCTIONS} from '@/mixins/functions'

export default {
    name: 'FormTicket',
    props: ['editedItem'],
    mixins: [FUNCTIONS],
    data: () => ({
        //user: Laravel.user,
        roles: [],
        info: true,
        validating: false,
        valid: false,
        loading: false,
        tiempo_atencion: 0,
        tiempo_solucion: 0,
        defaultItem: {},
        severidades: [],
        dispositivos: [],
        dialogDelete: false,
        file: null,
    }),

    async created() {
        EventBus.$on('CLEAR_FORM_TICKET', this.resetForm);
    },
    methods: {
        resetForm() {
            this.$nextTick(() => {
                this.editedIndex = -1
                this.dispositivos = []
                this.tiempo_atencion = 0;
                this.tiempo_solucion = 0;
                this.$refs.form_ticket.reset()
            })
        },

        close() {
            EventBus.$emit('CLOSE_DIALOG_TICKET');
            setTimeout(() => {
                this.editedIndex = -1
                this.tiempo_atencion = 0;
                this.tiempo_solucion = 0;
            }, 500)
        },
        async validate() {
            if (this.$refs.form_ticket.validate()) {
                this.loading = true

                this.$notify({
                    text: 'Procesando...',
                    type: 'info',
                    duration: 500,
                });

                let formData = new FormData();
                for (let key in this.editedItem) {
                    formData.append(key, this.editedItem[key])
                }

                if (this.editedItem.newFiles) {

                    for (let i = 0; i < this.editedItem.newFiles.length; i++) {
                        let file = this.editedItem.newFiles[i];

                        formData.append('files[' + i + ']', file);
                    }
                }

                this.loading = false;
                this.$emit('submit', formData)
            }
        },

        getTiempoAtencion() {
            let data = {
                medio_id: this.editedItem.medio_id,
                severidad_id: this.editedItem.severidad_id,
            }
            Api.tiempoAtencion(data)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                        this.tiempo_atencion = data.tiempo_atencion.minutos;
                        this.tiempo_solucion = data.tiempo_solucion.minutos;

                    })
                    .catch(response => {
                        this.$notify({
                            text: response.message,
                            type: 'error'
                        });
                        this.loading = false
                    }).finally(() => {
                this.loading = false
            })
        },

        getSeveridades() {
            let data = {
                partida: this.currentDispositivo.partida_id,
            }
            Api.severidades(data)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                        this.severidades = data.severidades.items;

                    })
                    .catch(response => {
                        this.$notify({
                            text: response.message,
                            type: 'error'
                        });
                        this.loading = false
                    }).finally(() => {
                this.loading = false
            })
        },

        getDispositivos(sitio) {

            Api.getDispositivosBySitio(sitio)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                        this.dispositivos = data.dispositivos.items;

                    })
                    .catch(response => {
                        this.$notify({
                            text: response.message,
                            type: 'error'
                        });
                        this.loading = false
                    }).finally(() => {
                this.loading = false
            })
        },

        openDeleteFile(file) {
            this.dialogDelete = true;
            this.editedIndex = this.files.indexOf(file);
            this.file = Object.assign({}, file)
        },

        closeModalDelete(){
            this.dialogDelete = false;
            this.reloadTable();
        },

        reloadTable(){
            EventBus.$emit('REFRESH_DT_TICKETS');
        }

    },
    computed: {
        ...mapGetters({
            tipos_reporte: 'administracion/getTiposReporte',
            //severidades: 'administracion/getSeveridades',
            medios: 'administracion/getMedios',
            estatus: 'administracion/getEstatus',
            usuarios: 'administracion/getUsuarios',
            operadores: 'administracion/getOperadores',
            sitios: 'administracion/getSitios',
            files: 'tickets/getFiles',
            //dispositivos: 'administracion/getDispositivos',
        }),

        currentSeveridad() {
            if (this.editedItem) {
                let index = _.findIndex(this.severidades, {
                    'id': this.editedItem.severidad_id
                })
                return this.severidades[index];
            }
            return false;
        },
        currentDispositivo() {
            if (this.editedItem) {
                let index = _.findIndex(this.dispositivos, {
                    'id': this.editedItem.dispositivo_id
                })
                return this.dispositivos[index];
            }
            return false;
        },
        currentMedio() {
            if (this.editedItem) {
                let index = _.findIndex(this.medios, {
                    'id': this.editedItem.medio_id
                })
                return this.medios[index];
            }
            return false;
        },

        currentSitio() {
            if (this.editedItem) {
                let index = _.findIndex(this.sitios, {
                    'id': this.editedItem.sitio_id
                })
                return this.sitios[index];
            }
            return false;
        },
    },
    watch: {

        currentDispositivo(newVal, oldVal) {
            if (newVal !== oldVal && this.currentDispositivo) {
                this.getSeveridades();
            }
        },

        currentSeveridad(newVal, oldVal) {
            if (newVal !== oldVal && this.currentMedio){
                if(!this.tiempo_solucion && !this.tiempo_atencion)
                    this.getTiempoAtencion()
            }
        },

        currentMedio(newVal, oldVal) {

            if (newVal !== oldVal && this.currentSeveridad && oldVal !== undefined){
                this.getTiempoAtencion()
            }
        },

        currentSitio: {
            handler(newVal) {
                if (newVal)
                    this.getDispositivos(newVal.id)
            },
            immediate:true
        },


    },
}
</script>

<style scoped>

</style>