<template>
    <v-card>
        <v-form v-model="valid" ref="form_estatus" @submit.prevent>
            <v-toolbar dark color="indigo">
                <v-btn icon dark @click="close">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>INFORMACIÓN DEL ESTATUS</v-toolbar-title>
                <div class="flex-grow-1"></div>
                <v-toolbar-items>
                    <v-btn
                            dark text
                            :disabled="!valid"
                            @click="validate"
                            type="submit"
                            :loading="loading"
                    >Guardar
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text>
                <v-container grid-list-md pa-0>
                    <v-row>
                        <v-col
                                class="text-center mx-auto"
                                md="6"
                        >
                            <v-alert
                                    v-model="info"
                                    border="top"
                                    colored-border
                                    type="info"
                                    dismissible
                                    elevation="2"
                            >
                                Completa la información solicitada
                            </v-alert>
                        </v-col>
                    </v-row>
                    <v-layout wrap>
                        <v-col
                                cols="12"
                                sm="12"
                                md="12"
                        >
                            <v-text-field
                                    label="* Descripcion"
                                    v-model="editedItem.descripcion"
                                    required
                                    :rules="[v => !!v || 'Campo requerido']"
                            ></v-text-field>
                        </v-col>
                    </v-layout>
                </v-container>
            </v-card-text>
        </v-form>
        <v-footer
                sticky
                class="font-weight-thin"
        >
            <v-col
                    class="text-center mx-auto"
                    md="9"
            >
                <v-alert
                        class="overline ma-0"
                        dense
                        outlined

                        type="error"
                >
                    Campos marcados con <strong>*</strong> son obligatorios
                </v-alert>
            </v-col>
        </v-footer>
    </v-card>
</template>

<script>

import EventBus from '@/plugins/event-bus'
export default {
    name: 'FormEstatus',
    props: ['editedItem'],
    data: () => ({
        //user: Laravel.user,
        roles: [],
        info: true,
        validating: false,
        valid: false,
        loading: false,
        defaultItem:{
        },
    }),
    mounted() {
    },
    methods: {

        resetForm() {
            this.$nextTick(() => {
                this.editedIndex = -1
            })
        },

        close() {
            EventBus.$emit('CLOSE_DIALOG_ESTATUS');
            setTimeout(() => {
                this.editedIndex = -1
            }, 500)
        },
        async validate() {
            if (this.$refs.form_estatus.validate()) {
                this.loading = true

                this.$notify({
                    text: 'Procesando...',
                    type: 'info',
                    duration: 1000,
                });

                this.loading = false;
                this.$emit('submit', this.editedItem)
            }
        },
    },
    computed: {},
    watch: {},
}
</script>

<style scoped>

</style>