<template>
  <router-view></router-view>
</template>

<script>
  export default {
    name: 'app',
  }
</script>
<style>
  .v-application--wrap {
    min-height: auto !important;
  }
  html {
    overflow: auto;
  }
</style>
