<template>
    <v-app>
        <Navbar/>
        <Sidebar/>
        <v-main>
            <v-container fluid style="max-width: 95%" >
                <router-view class="py-3"></router-view>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Api from '@/components/Api.js';
    import Navbar from './components/Navbar.vue';
    import Sidebar from './components/Sidebar.vue';

    export default {
        name: 'Full',
        components: {
            Navbar,
            Sidebar,
        },
        data: () => ({
            dialog: false,
        }),
        computed:{
            title(){
                return this.$store.state.administracion.title;
            },
            ...mapGetters({
                user:'index/user',
                proyecto: 'index/proyecto',
                baseURL: 'index/baseURL',
            })
        },
        beforeMount(){
            let roles = this.user.roles;

            roles.map(r=>{
                if(r.name=='super_administrador'){
                    Api.show(`/api/admin/proyectos`,this.$route.params.id).then((response)=>{
                        this.$store.state.index.proyecto = response.data.item;
                    })

                    this.$store.state.administracion.configuracion = this.proyecto;
                }

                if(r.name=='adm_administrador'){
                    this.$store.state.administracion.configuracion = this.user.proyecto;
                }
            })


            setTimeout(()=>{
                document.title = this.title;

                var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
                link.type = 'image/x-icon';
                link.rel = 'shortcut icon';
                link.href = this.baseURL+"/"+this.proyecto.archivo_icono.ruta_publica;
                document.getElementsByTagName('head')[0].appendChild(link);
            })

            if(this.proyecto.color_primary!=null){
                this.$store.state.index.sistema.bg_color = this.proyecto.color_primary;
            }
            
        }
    }
</script>
