<template>
    <v-card>
        <v-data-table v-bind="config">
            <template #item.severidad="{ item }">
                <v-icon v-if="item.severidad == 'critica'" color="red darken-3">
                mdi-alert
                </v-icon>
                <v-icon v-else-if="item.severidad == 'alta'" color="orange darken-4">
                mdi-alert
                </v-icon>
                <v-icon v-else-if="item.severidad == 'mayor'" color="amber darken-3">
                mdi-alert
                </v-icon>
                <v-icon v-else-if="item.severidad == 'intermedia'" color="yellow accent-3">
                mdi-alert-circle
                </v-icon>
                <v-icon v-else-if="item.severidad == 'menor'" color="light-blue darken-3">
                mdi-alert-circle
                </v-icon>
            </template>
        </v-data-table>
    </v-card>
</template>
<script>

// export MyDataTable from '@/components/DataTable'

export default {
    name: 'Alarmas',
    components: {

    },
    data: () => {
        return {
            config: {
                headers: [
                    {
                        text: 'Severidad',
                        value: 'severidad',
                        align: 'center',
                    },
                    {
                        text: 'Tipo',
                        value: 'tipo',
                    },
                    {
                        text: 'Grupo',
                        value: 'grupo',
                    },
                    {
                        text: 'Sitio',
                        value: 'sitio',
                    },
                    {
                        text: 'Dispositivo',
                        value: 'dispositivo',
                    },
                    {
                        text: 'Inicio',
                        value: 'inicio',
                    },
                    {
                        text: 'Fin',
                        value: 'fin',
                    },
                    {
                        text: 'Duración',
                        value: 'duracion',
                    }
                ],
                items: [
                    {
                        severidad: 'critica',
                        tipo: 'Dispositivo caído',
                        grupo: 'Proyecto 1',
                        sitio: 'Grupo 1',
                        dispositivo: '192.168.48.12',
                        inicio: '2021-01-01 12:24:53',
                        fin: '',
                        duracion: '',
                    },
                    {
                        severidad: 'alta',
                        tipo: 'Dispositivo caído',
                        grupo: 'Proyecto 1',
                        sitio: 'Grupo 1',
                        dispositivo: '192.168.48.12',
                        inicio: '2021-01-01 12:24:53',
                        fin: '2021-01-01 12:35:56',
                        duracion: '00:11:03',
                    },
                    {
                        severidad: 'mayor',
                        tipo: 'Dispositivo caído',
                        grupo: 'Proyecto 1',
                        sitio: 'Grupo 1',
                        dispositivo: '192.168.48.12',
                        inicio: '2021-01-01 12:24:53',
                        fin: '2021-01-01 12:35:56',
                        duracion: '00:11:03',
                    },
                    {
                        severidad: 'intermedia',
                        tipo: 'Dispositivo caído',
                        grupo: 'Proyecto 1',
                        sitio: 'Grupo 1',
                        dispositivo: '192.168.48.12',
                        inicio: '2021-01-01 12:24:53',
                        fin: '2021-01-01 12:35:56',
                        duracion: '00:11:03',
                    },
                    {
                        severidad: 'menor',
                        tipo: 'Dispositivo caído',
                        grupo: 'Proyecto 1',
                        sitio: 'Grupo 1',
                        dispositivo: '192.168.48.12',
                        inicio: '2021-01-01 12:24:53',
                        fin: '2021-01-01 12:35:56',
                        duracion: '00:11:03',
                    },
                    {
                        severidad: 'menor',
                        tipo: 'Dispositivo caído',
                        grupo: 'Proyecto 1',
                        sitio: 'Grupo 1',
                        dispositivo: '192.168.48.12',
                        inicio: '2021-01-01 12:24:53',
                        fin: '2021-01-01 12:35:56',
                        duracion: '00:11:03',
                    },
                    {
                        severidad: 'menor',
                        tipo: 'Dispositivo caído',
                        grupo: 'Proyecto 1',
                        sitio: 'Grupo 1',
                        dispositivo: '192.168.48.12',
                        inicio: '2021-01-01 12:24:53',
                        fin: '2021-01-01 12:35:56',
                        duracion: '00:11:03',
                    }
                ]
            }
        }
    }
}
</script>