<template>
    <v-card>
        <v-card-text>
            <fusioncharts
                v-bind="chart1.config"
                ></fusioncharts>
            <fusioncharts
                v-bind="chart2.config"
                ></fusioncharts>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    name: 'Dashboard',
    data: () => {
        return {
            chart1: {
                config: {
                    type: "column3d",
                    width: "100%",
                    height: "400",
                    dataFormat: "json",
                    dataSource: {
                        "chart": {
                            // "useRoundEdges": "1",
                            "caption": "Dispositivos",
                            // "subCaption": "In MMbbl = One Million barrels",
                            "xAxisName": "Estados de los dispositivos",
                            "yAxisName": "Cantidad",
                            "numberSuffix": "K",
                            "theme": "fusion"
                        },
                        "data": [
                            {
                                "label": "Conectados",
                                "value": "1345",
                                "color": "#2E7D32",
                            },
                            {
                                "label": "Alarmados",
                                "value": "452",
                                "color": "#C62828",
                            },
                            {
                                "label": "No manejados",
                                "value": "780",
                                "color": "#37474F",
                            },
                        ]
                    }
                }
            },
            chart2: {
                config: {
                    type: "column3d",
                    width: "100%",
                    height: "400",
                    dataFormat: "json",
                    dataSource: {
                        "chart": {
                            "caption": "Alarmas",
                            // "subCaption": "In MMbbl = One Million barrels",
                            "xAxisName": "Estados de los dispositivos",
                            "yAxisName": "Cantidad",
                            "numberSuffix": "K",
                            "theme": "fusion"
                        },
                        "data": [
                            {
                                "label": "Crítica",
                                "value": "102",
                                "color": "#C62828", //red darken-3
                            },
                            {
                                "label": "Alta",
                                "value": "43",
                                "color": "#E65100", //orange darken-4
                            },
                            {
                                "label": "Mayor",
                                "value": "120",
                                "color": "#FF8F00", //amber darken-3
                            },
                            {
                                "label": "Intermedia",
                                "value": "56",
                                "color": "#FFEA00", //yellow accent-3
                            },
                            {
                                "label": "Menor",
                                "value": "131",
                                "color": "#0277BD", //light-blue darken-3
                            },
                        ]
                    }
                }
            }
        }
    }
}
</script>
