<template>
    <v-card>
        <v-data-table v-bind="config">
            <template #item.estado="{ item }">
                <v-icon v-if="item.estado == 'normal'" color="success">
                mdi-alert-circle
                </v-icon>
                <v-icon v-else-if="item.estado == 'alertado'" color="red darken-3">
                mdi-alert
                </v-icon>
            </template>
            <template #item.tipo="{ item }">
                <v-icon v-if="item.tipo == 'router'" color="blue">
                mdi-router
                </v-icon>
                <v-icon v-else-if="item.tipo == 'switch'" color="success">
                mdi-switch
                </v-icon>
                <v-icon v-else-if="item.tipo == 'servidor'" color="warning">
                mdi-server
                </v-icon>
            </template>
        </v-data-table>
    </v-card>
</template>
<script>

// export MyDataTable from '@/components/DataTable'

export default {
    name: 'Dispositivos',
    components: {

    },
    data: () => {
        return {
            config: {
                headers: [
                    {
                        text: 'Estado',
                        value: 'estado',
                        align: 'center',
                    },
                    {
                        text: 'Tipo',
                        value: 'tipo',
                        align: 'center',
                    },
                    {
                        text: 'IP',
                        value: 'ip',
                        align: 'center',
                    },
                    {
                        text: 'Hostname',
                        value: 'hostname',
                    },
                    {
                        text: 'Contacto',
                        value: 'contacto',
                    },
                    {
                        text: 'Ubicación',
                        value: 'ubicacion',
                    },
                ],
                items: [
                    {
                        tipo: 'router',
                        estado: 'normal',
                        ip: '192.168.48.12',
                        hostname: 'RTR01COA',
                        contacto: 'Lic. Guillermo Martínez - +529871548967',
                        ubicacion: 'Sitio principal',
                    },
                    {
                        tipo: 'switch',
                        estado: 'normal',
                        ip: '192.168.48.13',
                        hostname: 'SWT001-GD01',
                        contacto: 'Lic. Guillermo Martínez - +529871548967',
                        ubicacion: 'Sitio principal',
                    },
                    {
                        tipo: 'router',
                        estado: 'alertado',
                        ip: '192.168.48.14',
                        hostname: 'RTR02COA',
                        contacto: 'Lic. Guillermo Martínez - +529871548967',
                        ubicacion: 'Sitio principal',
                    },
                    {
                        tipo: 'router',
                        estado: 'normal',
                        ip: '192.168.48.15',
                        hostname: 'RTR03COA',
                        contacto: 'Lic. Guillermo Martínez - +529871548967',
                        ubicacion: 'Sitio principal',
                    },
                    {
                        tipo: 'router',
                        estado: 'normal',
                        ip: '192.168.48.16',
                        hostname: 'RTR04COA',
                        contacto: 'Lic. Guillermo Martínez - +529871548967',
                        ubicacion: 'Sitio principal',
                    },
                    {
                        tipo: 'servidor',
                        estado: 'alertado',
                        ip: '192.168.48.17',
                        hostname: 'SRV003-ADN',
                        contacto: 'Lic. Guillermo Martínez - +529871548967',
                        ubicacion: 'Sitio principal',
                    },
                    {
                        tipo: 'switch',
                        estado: 'normal',
                        ip: '192.168.48.18',
                        hostname: 'SWT002-GD01',
                        contacto: 'Lic. Guillermo Martínez - +529871548967',
                        ubicacion: 'Sitio principal',
                    }
                ]
            }
        }
    }
}
</script>