<template>
    <v-card
            class="mx-auto my-0"
    >
        <template slot="progress">
            <v-progress-linear
                    color="deep-purple"
                    height="10"
                    indeterminate
            ></v-progress-linear>
        </template>

        <v-card-title>Información</v-card-title>

        <v-card-text>
            <v-list class="transparent" dense>
                <v-list-item v-for="(info, index) in info_detalles" :key="index">
                    <p class="text-left font-weight-bold w-200">{{ index }}:</p>
                    <p class="text-left">{{ info }}</p>
                </v-list-item>
            </v-list>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>

        <v-card-title>Monitoreo</v-card-title>

        <v-card-text>
            <v-row>
                <v-col cols="6">
                    <v-list class="transparent" dense>
                        <v-list-item>
                            <p class="text-left font-weight-bold w-150">Monitoreo SNMP:</p>
                            <p class="text-left">
                                <v-icon color="success">mdi-check</v-icon>
                            </p>
                        </v-list-item>
                        <v-list-item>
                            <p class="text-left font-weight-bold w-150">Conectividad por CLI:</p>
                            <p class="text-left">
                                <v-icon color="success">mdi-check</v-icon>
                            </p>
                        </v-list-item>
                        <v-list-item>
                            <p class="text-left font-weight-bold w-150">Inventario de HW:</p>
                            <p class="text-left">
                                <v-icon color="success">mdi-check</v-icon>
                            </p>
                        </v-list-item>
                        <v-list-item>
                            <p class="text-left font-weight-bold w-150">Estadísticas:</p>
                            <p class="text-left">
                                <v-icon color="success">mdi-check</v-icon>
                            </p>
                        </v-list-item>
                        <v-list-item v-for="(info, index) in info_monitoreo" :key="index">
                            <p class="text-left font-weight-bold w-300">{{ index }}:</p>
                            <p class="text-left">{{ info }}</p>
                        </v-list-item>
                    </v-list>
                </v-col>
                <v-col cols="6">
                    <v-list class="transparent" dense>
                        <v-list-item>
                            <p class="text-left font-weight-bold w-150">Tipo:</p>
                            <p class="text-left">
                                v2
                            </p>
                        </v-list-item>
                        <v-list-item>
                            <p class="text-left font-weight-bold w-150">Protocolo:</p>
                            <p class="text-left">
                                telnet
                            </p>
                        </v-list-item>
                    </v-list>
                </v-col>
            </v-row>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-title>Sitio</v-card-title>

        <v-card-text>
            <v-list class="transparent" dense>
                <v-list-item v-for="(info, index) in info_sitio" :key="index">
                    <p class="text-left font-weight-bold w-200">{{ index }}:</p>
                    <p class="text-left">{{ info }}</p>
                </v-list-item>
            </v-list>
        </v-card-text>

    </v-card>
</template>
<style>
.w-150 {
    min-width: 180px;
}

.w-200 {
    min-width: 200px;
}

.w-300 {
    min-width: 300px;
}

.v-list--dense .v-list-item, .v-list-item--dense {
    min-height: 30px;
}
</style>
<script>
export default {
    name: 'InformacionDispositivo',
    data: () => ({
        info_detalles:
                {
                    Dispositivo: 'RT01COA-71348708',
                    IP: '192.168.149.24',
                    Hostname: 'RT01COA-71348708',
                    Tipo: 'Router',
                    Proyecto: '-',
                    SysOID: '1.3.6.1.4.1.9.569',
                    'Descripción': 'Cisco IOS Software, C870 Software (C870-ADVIPSERVICESK9-M), Version 12.4(15)T13, RELEASE SOFTWARE (fc3) ' +
                            'Technical Support: http://wwww.cisco.com/techsupport Copyright (c) 1986-2010 by Cisco',
                },
        info_monitoreo:
                {
                    'Número de Interfaces Monitoreadas': 3,
                    'Número de Recursos Monitoreados': 3,
                    'Número de QOS Monitoreados': '-',
                    'Número de SLA Monitoreados': '-',
                },
        info_sitio:
                {
                    'Contacto.Correo-e': '-',
                    'Contacto.Nombre': '-',
                    'Contacto.Teléfono': '-',
                    'Dirección.C.P.': '-',
                    'Dirección.Calle y número': '-',
                    'Dirección.Colonia': '-',
                    'Dirección.Estado': '-',
                    'Dirección.Municipio': '-',
                    'Dirección.Criticidad': '-',
                    'Dirección.Enlace': '-',
                    'Dirección.Fecha fin': '-',
                    'Dirección.Fecha inicio': '-',
                    'Dirección.Grupo': '-',
                    'Dirección.Horario': '-',
                }

    })
}
</script>