<template>
    <v-card
            class="mx-auto my-0"
    >
        <template slot="progress">
            <v-progress-linear
                    color="deep-purple"
                    height="10"
                    indeterminate
            ></v-progress-linear>
        </template>

        <v-row>
            <v-col cols="8">

                <v-data-table
                        :headers="headers"
                        :items="desserts"
                        class="elevation-1"
                        hide-default-footer
                        dense
                        item-key="alias"
                        :expanded.sync="expanded"
                        show-expand
                >
                    <template v-slot:expanded-item="{ headers, item }">
                        <td :colspan="headers.length">

                            <v-list class="transparent" dense>
                                <v-list-item v-for="(head, index) in headers" :key="index">
                                    <p class="text-left font-weight-bold w-150" v-if="head.text">{{ head.text }}:</p>
                                    <p class="text-left">
                                        {{ item[head.value] }}
                                    </p>
                                </v-list-item>
                            </v-list>

                        </td>
                    </template>
                    <template v-slot:item.estado="{ item }">
                        <v-icon
                                :color="(item.estado)?'success':'#ccc'"
                        >
                            mdi-checkbox-blank-circle
                        </v-icon>
                    </template>
                    <template v-slot:item.enlace="{ item }">
                        <v-simple-checkbox
                                v-model="item.enlace"
                        ></v-simple-checkbox>
                    </template>
                    <template v-slot:item.estadisticas="{ item }">
                        <v-simple-checkbox
                                v-model="item.estadisticas"
                        ></v-simple-checkbox>
                    </template>
                    <template v-slot:item.disponibilidad="{ item }">
                        <v-simple-checkbox
                                v-model="item.disponibilidad"
                        ></v-simple-checkbox>
                    </template>
                </v-data-table>

            </v-col>
            <v-col cols="4">
                <v-data-table
                        :headers="headers2"
                        :items="desserts2"
                        hide-default-footer
                        dense
                        item-key="alias"
                        :expanded.sync="expanded2"
                        show-expand
                >
                    <template v-slot:item.estado="{ item }">
                        <v-icon
                                :color="(item.estado)?'success':'red'"
                        >
                            mdi-checkbox-blank-circle
                        </v-icon>
                    </template>
                    <template v-slot:expanded-item="{ headers, item }">
                        <td :colspan="headers.length">

                            <v-list class="transparent" dense>
                                <v-list-item v-for="(head, index) in headers" :key="index">
                                    <p class="text-left font-weight-bold w-150" v-if="head.text">{{ head.text }}:</p>
                                    <p class="text-left">
                                        {{ item[head.value] }}
                                    </p>
                                </v-list-item>
                            </v-list>

                        </td>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>


    </v-card>
</template>
<style>
.w-150 {
    min-width: 180px;
}

.w-200 {
    min-width: 200px;
}

.w-300 {
    min-width: 300px;
}

.v-list--dense .v-list-item, .v-list-item--dense {
    min-height: 30px;
}

.container {
    max-width: 1315px;
}
.col{
    padding: 16px 2px;
}
</style>
<script>
export default {
    name: 'Interfaces',
    data: () => ({
        expanded: [],
        expanded2: [],
        desserts: [
            {
                estado: 1,
                indice: 4,
                alias: 'ATM0/3/0',
                Velocidad: 1020000,
                qos: 0,
                respaldo: '',
                enlace: false,
                estadisticas: true,
                disponibilidad: false,
            },
            {
                estado: 1,
                indice: 3,
                alias: 'Serial0/10',
                velocidad: 512000,
                qos: 0,
                respaldo: '',
                enlace: false,
                estadisticas: true,
                disponibilidad: false,
            },
            {
                estado: 1,
                indice: 1,
                alias: 'FastEthernet0/0',
                velocidad: 1000000,
                qos: 0,
                respaldo: '4',
                enlace: false,
                estadisticas: true,
                disponibilidad: false,
            },
        ],
        headers: [
            {
                text: 'Estado',
                align: 'start',
                sortable: false,
                value: 'estado',
            },
            { text: 'Indice', value: 'indice' },
            { text: 'Alias', value: 'alias' },
            { text: 'Velocidad', value: 'velocidad' },
            { text: 'QoS', value: 'qos' },
            { text: 'Respaldo', value: 'respaldo' },
            { text: 'Enlace', value: 'enlace' },
            { text: 'Estadísticas', value: 'estadisticas'},
            { text: 'Disponibilidad', value: 'disponibilidad' },
        ],
        headers2: [
            {
                text: 'Estado',
                align: 'start',
                sortable: false,
                value: 'estado',
            },
            { text: 'Alias', value: 'alias' },
            { text: 'Velocidad', value: 'velocidad' },
        ],
        desserts2: [
            {
                estado: 1,
                alias: 'ATM0/3/01',
                Velocidad: 1020000,
            },
            {
                estado: 1,
                alias: 'Serial0/101',
                velocidad: 512000,
            },
            {
                estado: 0,
                alias: 'FastEthernet0/01',
                velocidad: 1000000,
            },
            {
                estado: 1,
                alias: 'ATM0/3/02',
                Velocidad: 1020000,
            },
            {
                estado: 0,
                alias: 'Serial0/102',
                velocidad: 512000,
            },
            {
                estado: 1,
                alias: 'FastEthernet0/02',
                velocidad: 1000000,
            },
            {
                estado: 1,
                alias: 'ATM0/3/03',
                Velocidad: 1020000,
            },
            {
                estado: 1,
                alias: 'Serial0/103',
                velocidad: 512000,
            },
            {
                estado: 1,
                alias: 'FastEthernet0/03',
                velocidad: 1000000,
            },
        ],
    })
}
</script>