<template>
    <v-card>
        <v-data-table v-bind="config">
            <template #item.servidor="{ item }">
                <v-icon color="success" left>mdi-server</v-icon>
                {{ item.servidor }}
            </template>
        </v-data-table>
    </v-card>
</template>
<script>

// export MyDataTable from '@/components/DataTable'

export default {
    name: 'ProyectosRedundantes',
    components: {

    },
    data: () => {
        return {
            config: {
                headers: [
                    {
                        text: 'Nombre',
                        value: 'nombre',
                        align: 'center',
                    },
                    {
                        text: 'Servidor redundante',
                        value: 'servidor',
                    },
                ],
                items: [
                    {
                        nombre: 'Proyecto 1',
                        servidor: 'http://192.168.207.29:8080/nms/web/RedundantService?wsdl',
                    },
                ]
            }
        }
    }
}
</script>