<template>
    <v-card
            class="mx-auto my-0"
    >
        <template slot="progress">
            <v-progress-linear
                    color="deep-purple"
                    height="10"
                    indeterminate
            ></v-progress-linear>
        </template>

        <v-row>
            <v-col cols="7">

                <v-data-table
                        :headers="headers"
                        :items="desserts"
                        class="elevation-1"
                        hide-default-footer
                        dense
                        item-key="interfaz"
                        :expanded.sync="expanded"
                        show-expand
                >
                    <template v-slot:expanded-item="{ headers, item }">
                        <td :colspan="headers.length">

                            <v-list class="transparent" dense>
                                <v-list-item v-for="(head, index) in headers" :key="index">
                                    <p class="text-left font-weight-bold w-150" v-if="head.text">{{ head.text }}:</p>
                                    <p class="text-left">
                                        {{ item[head.value] }}
                                    </p>
                                </v-list-item>
                            </v-list>

                        </td>
                    </template>
                    <template v-slot:item.estado="{ item }">
                        <v-icon
                                :color="(item.estado)?'success':'#ccc'"
                        >
                            mdi-checkbox-blank-circle
                        </v-icon>
                    </template>
                    <template v-slot:item.enlace="{ item }">
                        <v-simple-checkbox
                                v-model="item.enlace"
                        ></v-simple-checkbox>
                    </template>
                    <template v-slot:item.estadisticas="{ item }">
                        <v-simple-checkbox
                                v-model="item.estadisticas"
                        ></v-simple-checkbox>
                    </template>
                    <template v-slot:item.disponibilidad="{ item }">
                        <v-simple-checkbox
                                v-model="item.disponibilidad"
                        ></v-simple-checkbox>
                    </template>
                </v-data-table>

            </v-col>
            <v-col cols="5">
                <v-data-table
                        :headers="headers2"
                        :items="desserts2"
                        hide-default-footer
                        dense
                        item-key="interfaz"
                        :expanded.sync="expanded2"
                        show-expand
                >
                    <template v-slot:item.estado="{ item }">
                        <v-icon
                                :color="(item.estado)?'success':'red'"
                        >
                            mdi-checkbox-blank-circle
                        </v-icon>
                    </template>
                    <template v-slot:expanded-item="{ headers, item }">
                        <td :colspan="headers.length">

                            <v-list class="transparent" dense>
                                <v-list-item v-for="(head, index) in headers" :key="index">
                                    <p class="text-left font-weight-bold w-150" v-if="head.text">{{ head.text }}:</p>
                                    <p class="text-left">
                                        {{ item[head.value] }}
                                    </p>
                                </v-list-item>
                            </v-list>

                        </td>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>


    </v-card>
</template>
<style>
.w-150 {
    min-width: 180px;
}

.w-200 {
    min-width: 200px;
}

.w-300 {
    min-width: 300px;
}

.v-list--dense .v-list-item, .v-list-item--dense {
    min-height: 30px;
}

.container {
    max-width: 1315px;
}
.col{
    padding: 16px 2px;
}
</style>
<script>
export default {
    name: 'Qos',
    data: () => ({
        expanded: [],
        expanded2: [],
        desserts: [
            {
                estado: 1,
                interfaz: 19,
                politica: 'WAN',
                clase: 'CLASE-P2',
                tipo: 'Salida',
            },
            {
                estado: 1,
                interfaz: 20,
                politica: 'WAN',
                clase: 'CLASE-P2',
                tipo: 'Salida',
            },
            {
                estado: 1,
                interfaz: 21,
                politica: 'WAN',
                clase: 'dass-default',
                tipo: 'Salida',
            },
        ],
        headers: [
            {
                text: 'Estado',
                align: 'start',
                sortable: false,
                value: 'estado',
            },
            { text: 'Interfaz', value: 'interfaz' },
            { text: 'Política', value: 'politica' },
            { text: 'Clase', value: 'clase' },
            { text: 'Tipo', value: 'tipo' },
        ],
        headers2: [
            {
                text: 'Estado',
                align: 'start',
                sortable: false,
                value: 'estado',
            },
            { text: 'Interfaz', value: 'interfaz' },
            { text: 'Política', value: 'politica' },
            { text: 'Clase', value: 'clase' },
            { text: 'Tipo', value: 'tipo' },
        ],
        desserts2: [
            {
                estado: 0,
                interfaz: 19,
                politica: 'WAN',
                clase: 'CLASE-P2',
                tipo: 'Salida',
            },
            {
                estado: 0,
                interfaz: 20,
                politica: 'WAN',
                clase: 'CLASE-P2',
                tipo: 'Salida',
            },
            {
                estado: 0,
                interfaz: 21,
                politica: 'WAN',
                clase: 'dass-default',
                tipo: 'Salida',
            },
        ],
    })
}
</script>