<template>
    <v-card
            class="mx-auto my-0"
    >
        <template slot="progress">
            <v-progress-linear
                    color="deep-purple"
                    height="10"
                    indeterminate
            ></v-progress-linear>
        </template>

        <v-row>
            <v-col cols="7">

                <v-data-table
                        :headers="headers"
                        :items="desserts"
                        class="elevation-1"
                        hide-default-footer
                        dense

                >
                    <template v-slot:item.estado="{ item }">
                        <v-icon
                                :color="(item.estado)?'success':'#ccc'"
                        >
                            mdi-checkbox-blank-circle
                        </v-icon>
                    </template>
                    <template v-slot:item.enlace="{ item }">
                        <v-simple-checkbox
                                v-model="item.enlace"
                        ></v-simple-checkbox>
                    </template>
                    <template v-slot:item.estadisticas="{ item }">
                        <v-simple-checkbox
                                v-model="item.estadisticas"
                        ></v-simple-checkbox>
                    </template>
                    <template v-slot:item.disponibilidad="{ item }">
                        <v-simple-checkbox
                                v-model="item.disponibilidad"
                        ></v-simple-checkbox>
                    </template>
                </v-data-table>

            </v-col>
            <v-col cols="5">
                <v-data-table
                        :headers="headers2"
                        :items="desserts2"
                        hide-default-footer
                        dense

                >
                    <template v-slot:item.estado="{ item }">
                        <v-icon
                                :color="(item.estado)?'success':'#ccc'"
                        >
                            mdi-checkbox-blank-circle
                        </v-icon>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>


    </v-card>
</template>
<style>
.w-150 {
    min-width: 180px;
}

.w-200 {
    min-width: 200px;
}

.w-300 {
    min-width: 300px;
}

.v-list--dense .v-list-item, .v-list-item--dense {
    min-height: 30px;
}

.container {
    max-width: 1315px;
}
.col{
    padding: 16px 2px;
}
</style>
<script>
export default {
    name: 'Recursos',
    data: () => ({
        expanded: [],
        expanded2: [],
        desserts: [
            {
                estado: 1,
                indice: 0,
                nombre: 'Processor',
                recurso: 'Procesador',
                tipo: 0,
                tamanio: 'N/A',
                unidades: 'N/A',
                perfil: 'PROY_CISCO_CAJA',
            },
            {
                estado: 1,
                indice: 2,
                nombre: 'I/O',
                recurso: 'Memoria RAM',
                tipo: 0,
                tamanio: '16777216',
                unidades: 1,
                perfil: 'PROY_CISCO_CAJA',
            },
            {
                estado: 1,
                indice: 1,
                nombre: 'Processor',
                recurso: 'Memoria RAM',
                tipo: 0,
                tamanio: '209856464',
                unidades: 1,
                perfil: 'PROY_CISCO_CAJA',
            },
        ],
        headers: [
            {
                text: 'Estado',
                align: 'start',
                sortable: false,
                value: 'estado',
            },
            { text: 'Indice', value: 'indice' },
            { text: 'Nombre', value: 'nombre' },
            { text: 'Recurso', value: 'recurso' },
            { text: 'Tipo', value: 'tipo' },
            { text: 'Tamaño', value: 'tamanio' },
            { text: 'Unidades', value: 'unidades' },
            { text: 'Perfil', value: 'perfil'},
        ],
        desserts2: [
            {
                estado: 0,
                indice: 0,
                nombre: 'Processor',
                recurso: 'Procesador',
                tipo: 0,
                tamanio: 'N/A',
                unidades: 'N/A',
                perfil: '',
            },
            {
                estado: 0,
                indice: 2,
                nombre: 'I/O',
                recurso: 'Memoria RAM',
                tipo: 0,
                tamanio: '16777216',
                unidades: 1,
                perfil: '',
            },
            {
                estado: 0,
                indice: 1,
                nombre: 'Processor',
                recurso: 'Memoria RAM',
                tipo: 0,
                tamanio: '209856464',
                unidades: 1,
                perfil: '',
            },
        ],
        headers2: [
            {
                text: 'Estado',
                align: 'start',
                sortable: false,
                value: 'estado',
            },
            { text: 'Indice', value: 'indice' },
            { text: 'Nombre', value: 'nombre' },
            { text: 'Recurso', value: 'recurso' },
            { text: 'Tipo', value: 'tipo' },
            { text: 'Tamaño', value: 'tamanio' },
            { text: 'Unidades', value: 'unidades' },
            { text: 'Perfil', value: 'perfil'},
        ],
    })
}
</script>