<template>
    <v-card
            class="mx-auto my-0"
    >
        <template slot="progress">
            <v-progress-linear
                    color="deep-purple"
                    height="10"
                    indeterminate
            ></v-progress-linear>
        </template>

        <v-row>
            <v-col cols="8">

                <v-data-table
                        :headers="headers"
                        :items="desserts"
                        class="elevation-1"
                        hide-default-footer
                        dense
                >
                    <template v-slot:item.estado="{ item }">
                        <v-icon
                                :color="(item.estado)?'success':'#ccc'"
                        >
                            mdi-checkbox-blank-circle
                        </v-icon>
                    </template>
                    <template v-slot:item.tunel="{ item }">
                        <v-simple-checkbox
                                v-model="item.tunel"
                        ></v-simple-checkbox>
                    </template>
                </v-data-table>

            </v-col>
            <v-col cols="4">
                <v-data-table
                        :headers="headers2"
                        :items="desserts2"
                        hide-default-footer
                        dense
                >
                    <template v-slot:item.estado="{ item }">
                        <v-icon
                                :color="(item.estado)?'success':'red'"
                        >
                            mdi-checkbox-blank-circle
                        </v-icon>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>


    </v-card>
</template>
<style>
.w-150 {
    min-width: 180px;
}

.w-200 {
    min-width: 200px;
}

.w-300 {
    min-width: 300px;
}

.v-list--dense .v-list-item, .v-list-item--dense {
    min-height: 30px;
}

.container {
    max-width: 1315px;
}
.col{
    padding: 16px 2px;
}
</style>
<script>
export default {
    name: 'Slas',
    data: () => ({
        expanded: [],
        expanded2: [],
        desserts: [
            {
                estado: 1,
                indice: 1,
                tipo: 'echo',
                direccion: '15.150.10.10',
                alias: '',
                frecuencia: 60,
                duracion: 'Por siempre',
                clase: '',
                tunel: true,
                perfil: '',
            },
            {
                estado: 1,
                indice: 10,
                tipo: 'echo',
                direccion: '15.161.5.2',
                alias: '',
                frecuencia: 300,
                duracion: 'Por siempre',
                clase: 'rpvm_voz / Salida',
                tunel: false,
                perfil: '',
            },
            {
                estado: 1,
                indice: 11,
                tipo: 'jitler',
                direccion: '15.161.5.2',
                alias: '',
                frecuencia: 300,
                duracion: 'Por siempre',
                clase: 'rpvm_voz / Salida',
                tunel: false,
                perfil: '',
            },
        ],
        headers: [
            {
                text: 'Estado',
                align: 'start',
                sortable: false,
                value: 'estado',
            },
            { text: 'Indice', value: 'indice' },
            { text: 'Tipo', value: 'tipo' },
            { text: 'Dirección', value: 'direccion' },
            { text: 'Alias', value: 'alias' },
            { text: 'Frecuencia', value: 'frecuencia' },
            { text: 'Duración', value: 'duracion' },
            { text: 'Clase', value: 'clase'},
            { text: 'Tunel', value: 'tunel' },
            { text: 'Perfil', value: 'perfil' },
        ],
        headers2: [
            {
                text: 'Estado',
                align: 'start',
                sortable: false,
                value: 'estado',
            },
            { text: 'Indice', value: 'indice' },
            { text: 'Tipo', value: 'tipo' },
            { text: 'Dirección', value: 'direccion' },
            { text: 'Alias', value: 'alias' },
            { text: 'Frecuencia', value: 'frecuencia' },
            { text: 'Duración', value: 'duracion' },
            { text: 'Clase', value: 'clase'},
            { text: 'Perfil', value: 'perfil' },
        ],
        desserts2: [
            {
                estado: 0,
                indice: 1,
                tipo: 'echo',
                direccion: '15.150.10.10',
                alias: '',
                frecuencia: 60,
                duracion: 'Por siempre',
                clase: '',
                tunel: true,
                perfil: '',
            },
            {
                estado: 0,
                indice: 10,
                tipo: 'echo',
                direccion: '15.161.5.2',
                alias: '',
                frecuencia: 300,
                duracion: 'Por siempre',
                clase: 'rpvm_voz / Salida',
                tunel: false,
                perfil: '',
            },
            {
                estado: 0,
                indice: 11,
                tipo: 'jitler',
                direccion: '15.161.5.2',
                alias: '',
                frecuencia: 300,
                duracion: 'Por siempre',
                clase: 'rpvm_voz / Salida',
                tunel: false,
                perfil: '',
            },
        ],
    })
}
</script>