<template>
    <v-card
            class="mx-auto my-0"
    >
        <template slot="progress">
            <v-progress-linear
                    color="deep-purple"
                    height="10"
                    indeterminate
            ></v-progress-linear>
        </template>

        <v-card-text>
            <v-row>
                <h1>
                    Syslogs
                </h1>
            </v-row>
        </v-card-text>


    </v-card>
</template>
<style>
.w-150 {
    min-width: 180px;
}

.w-200 {
    min-width: 200px;
}

.w-300 {
    min-width: 300px;
}

.v-list--dense .v-list-item, .v-list-item--dense {
    min-height: 30px;
}

.container {
    max-width: 1315px;
}
.col{
    padding: 16px 2px;
}
</style>
<script>
export default {
    name: 'Syslogs',
}
</script>