<template>
    <v-card>
        <v-card-text>
            <cool-light-box 
                :items="items" 
                :index="index"
                @close="index = null">
            </cool-light-box>

            <div class="images-wrapper">
                <v-row>
                    <v-col cols="4" v-for="(image, imageIndex) in items" :key="imageIndex">
                        <v-card>
                            <v-skeleton-loader
                              class="mx-auto"
                              max-width="300"
                              type="image"
                              v-if="loading"
                            ></v-skeleton-loader>
                            <v-img
                                v-show="!loading"
                                @click="index = imageIndex"
                                :src="image"
                                height="250"
                                width="100%"
                                contain
                                class="blue darken-4 pointer"
                            ></v-img>
                            <v-card-title class="title">Diagrama {{ imageIndex + 1 }}</v-card-title>
                        </v-card>
                    </v-col>
                </v-row>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>

import CoolLightBox from 'vue-cool-lightbox'
import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css'

export default {
    name: 'TopologiaDeRed',
    components: {
        CoolLightBox
    },
    data: () => {
        return {
            loading: true,
            items: [
                'https://cdn-cashy-static-assets.lucidchart.com/marketing/pages/consideration-page/NetworkDiagram/_new_Cisco-Network-Diagram.png',
                'https://i1.wp.com/aplicacionesysistemas.com/wp-content/uploads/2020/10/ripv2_1.png',
                'https://www.researchgate.net/profile/Yanko-Antonio-Muro/publication/336441596/figure/fig3/AS:812835483430912@1570806489206/Figura-8-Red-tradicional-disenada-con-Cisco-Packet-Tracer-Fuente-Autor.jpg'
            ],
            index: null
        };
    },
    mounted(){
        setTimeout(() => this.loading = false, 2000)
    }
}
</script>

<style>
    .pointer {
        cursor: pointer;
    }
</style>