<template>
    <v-dialog v-model="dialog" persistent max-width="600px" transition="dialog-bottom-transition">
        <template v-slot:activator="{ on }">
            <span v-on="on">
                <v-tooltip bottom color="black">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" dark icon @click.prevent="load(null)">
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                    </template>
                    <span>Nuevo Registro</span>
                </v-tooltip>
            </span>
        </template>
        <v-card>
            <v-toolbar dense dark :color="sistema.bg_color">
                <v-toolbar-title>
                    <v-icon class="mr-2 pb-1">{{titleIcon}}</v-icon>
                    <span>{{Formulario.id!=null ? 'EDITAR': 'AGREGAR'}} SITIO</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click.prevent="closeDialog()">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text class="px-4 pt-4 py-0">
                <v-form ref="formulario">
                    <v-row no-gutters>
                        <v-col cols="12" class="px-1">
                            <v-autocomplete label="Sitio Padre" :items="catalogo_sitios" item-value="id" placeholder="Opcional" clearable dense outlined autocomplete="off" v-model="Formulario.sitio_padre_id"></v-autocomplete>
                        </v-col>
                        <v-col cols="12" class="px-1">
                            <v-text-field label="Nombre" dense outlined autocomplete="off" v-model="Formulario.nombre"></v-text-field>
                        </v-col>
                        <v-col cols="12" class="px-1">
                            <v-text-field label="Calle" dense outlined autocomplete="off" v-model="Formulario.direccion.calle"></v-text-field>
                        </v-col>
                        <v-col cols="9" class="px-1">
                            <v-text-field label="Cruzamientos" dense outlined autocomplete="off" v-model="Formulario.direccion.cruzamientos"></v-text-field>
                        </v-col>
                        <v-col cols="3" class="px-1">
                            <v-text-field label="Codigo Postal" dense outlined autocomplete="off" v-model="Formulario.direccion.codigo_postal"></v-text-field>
                        </v-col>
                        <v-col cols="6" class="px-1">
                            <v-text-field label="Colonia" dense outlined autocomplete="off" v-model="Formulario.direccion.colonia"></v-text-field>
                        </v-col>
                        <v-col cols="6" class="px-1">
                            <v-text-field label="Ciudad" dense outlined autocomplete="off" v-model="Formulario.direccion.ciudad"></v-text-field>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
            <v-card-actions class="pa-4">
                <v-spacer></v-spacer>
                <v-btn outlined dark color="#D50000" @click.prevent="closeDialog()">
                    <span class="font-weight-bold">CANCELAR</span>
                </v-btn>
                <v-btn outlined dark color="primary" @click.prevent="save()">
                    <span class="font-weight-bold">GUARDAR</span>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    import EventBus from '@/plugins/event-bus.js';
    import Api from '@/components/Api.js';
    import { mapGetters } from 'vuex';

    export default{
        name: 'Administradores-Formulario',
        props:['url','title','titleIcon','params'],
        data: ()=>({
            dialog:false,
            edit: false,
            Formulario: {
                direccion:{}
            },
        }),
        computed:{
            ...mapGetters({
                sistema: 'administracion/sistema',
                user: 'index/user',    
                catalogo_sitios: 'administracion/catalogo_sitios',    
            })
        },
        mounted() {

            EventBus.$on('openSitio', data => {
                this.load(data);
                this.edit = true;
                this.dialog = true;
            });
        },
        methods:{
            reloadTable(){
                EventBus.$emit('reloadTable');
                this.closeDialog();
                this.$store.dispatch('administracion/getSelectSitios');
            },
            load(data){
                if(data!=null){
                    this.Formulario = _.cloneDeep(data)
                }

                this.Formulario.proyecto_id = _.cloneDeep(this.user.proyecto_id);
            },
            save(){
                if(this.$refs.formulario.validate()){
                    if(this.edit){ 
                        Api.edit(this.url, this.Formulario.id, this.Formulario).then((response)=>{
                            if(response.data.success){
                                this.$notify({
                                    text: response.data.message,
                                    type: 'success',
                                    position: 'left',
                                })
                                this.reloadTable();
                            }else{
                                this.$notify({
                                    text: response.data.message,
                                    type: 'error',
                                })
                            }
                        });   
                    }else{
                        Api.add(this.url, this.Formulario).then((response)=>{
                            if(response.data.success){
                                this.$notify({
                                    text: response.data.message,
                                    type: 'success',
                                })
                                this.reloadTable();
                            }else{
                                this.$notify({
                                    text: response.data.message,
                                    type: 'error',
                                })
                            }
                        });   
                    }
                }else{
                    this.$notify({
                        text: 'POR FAVOR, PROPORCIONA LOS CAMPOS SOLICITADOS...',
                        type: 'error'
                    });
                }
            },
            closeDialog(){
                this.dialog = false;
                this.edit = false;
                this.$refs.formulario.reset();
            }
        }
    }
</script>