<template>
    <v-container style="max-width: 100%" grid-list-xl>
        <v-layout wrap>
            <v-flex md12 sm12 lg12>
                <my-data-table v-bind="dataTableData">
                    <template v-slot:item.persona.nombres="{item}">
                        <span>{{item.persona.nombres}} {{item.persona.apellido_paterno}} {{item.persona.apellido_materno}}</span>
                    </template>
                    <template v-slot:item.action="{item}">
                        <v-tooltip bottom color="black">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" icon>
                                    <v-icon color="black">mdi-ticket-outline</v-icon>
                                </v-btn>
                            </template>
                            <span>Alertas</span>
                        </v-tooltip>

                        <v-tooltip bottom color="black">
                            <template v-slot:activator="{ on, attrs }">
                                <span v-bind="attrs" v-on="on">
                                    <v-btn @click.prevent="chargeData(item)" icon>
                                        <v-icon color="primary">mdi-file-edit</v-icon>
                                    </v-btn>
                                </span>
                            </template>
                            <span>Actualizar Registro</span>
                        </v-tooltip>
                        
                        <v-tooltip bottom color="black">
                            <template v-slot:activator="{ on, attrs }">
                                <span v-bind="attrs" v-on="on">
                                    <DialogContacto route="/api/admin/contactos" :item="item" title="Sitio" :nameSpaceState='"administracion"'/>
                                </span>
                            </template>
                            <span>Asignar Contacto</span>
                        </v-tooltip>

                        <!-- <v-tooltip bottom color="black">
                            <template v-slot:activator="{ on, attrs }">
                                <span v-bind="attrs" v-on="on">
                                    <DialogEliminar @reloadTable="reloadTable" title="Proyecto" :item="item" :route="urlApi"  :nameSpaceState="'administracion'"/>
                                </span>
                            </template>
                            <span>Eliminar Registro</span>
                        </v-tooltip> -->
                    </template>
                </my-data-table>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

    import MyDataTable from '@/components/DataTable.vue';
    import DialogContacto from '@/components/DialogContacto.vue'
    // import DialogEliminar from '@/components/DialogEliminar.vue'
    import EventBus from '@/plugins/event-bus.js';

    export default {
        name: 'Administradores',
        components: {
            MyDataTable,
            DialogContacto,
        },
        data: () => ({
            componentNew: () => import('./Formulario.vue'),
        }),
        computed: {
            urlApi(){
                return "api/admin/sitios";
            },
            dataTableData(){
                return {
                    ref: 'tabla',
                    title: 'Sitios',
                    storeKey:"sitios-datatables",
                    nameSpaceState:'administracion',
                    headers: [
                        { text: '#', value: 'id' },
                        { text: 'Nombre', value: 'nombre', filterable: true},
                        // { text: 'Proyecto', value: 'proyecto.nombre', filterable: true },
                        { text: 'Contacto', value: 'contacto_nombre', filterable: true },
                        { text: 'Acciones', value: 'action',  sortable: false },
                    ],
                    url: this.urlApi,
                    titleIcon:"mdi-office-building-marker",
                    componentNew: {
                        title: 'Nuevo Registro',
                        // name: 'Administracion-Usuarios', //NAME ROUTE
                        component: this.componentNew,
                        params: {
                            titleIcon:"mdi-office-building-marker",
                            url: this.urlApi,
                        }
                    },
                }
            },
        },
        mounted(){
            this.$store.dispatch('administracion/getSelectSitios');
            
            EventBus.$on('reloadTable', ()=>{
                this.reloadTable();
            });
        },
        methods:{
            chargeData(item){
                EventBus.$emit('openSitio', item);
            },
            reloadTable(){
                this.$refs.tabla.reloadTable();
            }
        }
    }
</script>
