<template>
  <div class="fill-height">
    <v-row>
      <!--Primera columna donde se muestra la lista de los grupos tanto seleccionando severidades o tipos -->
      <v-col
        cols="12"
        class="col-xs-12 col-md-8 col-lg-8 col-xl-9 overflow-y-auto"
        sm="12"
        :style="
          $vuetify.breakpoint.name == 'xs'
            ? ''
            : 'max-height:' + ($vuetify.breakpoint.height - 64) + 'px'
        "
      >
        <v-card class="mx-auto" style="overflow-y-auto">
          <v-container
            :style="'background-color:' + sistema.hex_color + ';color:white'"
          >
            <v-row>
              <v-col class="col-xl-9 col-lg-9">
                <v-tabs
                  v-model="tabs"
                  center-active
                  :background-color="sistema.bg_color"
                  color="white"
                >
                  <v-tab>Severidades</v-tab>
                  <v-tab>Tipos</v-tab>
                </v-tabs></v-col
              >
              <v-col class="col-xl-3 col-lg-3 pt-5 font-weight-bold body-1">{{
                fechaActual
              }}</v-col>
            </v-row>
          </v-container>

          <v-tabs-items v-model="tabs">
            <v-tab-item>
              <CardSeveridades ref="cardSeveridades"></CardSeveridades>
            </v-tab-item>
            <v-tab-item> <CardTipos></CardTipos> </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-col>

      <!--Segunda columna donde se muestra el buscador, una grafica y un pie dinamico -->
      <v-col
        class="col-xs-12 col-md-4 col-lg-4 col-xl-3 overflow-y-auto"
        :style="
          $vuetify.breakpoint.name == 'xs'
            ? ''
            : 'max-height:' + ($vuetify.breakpoint.height - 64) + 'px'
        "
      >
        <v-card class="mb-4 body-2" v-if="tabs == 0">
          <v-container
            :style="'background-color:' + sistema.hex_color + ';color:white'"
          >
            Grafica {{ nombreGrupo }} de alarmas de falla por severidad
          </v-container>

          <div id="pieSeveridad" class="scroll-overflow-y">
            <apexchart
              type="pie"
              :width="$vuetify.breakpoint.name == 'xl' ? '380' : '330'"
              ref="pieSeveridad"
              :options="opcionesPie"
              :series="numeros"
            ></apexchart>
          </div>
          <v-container class="ma-2" align="right">
            <v-btn @click="mostrarDetalleSeveridades()" small color="primary"
              >Ver detalle</v-btn
            >
          </v-container>
        </v-card>

        <v-card class="mb-4 body-2" v-else>
          <v-container
            :style="'background-color:' + sistema.hex_color + ';color:white'"
          >
            Grafica {{ nombreGrupo }} de alarmas de falla por tipo
          </v-container>

          <div id="pieTipos">
            <apexchart
              type="pie"
              ref="pieTipos"
              :width="$vuetify.breakpoint.name == 'xl' ? '380' : '300'"
              :options="opcionesPieTipos"
              :series="numerosPieTipos"
            ></apexchart>
          </div>
        </v-card>
        <v-card class="mb-4 body-2">
          <v-container
            :style="'background-color:' + sistema.hex_color + ';color:white'"
          >
            Buscador
          </v-container>
          <v-row no-gutters class="ml-3 mt-3">
            <v-col class="mr-2">
              <v-text-field
                label="Buscar"
                color="primary"
                solo
                dense
                @keypress.enter="buscar()"
              >
              </v-text-field>
            </v-col>
            <v-col>
              <v-btn
                height="39"
                elevation="2"
                depressed
                color="secondary"
                @click="buscar()"
              >
                Buscar
              </v-btn></v-col
            >
          </v-row>
        </v-card>
        <v-card class="mb-4 body-2">
          <v-container
            :style="'background-color:' + sistema.hex_color + ';color:white'"
          >
            Alarma de fallas globales
          </v-container>

          <div id="chart">
            <apexchart
              ref="chartRef"
              type="bar"
              :options="chartOptions"
              :series="series"
            ></apexchart>
          </div>
        </v-card>

        <v-card>
          <v-container
            class="body-2"
            :style="'background-color:' + sistema.hex_color + ';color:white'"
          >
            Últimas 10 alarmas
          </v-container>
          <v-row class="justify-space-between">
            <v-col
              v-for="(item, index) in ultimasDiezAlarmas"
              :key="index"
              class="col-xl-6 col-lg-12 col-md-12"
            >
              <v-divider v-if="index != 0" :key="index + 1"></v-divider>

              <v-list-item :key="index" dense>
                <v-list-item-icon>
                  <v-img :src="require(`@/assets/${item.imagen}`)"></v-img>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title v-html="item.titulo"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import CardSeveridades from "./alarmas_falla/Severidades.vue";
import CardTipos from "./alarmas_falla/Tipos.vue";
import EventBus from "@/plugins/event-bus.js";
export default {
  components: {
    apexchart: VueApexCharts,
    CardSeveridades,
    CardTipos,
  },

  computed: {
    sistema() {
      return this.$store.state.sispro.sistema;
    },
  },
  created() {
    this.fechaActual = this.actualizarFechaRealTime();
  },
  mounted() {
    this.tiempoRealGraficas();

    let vm = this;
    EventBus.$on("actualizarGraficaTipos", (objeto) => {
      vm.actualizarGrafica(objeto);
    });
  },

  data: () => ({
    fechaActual: null,
    dialogDetalleSeveridades: false,
    tabs: 0,
    nombreGrupo: "",

    ultimasDiezAlarmas: [
      {
        imagen: "router.png",
        titulo: "RT-DLHGO-5",
      },
      {
        imagen: "router.png",
        titulo: "RT-DLSLP-4",
      },
      {
        imagen: "router.png",
        titulo: "RT-OCPY-6",
      },
      {
        imagen: "router.png",
        titulo: "RT-OCPY-6",
      },
      {
        imagen: "wireless.png",
        titulo: "AP1-OCPY-6",
      },

      {
        imagen: "switch.png",
        titulo: "SWCORE-OCPY-6",
      },
      {
        imagen: "ups.png",
        titulo: "SW1-OCFS-11",
      },
      {
        imagen: "router.png",
        titulo: "RT-OCFS-11",
      },
      {
        imagen: "ups.png",
        titulo: "UPS4-OCLSP-1",
      },
      {
        imagen: "router.png",
        titulo: "RT-OCB-3",
      },
    ],
    items: [
      {
        grupo: "TRIARA",
        alertas: {
          critica: 0,
          alta: 1,
          mayor: 0,
          intermedia: 0,
          menor: 0,
        },
      },

      {
        grupo: "CENTRALES",
        alertas: {
          critica: 8,
          alta: 0,
          mayor: 0,
          intermedia: 0,
          menor: 0,
        },
      },

      {
        grupo: "ORGANISMO DE CUENCA BALSAS",
        alertas: {
          critica: 0,
          alta: 0,
          mayor: 1,
          intermedia: 0,
          menor: 0,
        },
      },

      {
        grupo: "DIRECCION LOCAL GUERRERO",
        alertas: {
          critica: 1,
          alta: 0,
          mayor: 0,
          intermedia: 0,
          menor: 0,
        },
      },
      {
        grupo: "DIRECCION LOCAL PUEBLA",
        alertas: {
          critica: 2,
          alta: 0,
          mayor: 0,
          intermedia: 0,
          menor: 0,
        },
      },
      {
        grupo: "DIRECCION LOCAL TLAXCALA",
        alertas: {
          critica: 0,
          alta: 0,
          mayor: 0,
          intermedia: 0,
          menor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA CUENCAS CENTRALES DEL NORTE",
        alertas: {
          critica: 8,
          alta: 2,
          mayor: 0,
          intermedia: 0,
          menor: 0,
        },
      },
      {
        grupo: "DIRECCION LOCAL DURANGO",
        alertas: {
          critica: 0,
          alta: 0,
          mayor: 0,
          intermedia: 0,
          menor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA NOROESTE",
        alertas: {
          critica: 3,
          alta: 0,
          mayor: 0,
          intermedia: 0,
          menor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
          intermedia: 0,
          menor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
          intermedia: 0,
          menor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
          intermedia: 0,
          menor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
          intermedia: 0,
          menor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
          intermedia: 0,
          menor: 0,
        },
      },
    ],
    alignments: ["start", "center", "end"],
    series: [
      {
        data: [95, 14, 3, 0, 0],
      },
    ],
    chartOptions: {
      chart: {
        height: 350,
        type: "bar",
        events: {
          click: function (chart, w, e) {
            console.log(chart, w, e);
          },
        },
      },
      colors: ["#B71C1C", "#E65100", "#FF9800", "#FFA000", "#2196F3"],
      plotOptions: {
        bar: {
          columnWidth: "45%",
          distributed: true,
        },
      },
      dataLabels: {
        enabled: false,
      },
      legend: {
        show: false,
      },
      xaxis: {
        categories: ["Crítica", "Alta", "Mayor", "Intermedia", "Menor"],
        labels: {
          style: {
            colors: ["#B71C1C", "#E65100", "#FF9800", "#FFA000", "#2196F3"],
            fontSize: "12px",
          },
        },
      },
    },
    numeros: [44, 55, 13, 43, 22],
    opcionesPie: {
      chart: {
        width: 300,
        type: "pie",
      },

      dataLabels: {
        offset: 80,
        enabled: true,
        style: {
          fontSize: "11px",
          fontFamily: "Helvetica, Arial, sans-serif",
          fontWeight: "bold",
        },
      },
      labels: ["Crítica", "Alta", "Mayor", "Intermedia", "Menor"],
      colors: ["#B71C1C", "#E65100", "#FF9800", "#FFA000", "#2196F3"],
      responsive: [
        {
          breakpoint: 800,
          options: {
            chart: {
              width: 235,
            },
            legend: {
              position: "bottom",
            },
          },
        },
      ],
    },
    numerosPieTipos: [100],
    opcionesPieTipos: {
      chart: {
        width: 300,
        type: "pie",
      },
      labels: ["Sin alarmas"],
      colors: ["#9E9E9E"],
      responsive: [
        {
          breakpoint: 800,
          options: {
            chart: {
              width: 235,
            },
            legend: {
              position: "bottom",
            },
          },
        },
      ],
    },
  }),
  methods: {
    buscar: function () {
      console.log("buscar");
    },

    tiempoRealGraficas: function () {
      window.setInterval(() => {
        this.fechaActual = this.actualizarFechaRealTime();
        this.tiempoRealPieAlarmasSeveridad();
        this.tiempoRealBarrasFallasGlobales();
        this.tiempoRealUltimasDiezAlarmas();
      }, 5000);
    },

    actualizarFechaRealTime: function () {
      var d = new Date();

      d =
        ("0" + d.getDate()).slice(-2) +
        "-" +
        ("0" + (d.getMonth() + 1)).slice(-2) +
        "-" +
        d.getFullYear() +
        " " +
        ("0" + d.getHours()).slice(-2) +
        ":" +
        ("0" + d.getMinutes()).slice(-2) +
        ":" +
        ("0" + d.getSeconds()).slice(-2);

      return d;
    },

    tiempoRealPieAlarmasSeveridad: function () {
      this.numeros = [
        Math.ceil(Math.random() * 31),
        Math.ceil(Math.random() * 31),
        Math.ceil(Math.random() * 31),
        Math.ceil(Math.random() * 31),
        Math.ceil(Math.random() * 31),
      ];
    },
    tiempoRealBarrasFallasGlobales: function () {
      var data = [
        Math.ceil(Math.random() * 31),
        Math.ceil(Math.random() * 31),
        Math.ceil(Math.random() * 31),
        Math.ceil(Math.random() * 31),
        Math.ceil(Math.random() * 31),
      ];
      this.$refs.chartRef.updateSeries([
        {
          data: data,
        },
      ]);
    },

    tiempoRealUltimasDiezAlarmas: function () {
      this.ultimasDiezAlarmas = [
        {
          imagen: "router.png",
          titulo: "RT-OCB-3",
        },
        {
          imagen: "wireless.png",
          titulo: "AP1-OCPY-6",
        },
        {
          imagen: "router.png",
          titulo: "RT-OCFS-11",
        },
        {
          imagen: "router.png",
          titulo: "RT-DLHGO-5",
        },
        {
          imagen: "router.png",
          titulo: "RT-DLSLP-4",
        },
        {
          imagen: "router.png",
          titulo: "RT-OCPY-6",
        },
        {
          imagen: "router.png",
          titulo: "RT-OCPY-6",
        },
        {
          imagen: "wireless.png",
          titulo: "AP1-OCPY-6",
        },

        {
          imagen: "switch.png",
          titulo: "SWCORE-OCPY-6",
        },
        {
          imagen: "ups.png",
          titulo: "SW1-OCFS-11",
        },
        {
          imagen: "router.png",
          titulo: "RT-OCFS-11",
        },
        {
          imagen: "ups.png",
          titulo: "UPS4-OCLSP-1",
        },
        {
          imagen: "router.png",
          titulo: "RT-OCB-3",
        },
      ];
    },

    mostrarDetalleSeveridades: function () {
      EventBus.$emit("mostrarDetalleSeveridades", this.nombreGrupo);
    },
    actualizarGrafica: function (objeto) {
      console.log(objeto);
      this.nombreGrupo = objeto.grupo;

      if (this.tabs == 0) {
        this.numeros = [
          objeto.critica,
          objeto.alta,
          objeto.mayor,
          objeto.intermedia,
          objeto.menor,
        ];
      }
    },
    emitirSocket: function () {
      this.$socket.emit("actualizarGraficaDashboardSispro");
    },
    recibirSocket: function () {
      this.$socket.on("actualizarGraficaDashboardSispro", () => {});
    },
  },
  sockets: {
    connect: function () {
      console.log("socket conectado");
    },

    actualizarGraficaDashboardSispro: function () {
      this.data = [3, 2, 6, 2, 5, 8, 7, 12];
    },
  },
};
</script>


<style>
</style>