<template>
  <div class="fill-height">
    <v-row>
      <!--Primera columna donde se muestra la lista de los grupos tanto seleccionando severidades o tipos -->
      <v-col
        class="col-md-9 overflow-y-auto"
        :style="'max-height:' + ($vuetify.breakpoint.height - 64) + 'px'"
      >
        <v-card class="mx-auto" style="overflow-y-auto">
          <v-container
            :style="'background-color:' + sistema.hex_color + ';color:white'"
          >
            <v-tabs
              v-model="tabs"
              center-active
              :background-color="sistema.bg_color"
              color="white"
            >
              <v-tab>Alarmas performance</v-tab>
            </v-tabs>
          </v-container>

          <v-tabs-items v-model="tabs">
            <v-tab-item>
              <CardAlarmasPerformance
                ref="cardSeveridades"
              ></CardAlarmasPerformance>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-col>

      <!--Segunda columna donde se muestra el buscador, una grafica y un pie dinamico -->
      <v-col
        class="col-md-3 overflow-y-auto"
        :style="'max-height:' + ($vuetify.breakpoint.height - 64) + 'px'"
      >
        <v-card class="mb-4 body-2" v-if="tabs == 0">
          <v-container
            :style="'background-color:' + sistema.hex_color + ';color:white'"
          >
            Grafica {{ nombreGrupo }} de alarmas de falla de performance
          </v-container>

          <div id="pieSeveridad" class="scroll-overflow-y">
            <apexchart
              type="pie"
              ref="pieSeveridad"
              :height="$vuetify.breakpoint.height / 4"
              :options="opcionesPie"
              :series="numeros"
            ></apexchart>
          </div>
          <v-container class="ma-2" align="right">
            <v-btn @click="mostrarDetalleSeveridades()" small color="primary"
              >Ver detalle</v-btn
            >
          </v-container>
        </v-card>

        <v-card class="mb-4 body-2" v-else>
          <v-container
            :style="'background-color:' + sistema.hex_color + ';color:white'"
          >
            Grafica {{ nombreGrupo }} de alarmas de falla por tipo
          </v-container>

          <div id="pieTipos">
            <apexchart
              type="pie"
              ref="pieTipos"
              :height="$vuetify.breakpoint.height / 4"
              :options="opcionesPieTipos"
              :series="numerosPieTipos"
            ></apexchart>
          </div>
        </v-card>
        <v-card class="mb-4">
          <v-container
            :style="'background-color:' + sistema.hex_color + ';color:white'"
          >
            Buscador
          </v-container>

          <v-container>
            <v-text-field
              label="Buscar por grupo"
              color="primary"
              solo
              @keypress.enter="buscar()"
            >
              <template v-slot:append>
                <v-btn
                  depressed
                  tile
                  color="primary"
                  class="ma-0"
                  @click="buscar()"
                >
                  Buscar
                </v-btn>
              </template>
            </v-text-field>
          </v-container>
        </v-card>
        <v-card class="mb-4 body-2">
          <v-container
            :style="'background-color:' + sistema.hex_color + ';color:white'"
          >
            Alarmas de Performance Globales
          </v-container>

          <div id="chart">
            <apexchart
              ref="chart"
              type="bar"
              :height="$vuetify.breakpoint.height / 4"
              :options="chartOptions"
              :series="series"
            ></apexchart>
          </div>
        </v-card>

        <v-card>
          <v-container
            class="body-2"
            :style="'background-color:' + sistema.hex_color + ';color:white'"
          >
            Últimas 10 alarmas
          </v-container>
          <v-row class="justify-space-between">
            <v-col
              v-for="(item, index) in ultimasDiezAlarmas"
              :key="index"
              class="col-xl-6 col-lg-12 col-md-12"
            >
              <v-divider v-if="index != 0" :key="index + 1"></v-divider>

              <v-list-item :key="index" dense>
                <v-list-item-icon>
                  <v-img :src="require(`@/assets/${item.imagen}`)"></v-img>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title @click="accederReportesTendencias()"
                    ><a class="text-decoration-none">{{
                      item.titulo
                    }}</a></v-list-item-title
                  >
                  <v-list-item-subtitle @click="accederReportesTendencias()"
                    ><a>{{ item.subtitulo }}</a>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import CardAlarmasPerformance from "./alarmas_performance/AlarmasPerformance.vue";
import EventBus from "@/plugins/event-bus.js";
export default {
  components: {
    apexchart: VueApexCharts,
    CardAlarmasPerformance,
  },
  computed: {
    sistema() {
      return this.$store.state.sispro.sistema;
    },
  },

  mounted() {
    this.$socket.on("actualizar-grafica-dashboard:sispro", () => {});

    let vm = this;
    EventBus.$on("actualizarGraficaTipos", (objeto) => {
      vm.actualizarGrafica(objeto);
    });
  },

  data: () => ({
    dialogDetalleSeveridades: false,
    tabs: 0,
    nombreGrupo: "",

    ultimasDiezAlarmas: [
      {
        imagen: "router.png",
        titulo: "RT-DLHGO-5",
        subtitulo: "GigabitEthernet0/0/1 ENLACE MPLS REF C03-1510-0037 30MBps",
      },
      {
        imagen: "router.png",
        titulo: "RT-DLSLP-4",
      },
      {
        imagen: "router.png",
        titulo: "RT-OCPY-6",
      },
      {
        imagen: "router.png",
        titulo: "RT-OCPY-6",
      },
      {
        imagen: "wireless.png",
        titulo: "AP1-OCPY-6",
      },

      {
        imagen: "switch.png",
        titulo: "SWCORE-OCPY-6",
      },
      {
        imagen: "ups.png",
        titulo: "SW1-OCFS-11",
      },
      {
        imagen: "router.png",
        titulo: "RT-OCFS-11",
      },
      {
        imagen: "ups.png",
        titulo: "UPS4-OCLSP-1",
      },
      {
        imagen: "router.png",
        titulo: "RT-OCB-3",
      },
    ],
    items: [
      {
        grupo: "TRIARA",
        alertas: {
          critica: 0,
          alta: 1,
          mayor: 0,
        },
      },

      {
        grupo: "CENTRALES",
        alertas: {
          critica: 8,
          alta: 0,
          mayor: 0,
        },
      },

      {
        grupo: "ORGANISMO DE CUENCA BALSAS",
        alertas: {
          critica: 0,
          alta: 0,
          mayor: 1,
        },
      },

      {
        grupo: "DIRECCION LOCAL GUERRERO",
        alertas: {
          critica: 1,
          alta: 0,
          mayor: 0,
        },
      },
      {
        grupo: "DIRECCION LOCAL PUEBLA",
        alertas: {
          critica: 2,
          alta: 0,
          mayor: 0,
        },
      },
      {
        grupo: "DIRECCION LOCAL TLAXCALA",
        alertas: {
          critica: 0,
          alta: 0,
          mayor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA CUENCAS CENTRALES DEL NORTE",
        alertas: {
          critica: 8,
          alta: 2,
          mayor: 0,
        },
      },
      {
        grupo: "DIRECCION LOCAL DURANGO",
        alertas: {
          critica: 0,
          alta: 0,
          mayor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA NOROESTE",
        alertas: {
          critica: 3,
          alta: 0,
          mayor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
        },
      },
    ],
    alignments: ["start", "center", "end"],
    series: [
      {
        data: [95, 14, 3],
      },
    ],
    chartOptions: {
      chart: {
        height: 350,
        type: "bar",
        events: {
          click: function (chart, w, e) {
            console.log(chart, w, e);
          },
        },
      },
      colors: ["#B71C1C", "#E65100", "#FF9800"],
      plotOptions: {
        bar: {
          columnWidth: "45%",
          distributed: true,
        },
      },
      dataLabels: {
        enabled: false,
      },
      legend: {
        show: false,
      },
      xaxis: {
        categories: ["Crítica", "Alta", "Mayor"],
        labels: {
          style: {
            colors: ["#B71C1C", "#E65100", "#FF9800"],
            fontSize: "12px",
          },
        },
      },
    },
    numeros: [44, 55, 13],
    opcionesPie: {
      chart: {
        width: 380,
        type: "pie",
      },
      labels: ["Crítica", "Alta", "Mayor"],
      colors: ["#B71C1C", "#E65100", "#FF9800"],
      responsive: [
        {
          breakpoint: 480,
          options: {
            chart: {
              width: 340,
            },
            legend: {
              position: "bottom",
            },
          },
        },
      ],
    },
    numerosPieTipos: [100],
    opcionesPieTipos: {
      chart: {
        width: 380,
        type: "pie",
      },
      labels: ["Sin alarmas"],
      colors: ["#9E9E9E"],
      responsive: [
        {
          breakpoint: 480,
          options: {
            chart: {
              width: 200,
            },
            legend: {
              position: "bottom",
            },
          },
        },
      ],
    },
  }),
  methods: {
    buscar: function () {
      console.log("buscar");
    },

    mostrarDetalleSeveridades: function () {
      EventBus.$emit("mostrarDetalleSeveridades", this.nombreGrupo);
    },
    actualizarGrafica: function (objeto) {
      this.nombreGrupo = objeto.grupo;

      if (this.tabs == 0) {
        this.numeros = [objeto.critica, objeto.alta, objeto.mayor];
      }
    },
    emitirSocket: function () {
      this.$socket.emit("actualizarGraficaDashboardSispro");
    },
    recibirSocket: function () {
      this.$socket.on("actualizarGraficaDashboardSispro", () => {});
    },
    accederReportesTendencias: function () {
      EventBus.$emit("mostrarReportesTendenciasSeveridades");
    },
  },
  sockets: {
    connect: function () {
      console.log("socket conectado");
    },

    actualizarGraficaDashboardSispro: function () {
      this.data = [3, 2, 6, 2, 5, 8];
    },
  },
};
</script>


<style>
a:hover {
  text-decoration: underline;
}
</style>