<template>
    <v-card dense>
        <v-toolbar
                :color="sistema.bg_color"
                dark
                flat>
            <v-toolbar-title class="mr-5">
                Panel de operación
            </v-toolbar-title>

            <template v-slot:extension>
                <v-tabs
                        v-model="tab"
                        show-arrows>
                    <v-tabs-slider color="yellow"></v-tabs-slider>
                    <v-tab
                            v-for="item in listTabs"
                            :key="item.tabName"
                            :class="{'text-none':item.tabName==='QoS'}" >
                        {{ item.name }}
                    </v-tab>
                </v-tabs>
            </template>
        </v-toolbar>

        <v-tabs-items v-model="tab">
            <v-tab-item :key="'Dashboard'">
                <dashboard/>
            </v-tab-item>
            <v-tab-item :key="'MapaDeRed'">
                <mapa-de-red/>
            </v-tab-item>
            <v-tab-item :key="'Alarmas'">
                <alarmas />
            </v-tab-item>
            <v-tab-item :key="'ProyectosRedundantes'">
                <proyectos-redundantes/>
            </v-tab-item>
            
        </v-tabs-items>
    </v-card>
</template>
<script>
import { mapGetters } from 'vuex'
import Dashboard from '../PanelOperaciones/Dashboard.vue'
import Alarmas from '../PanelOperaciones/Alarmas.vue'
import MapaDeRed from '../PanelOperaciones/MapaDeRed.vue'
import ProyectosRedundantes from '../PanelOperaciones/ProyectosRedundantes.vue'
export default {
    components:{
        MapaDeRed,
        Dashboard,
        Alarmas,
        ProyectosRedundantes
        
    },
    computed:{
        ...mapGetters({
            user: 'index/user',
            sistema: 'nms/sistema',
        }),

    },
    data: () => ({
        tab:null,
        listTabs:[{tabName:'Dashboard',name:'Dashboard'}, {tabName:'MapaDeRed',name:'Mapa de red'}, {tabName:'Alarmas',name:'Alarmas'}, {tabName:'ProyectosRedundantes',name:'Proyectos redundantes'}],

    })
}
</script>