<template>
    <v-card dense>
        <v-toolbar
                :color="sistema.bg_color"
                dark
                flat>
            <v-toolbar-title class="mr-5">
                Panel de operación
            </v-toolbar-title>

            <template v-slot:extension>
                <v-tabs
                        v-model="tab"
                        show-arrows>
                    <v-tabs-slider color="yellow"></v-tabs-slider>
                    <v-tab
                            v-for="item in listTabs"
                            :key="item.tabName"
                            :class="{'text-none':item.tabName==='QoS'}" >
                        {{ item.name }}
                    </v-tab>
                </v-tabs>
            </template>
        </v-toolbar>

        <v-tabs-items v-model="tab">
            <v-tab-item :key="'Recursos'">
                <recursos/>
            </v-tab-item>
            <v-tab-item :key="'QoS'">
                <qos/>
            </v-tab-item>
             <v-tab-item :key="'SLAs'">
                <slas />
            </v-tab-item>
            <v-tab-item :key="'Trap'">
                <traps />
            </v-tab-item>
            <v-tab-item :key="'Syslog'">
                <syslogs />
            </v-tab-item>
            <v-tab-item :key="'InformacionDispositivo'">
                <informacion-dispositivo />
            </v-tab-item>
            <v-tab-item :key="'Alarmas'">
                <alarmas />
            </v-tab-item>
            <v-tab-item :key="'Interfaces'">
                <interfaces />
            </v-tab-item>
           
            
        </v-tabs-items>
    </v-card>
</template>
<script>
import { mapGetters } from 'vuex'
import Alarmas from '../PanelOperaciones/Alarmas.vue'
import InformacionDispositivo from '../PanelOperaciones/InformacionDispositivo.vue'
import Interfaces from '../PanelOperaciones/Interfaces.vue'
import Qos from '../PanelOperaciones/Qos.vue'
import Recursos from '../PanelOperaciones/Recursos.vue'
import Slas from '../PanelOperaciones/Slas.vue'
import Syslogs from '../PanelOperaciones/Syslogs.vue'
import Traps from '../PanelOperaciones/Traps.vue'
export default {
     components:{
        Alarmas,
        Recursos,
        Qos,
        Slas,
        Traps,
        Syslogs,
        InformacionDispositivo,
        Interfaces
    },
    computed:{
        ...mapGetters({
            user: 'index/user',
            sistema: 'nms/sistema',
        }),

    },
    data:() => ({
        tab:null,
        listTabs:[{tabName:'Recursos',name:'Recursos'}, {tabName:'QoS',name:'QoS'}, {tabName:'SLAs',name:'SLAs'},{tabName:'Trap',name:'Trap'},{tabName:'Syslog',name:'Syslog'}, {tabName:'InformacionDispositivo',name:'Información del dispositivo'},{tabName:'MapaDeRed',name:'Mapa de red'},{tabName:'Alarmas',name:'Alarmas'},{tabName:'Interfaces',name:'Interfaces'}] 
    })
}
</script>