<template>
    <v-app>

        <v-content>
            <v-container fluid>
                HOLA

            </v-container>
        </v-content>

    </v-app>
</template>

<script>
    export default {
        name: 'dashboard',
        mixins: [],
        directives: {},
        data: vm => ({
        }),
        mounted() {
        },
        computed: {
        },
        watch: {
        },
        methods: {
        }
    }
</script>
<style>
    .text-input-center input{
        text-align: center;
    }
</style>
