<template>
  <div>
    <div id="chart" class="ma-2">
      <apexchart
        type="line"
        height="400"
        ref="graficaReportes"
        :options="chartOptions"
        :series="series"
      ></apexchart>
    </div>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
export default {
  components: {
    apexchart: VueApexCharts,
  },
  mounted() {},
  data: () => ({
    series: [
      {
        name: "Alarma de alta de CPU(60%)",
        data: [64, 60, 55, 52, 89, 74, 79, 63, 60, 58, 62, 69],
      },
      {
        name: "Alarma mayor de CPU(50%)",
        data: [35, 41, 24, 42, 13, 18, 29, 37, 36, 21, 32, 35],
      },
    ],
    chartOptions: {
      chart: {
        height: 400,
        type: "line",
        zoom: {
          enabled: false,
        },
      },
      dataLabels: {
        enabled: false,
      },
      stroke: {
        width: [5, 7],
        curve: "straight",
        dashArray: [0, 8],
      },
      //   title: {
      //     text: "Carga",
      //     align: "left",
      //   },
      legend: {
        tooltipHoverFormatter: function (val, opts) {
          return (
            val +
            " - " +
            opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] +
            ""
          );
        },
      },
      markers: {
        size: 0,
        hover: {
          sizeOffset: 6,
        },
      },

      xaxis: {
        categories: [
          "2021-04-24 00:00",
          "2021-04-24 05:50",
          "2021-04-24 11:40",
          "2021-04-24 17:30",
          "2021-04-24 23:20",
          "2021-04-25 05:10",
          "2021-04-25 11:00",
          "2021-04-25 16:50",
          "2021-04-25 22:40",
          "2021-04-26 04:30",
          "2021-04-26 10:20",
          "2021-04-26 16:10",
        ],

        labels: {
          rotate: -70,
        },
      },
      tooltip: {
        y: [
          {
            title: {
              formatter: function (val) {
                return val + " (mins)";
              },
            },
          },
          {
            title: {
              formatter: function (val) {
                return val + " por temperatura";
              },
            },
          },
          {
            title: {
              formatter: function (val) {
                return val;
              },
            },
          },
        ],
      },
      grid: {
        borderColor: "#f1f1f1",
      },
    },
  }),
};
</script>

<style>
</style>