<template>
  <div>
    <div id="chart" class="ma-2">
      <apexchart
        type="line"
        height="400"
        ref="graficaReportes"
        :options="chartOptions"
        :series="series"
      ></apexchart>
    </div>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
export default {
  props: {
    arregloDatos: Array,
  },
  components: {
    apexchart: VueApexCharts,
  },

  created() {
    this.series = this.arregloDatos;
  },
  mounted() {
    this.tiempoRealGrafica();
  },
  data: () => ({
    series: [],
    chartOptions: {
      chart: {
        height: 200,
        type: "line",
        zoom: {
          enabled: false,
        },
      },
      dataLabels: {
        enabled: false,
      },
      stroke: {
        width: [5, 7],
        curve: "straight",
        dashArray: [0, 8],
      },
      //   title: {
      //     text: "Carga",
      //     align: "left",
      //   },
      legend: {
        tooltipHoverFormatter: function (val, opts) {
          return (
            val +
            " - " +
            opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] +
            ""
          );
        },
      },
      markers: {
        size: 0,
        hover: {
          sizeOffset: 6,
        },
      },

      xaxis: {
        categories: [
          "2021-04-24 00:00",
          "2021-04-24 05:50",
          "2021-04-24 11:40",
          "2021-04-24 17:30",
          "2021-04-24 23:20",
          "2021-04-25 05:10",
          "2021-04-25 11:00",
          "2021-04-25 16:50",
          "2021-04-25 22:40",
          "2021-04-26 04:30",
          "2021-04-26 10:20",
          "2021-04-26 16:10",
        ],

        labels: {
          rotate: -70,
        },
      },
      tooltip: {
        y: [
          {
            title: {
              formatter: function (val) {
                return val + " (mins)";
              },
            },
          },
          {
            title: {
              formatter: function (val) {
                return val + " por temperatura";
              },
            },
          },
          {
            title: {
              formatter: function (val) {
                return val;
              },
            },
          },
        ],
      },
      grid: {
        borderColor: "#f1f1f1",
      },
    },
  }),

  methods: {
    tiempoRealGrafica: function () {
      window.setInterval(() => {
        this.series = [
          {
            name: "Alarma de alta de CPU(60%)",
            data: [
              Math.ceil(Math.random() * 100),
              Math.ceil(Math.random() * 100),
              Math.ceil(Math.random() * 100),
              Math.ceil(Math.random() * 100),
              Math.ceil(Math.random() * 100),
              Math.ceil(Math.random() * 100),
              Math.ceil(Math.random() * 100),
              Math.ceil(Math.random() * 100),
              Math.ceil(Math.random() * 100),
              Math.ceil(Math.random() * 100),
              Math.ceil(Math.random() * 100),
              Math.ceil(Math.random() * 100),
            ],
          },
          {
            name: "Alarma mayor de CPU(50%)",
            data: [
              Math.ceil(Math.random() * 50),
              Math.ceil(Math.random() * 50),
              Math.ceil(Math.random() * 50),
              Math.ceil(Math.random() * 50),
              Math.ceil(Math.random() * 50),
              Math.ceil(Math.random() * 50),
              Math.ceil(Math.random() * 50),
              Math.ceil(Math.random() * 50),
              Math.ceil(Math.random() * 50),
              Math.ceil(Math.random() * 50),
              Math.ceil(Math.random() * 50),
              Math.ceil(Math.random() * 50),
            ],
          },
        ];
      }, 5000);
    },
  },
};
</script>

<style>
</style>