<template>
    <v-dialog v-model="dialog" persistent max-width="600px" transition="dialog-bottom-transition">
        <template v-slot:activator="{ on }">
            <v-card v-on="on" class="mx-auto elevation-8">
                <v-card-text style="background:#C2C2C2">
                    <v-row no-gutters class="justify-center">
                        <!-- <v-img contain :src="require(`@/assets/icon-plus.png`)" max-height="200px" max-width="200px"></v-img> -->
                        <v-icon size="200" color="white" >mdi-plus</v-icon>
                    </v-row>
                </v-card-text>
                <v-toolbar dense class="elevation-3" color="primary darken-3" dark>
                    <v-toolbar-title>Nuevo Proyecto</v-toolbar-title>
                </v-toolbar>
            </v-card>
        </template>
        <v-card>
            <v-toolbar dense dark :color="sistema.bg_color">
                <v-toolbar-title>
                    <v-icon class="mr-2 pb-1">{{titleIcon}}</v-icon>
                    <span>{{ Formulario.id ? 'EDITAR':'AGREGAR' }} PROYECTO</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click.prevent="closeDialog()">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text class="px-4 pt-4 py-0">
                <v-form ref="formulario">
                    <v-row no-gutters>
                        <v-col cols="12">
                            <v-text-field label="Nombre" dense outlined autocomplete="off" v-model="Formulario.nombre" clearable></v-text-field>
                        </v-col>
                        <v-col cols="12" class="ma-0 pa-0">
                            <v-row no-gutters>
                                <v-switch v-model="Formulario.modulos"  value="1" label="CMDB"></v-switch>
                                <v-switch v-model="Formulario.modulos"  class="ml-4" value="2" label="CONQUEST"></v-switch>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
            <v-card-actions class="pa-4">
                <v-spacer></v-spacer>
                <v-btn outlined dark color="#D50000" @click.prevent="closeDialog()">
                    <span class="font-weight-bold">CANCELAR</span>
                </v-btn>
                <v-btn outlined dark color="primary" @click.prevent="save()">
                    <span class="font-weight-bold">GUARDAR</span>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    import EventBus from '@/plugins/event-bus.js';
    import Api from '@/components/Api.js';

    export default{
        name: 'Formulario-Proyecto',
        props:['url','titleIcon'],
        data: ()=>({
            dialog:false,
            edit: false,
            Formulario:{
                modulos: []
            },
        }),
        computed:{
            sistema(){
                return this.$store.state.administracion.sistema;
            }
        },
        mounted() {
            EventBus.$on('openProyecto', data => {
                this.load(data);
                this.edit = true;
                this.dialog = true;
            });
        },
        methods:{
            reloadTable(){
                EventBus.$emit('reloadProyectos');
                this.closeDialog();
            },
            load(data){
                if(data!=null){
                    this.Formulario = _.cloneDeep(data)
                }
            },
            save(){
                if(this.$refs.formulario.validate()){
                    if(this.edit){ 
                        Api.edit(this.url, this.Formulario.id, this.Formulario).then((response)=>{
                            if(response.data.success){
                                this.$notify({
                                    text: response.data.message,
                                    type: 'success',
                                    position: 'left',
                                })
                                this.reloadTable();
                            }else{
                                this.$notify({
                                    text: response.data.message,
                                    type: 'error',
                                })
                            }
                        });   
                    }else{
                        Api.add(this.url, this.Formulario).then((response)=>{
                            if(response.data.success){
                                this.$notify({
                                    text: response.data.message,
                                    type: 'success',
                                })
                                this.reloadTable();
                            }else{
                                this.$notify({
                                    text: response.data.message,
                                    type: 'error',
                                })
                            }
                        });   
                    }
                }else{
                    this.$notify({
                        text: 'POR FAVOR, PROPORCIONA LOS CAMPOS SOLICITADOS...',
                        type: 'error'
                    });
                }
            },
            closeDialog(){
                this.dialog = false;
                this.edit = false;
                setTimeout(()=>{
                    this.Formulario = {}
                },500)
            }
        }
    }
</script>