<template>
    <v-container>
        <!-- mini statistic start -->
        <v-row>
            <v-col cols="12">
                <fusioncharts
                        ref="chart"
                        :type="type"
                        :width="width"
                        :height="height"
                        :dataFormat="dataFormat"
                        :dataSource="dataSource"
                >
                </fusioncharts>
            </v-col>

        </v-row>


    </v-container>
</template>

<style>
svg > g[class^="raphael-group-"] > text {
    display: none;
}
</style>
<script>
// STEP 4: Configure your chart
var d = new Date();
var monthArr = [
    'Jan',
    'Feb',
    'Mar',
    'Apr',
    'May',
    'June',
    'Jul',
    'Aug',
    'Sep',
    'Oct',
    'Nov',
    'Dec'
];

var outDate =
            monthArr[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear();

const dataSource = {
          chart: {
              caption: 'Bitcoin Price Ticker',
              subCaption: outDate,
              numberPrefix: '$',
              numdisplaysets: '10',
              labeldisplay: 'rotate',
              showRealTimeValue: '0',
              theme: 'fusion',
              plotToolText: '$label<br>Price: <b>$dataValue</b>',
              setAdaptiveYMin: '1'
          },
          categories: [
              {
                  category: [
                      {
                          label:
                                  d.getHours() +
                                  ':' +
                                  d.getMinutes() +
                                  ':' +
                                  (d.getSeconds() - 2)
                      },
                      {
                          label:
                                  d.getHours() +
                                  ':' +
                                  d.getMinutes() +
                                  ':' +
                                  (d.getSeconds() - 1)
                      },
                      {
                          label:
                                  d.getHours() +
                                  ':' +
                                  d.getMinutes() +
                                  ':' +
                                  d.getSeconds()
                      }
                  ]
              }
          ],
          dataset: [
              {
                  data: [
                      {
                          value: '7358'
                      },
                      {
                          value: '7361'
                      },
                      {
                          value: '7362'
                      }
                  ]
              }
          ]
      };

export default {
    name: 'app',
    data() {
        return {
            chartRef: null,
            type: 'realtimeline',
            'renderAt': 'chart-container',
            'width': '850',
            'height': '650',
            'dataFormat': 'json',
            dataSource,
        }
    },
    mounted() {
        this.$nextTick(()=>{
            this.chartRef = this.$refs.chart.chartObj
            setInterval(this.updateData, 2000)
        })

    },
    methods: {
        updateData() {
            var t = new Date(),
                date =
                        t.getHours() + ":" + t.getMinutes() + ":" + t.getSeconds(),
                val = Math.floor(Math.random() * (7800 - 7200 + 1)) + 7200,
                strData = "&label=" + date + "&value=" + val;

            // Feed it to chart.

            this.chartRef.feedData(strData);

        }
    }

}
</script>