<template>
    <v-container>
        <!-- mini statistic start -->
        <v-row>
            <v-col :cols="12" :sm="6" :lg="3">
                <mini-statistic
                        :icon="tickets.length"
                        title="Tickets"
                        sub-title="Registrados"
                        color="indigo"
                />
            </v-col>
            <v-col :cols="12" :sm="6" :lg="3">
                <mini-statistic
                        :icon="tickets_atendidos.length"
                        title="Tickets"
                        sub-title="Atendidos"
                        color="red"
                />
            </v-col>
            <v-col :cols="12" :sm="6" :lg="3">
                <mini-statistic
                        icon="112"
                        title="Dispositivos"
                        sub-title="Registrados"
                        color="light-blue"
                />
            </v-col>
            <v-col :cols="12" :sm="6" :lg="3">
                <mini-statistic
                        icon="4"
                        title="Dispositivos"
                        sub-title="Alertados"
                        color="purple"
                />
            </v-col>
        </v-row>
        <v-row>
            <!-- mini chart -->
            <v-col cols="12">
                <v-subheader class="pl-0">Mini Chart</v-subheader>
            </v-col>
            <v-col :cols="12" lg="3" :sm="12" :md="3">
                <mini-chart
                        title="Monthly Sales"
                        sub-title="10%"
                        icon="mdi-trending-up"
                        :data="dataset.monthVisit"
                        :chart-color="color.blue.base"
                        type="bar"
                />
            </v-col>
            <v-col :cols="12" lg="3" :sm="12" :md="3">
                <mini-chart
                        title="Daily Visit"
                        sub-title="20%"
                        icon="mdi-trending-up"
                        :data="dataset.monthVisit"
                        :chart-color="color.green.base"
                        type="area"
                />
            </v-col>
            <v-col :cols="12" lg="3" :sm="12" :md="3">
                <mini-chart
                        sub-title="10%"
                        title="Daily Quote"
                        icon="mdi-trending-down"
                        :data="dataset.monthVisit"
                        :chart-color="color.red.base"
                        type="line"
                />
            </v-col>
            <v-col :cols="12" lg="3" :sm="12" :md="3">
                <mini-chart
                        title="Weekly Visit"
                        sub-title="10%"
                        icon="mdi-trending-down"
                        :data="dataset.monthVisit"
                        :chart-color="color.red.base"
                        type="bar"
                />
            </v-col>
        </v-row>

        <v-row>
            <v-col cols="12">
                <v-subheader class="pl-0">Box Chart</v-subheader>
            </v-col>
            <v-col :cols="12" lg="4" :sm="12">
                <box-chart
                        title="Page views"
                        sub-title="10%"
                        icon="mdi-trending-up"
                        :data="dataset.monthVisit"
                        :chart-color="[color.blue.darken1]"
                        type="area"
                />
            </v-col>
            <v-col :cols="12" lg="4" :sm="12">
                <box-chart
                        title="Monthly Sales"
                        sub-title="10%"
                        icon="mdi-trending-up"
                        card-color="pink"
                        :data="dataset.monthVisit"
                        :chart-color="[color.pink.lighten2]"
                        type="bar"
                />
            </v-col>
            <v-col :cols="12" lg="4" :sm="12">
                <box-chart
                        card-color="indigo"
                        title="Page views"
                        sub-title="10%"
                        icon="mdi-trending-down"
                        :data="dataset.monthVisit"
                        :chart-color="[color.shades.white]"
                        type="line"
                />
            </v-col>
        </v-row>

        <!-- statistic section -->
        <v-row>
            <v-col
                    :lg="4"
                    :sm="12"
                    :cols="12"
            >
                <linear-statistic
                        class="mt-4"
                        title="Tiempo promedio de espera"
                        :sub-title="tickets_abiertos.length"
                        icon="mdi-timer-sand"
                        color="success"
                        :value="tickets_abiertos.length"
                />
            </v-col>
            <v-col
                    :lg="4"
                    :sm="12"
                    :cols="12"
            >
                <linear-statistic
                        class="mt-4"
                        title="Tiempo promedio de atención"
                        :sub-title="tiempo_atencion"
                        icon="mdi-timer"
                        color="error"
                        :value="tiempo_atencion"
                />
            </v-col>
            <v-col
                    :lg="4"
                    :sm="12"
                    :cols="12"
            >
                <linear-statistic
                        class="mt-4"
                        title="Porcentaje de abandono"
                        :sub-title="tickets_abiertos.length"
                        icon="mdi-account-minus-outline"
                        color="info"
                        :value="tickets_abiertos.length"
                />
            </v-col>
        </v-row>
        <!-- Circle statistic -->
        <v-row>
            <v-col
                    :lg="4"
                    :sm="12"
                    :cols="12"
                    v-for="(item, index) in trending"
                    :key="'c-trending' + index"
            >
                <circle-statistic
                        :title="item.subheading"
                        :sub-title="item.headline"
                        :caption="item.caption"
                        :icon="item.icon.label"
                        :color="item.linear.color"
                        :value="item.linear.value"
                />
            </v-col>
        </v-row>


    </v-container>
</template>


<script>
import MiniStatistic from '@/conquest/components/widgets/statistic/MiniStatistic'
import CircleStatistic from '@/conquest/components/widgets/statistic/CircleStatistic'
import LinearStatistic from '@/conquest/components/widgets/statistic/LinearStatistic'

import {
    StackData,
    SinData,
    monthVisitData,
    campaignData,
    locationData
} from '@/conquest/api/chart'

import {mapActions, mapGetters} from 'vuex'
import MiniChart from '@/conquest/components/widgets/chart/MiniChart'
import BoxChart from '@/conquest/components/widgets/chart/BoxChart'
import Material from 'vuetify/es5/util/colors'

export default {
    name: 'Dashboard',
    components: {
        MiniStatistic,
        CircleStatistic,
        LinearStatistic,
        MiniChart,
        BoxChart,
    },
    data() {
        return {
            'header': 'Dashboard',
            trending: [
                {
                    subheading: 'Tickets',
                    headline: 15,
                    caption: 'Tickets abiertos',
                    percent: 15,
                    icon: {
                        label: 'mdi-ticket-confirmation-outline',
                        color: 'info'
                    },
                    linear: {
                        value: 15,
                        color: 'info'
                    }
                },
                {
                    subheading: 'Tickets',
                    headline: '90%',
                    caption: 'Tickets finalizados.',
                    percent: 90,
                    icon: {
                        label: 'mdi-view-list',
                        color: 'primary'
                    },
                    linear: {
                        value: 90,
                        color: 'success'
                    }
                },
                {
                    subheading: 'Dispositivos',
                    headline: '100%',
                    caption: 'Dispositivos monitoreados.',
                    percent: 100,
                    icon: {
                        label: 'mdi-bug',
                        color: 'primary'
                    },
                    linear: {
                        value: 100,
                        color: 'error'
                    }
                }
            ],
            dataset: {
                sinData: SinData,
                monthVisit: monthVisitData,
                campaign: campaignData,
                location: locationData,
                stackData: StackData
            },
            color: Material
        }
    },

    created() {
    },

    mounted() {
        this.fetchTickets()
    },

    methods: {


        /* eslint-disable-line no-unused-vars */
        handleTabChange() {
            // make sure the chart resized while parent from hidden to show
            window.dispatchEvent(new Event('resize'))
        },
        ...mapActions({
            fetchTickets: 'conquest_dashboard/fetchTickets',
        }),
    },

    computed: {
        ...mapGetters({
            tickets: 'conquest_dashboard/getTickets',
            tickets_abiertos: 'conquest_dashboard/getTicketsAbiertos',
            tickets_atendidos: 'conquest_dashboard/getTicketsAtendidos',
            tickets_finalizados: 'conquest_dashboard/getTicketsFinalizados',
            tiempo_espera: 'conquest_dashboard/getTiempoPromedioEspera',
            tiempo_atencion: 'conquest_dashboard/getTiempoPromedioAtencion',
        }),
    },
}
</script>