<template>
    <v-dialog v-model="dialog" transition="dialog-bottom-transition" persistent max-width="75%"
              :fullscreen="$vuetify.breakpoint.mobile">
        <template v-slot:activator="{ on }">
            <v-btn v-on="on" outlined dark>
                <v-icon class="mr-2">mdi-plus</v-icon>
                {{ title }}
            </v-btn>
        </template>
        <v-card>
            <v-form v-model="valid" ref="form_ts" @submit.prevent>
                <v-toolbar dark color="indigo">
                    <v-btn icon dark @click="close">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>INFORMACIÓN DEL TIEMPO DE SOLUCIÓN</v-toolbar-title>
                    <div class="flex-grow-1"></div>
                    <v-toolbar-items>
                        <v-btn
                                dark text
                                :disabled="!valid"
                                @click="validate"
                                type="submit"
                                :loading="loading"
                        >Guardar
                        </v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-card-text>
                    <v-container grid-list-md pa-0>
                        <v-row>
                            <v-col
                                    class="text-center mx-auto"
                                    md="6"
                            >
                                <v-alert
                                        v-model="info"
                                        border="top"
                                        colored-border
                                        type="info"
                                        dismissible
                                        elevation="2"
                                >
                                    Completa la información solicitada
                                </v-alert>
                            </v-col>
                        </v-row>
                        <v-layout wrap>
                            <v-col
                                    sm="12"
                                    md="6"
                            >
                                <v-select
                                        v-model="form.severidad_id"
                                        :items="severidades"
                                        label="Severidad"
                                        hint="Selecciona una opción"
                                        persistent-hint
                                        item-value="id"
                                        item-text="descripcion"
                                ></v-select>
                                <span v-if="currentSeveridad">
                                    Partidas: {{ currentSeveridad.partidas }} <br>
                                    Nivel: {{ currentSeveridad.nivel }} <br>
                                </span>
                            </v-col>
                            <v-col
                                    sm="6"
                                    md="6"
                            >
                                <v-text-field
                                        label="* Minutos"
                                        v-model="form.minutos"
                                        required
                                        :rules="[v => !!v || 'Campo requerido']"
                                ></v-text-field>
                            </v-col>
                        </v-layout>
                    </v-container>
                </v-card-text>
            </v-form>
            <v-footer
                    sticky
                    class="font-weight-thin"
            >
                <v-col
                        class="text-center mx-auto"
                        md="9"
                >
                    <v-alert
                            class="overline ma-0"
                            dense
                            outlined

                            type="error"
                    >
                        Campos marcados con <strong>*</strong> son obligatorios
                    </v-alert>
                </v-col>
            </v-footer>
        </v-card>
    </v-dialog>
</template>
<script>
import EventBus from '@/plugins/event-bus'
import Api from '@/components/Api'
import {mapGetters} from 'vuex'

export default {
    name: 'FormTiempoSolucion',
    props: ['title', 'url'],
    data: () => ({
        dialog:false,
        info: true,
        validating: false,
        valid: false,
        loading: false,
        form: {},
    }),
    mounted() {
        EventBus.$on('openTiemposSolucion', data => {
            this.form = {...data}
            this.dialog = true;
            this.edit = true;
        });
    },
    methods: {
        reloadTable(){
            EventBus.$emit('reloadTable')
        },
        resetForm() {
            this.$nextTick(() => {
                this.edit = false
                this.form = {}
                this.$refs.form_ts.reset()
            })
        },
        close() {
            this.form = {}
            this.dialog = false
            this.resetForm();
            setTimeout(() => {
                this.edit = false
            }, 100)
        },
        validate()  {
            if (this.$refs.form_ts.validate()) {
                this.loading = true
                this.$notify({
                    text: 'Procesando...',
                    type: 'info',
                    duration: 1000,
                });
                this.loading = false;
                this.submit(this.form, this.edit)
            }
        },
        async submit(data, edit = false) {
            if (edit) {
                let id = data.id
                Api.edit(this.url, id, data)
                        .then(({data}) => {
                            this.$notify({
                                text: data.message,
                                type: 'success'
                            });
                            this.close()
                        })
                        .catch(response => {
                            this.$notify({
                                text: response.message,
                                type: 'error'
                            });
                        }).finally(() => {
                            this.loading = false
                            this.reloadTable()
                        })
            } else {
                Api.add(this.url, data)
                        .then(({data}) => {
                            this.$notify({
                                text: data.message,
                                type: 'success'
                            });
                            this.close()
                        })
                        .catch(response => {
                            this.$notify({
                                text: response.message,
                                type: 'error'
                            });
                            this.loading = false
                        }).finally(() => {
                            this.loading = false
                            this.reloadTable()
                        })
            }
        },
    },
    computed: {
        ...mapGetters({
            severidades: 'conquest_admin/getSeveridades',
        }),

        currentSeveridad() {
            if (this.form) {
                let index = _.findIndex(this.severidades, {
                    'id': this.form.severidad_id
                })
                return this.severidades[index];
            }
            return false;
        }
    }
}
</script>

<style scoped>

</style>