<template>
    <v-app-bar app dense :color="sistema.bg_color" dark :clipped-left="true">
        <!-- <v-img max-width="50px" content :src="tienda.logo"></v-img> -->
        <v-toolbar-title 
            class="mx-6" 
            @click.prevent="go(item)" 
            v-if="item.items.length==0" 
            style="cursor:pointer; font-size:15px" 
            v-for="(item, index) in menu" :key="index">
                <v-icon class="pb-2 mr-2">{{item.icon}}</v-icon>
                {{item.title}}
        </v-toolbar-title>
        
        <v-menu offset-y v-for="(item, index) in menu" :key="index" v-if="item.items.length>0">
            <template v-slot:activator="{ on, attrs }">
                <v-toolbar-title class="mx-6" style="font-size:15px"  v-bind="attrs" v-on="on">
                    <v-icon class="pb-2 mr-2">{{item.icon}}</v-icon>
                    {{item.title}}
                    <v-icon class="ml-1 pb-1">mdi-chevron-down</v-icon>
                </v-toolbar-title>
            </template>
            <v-list>
                <v-list-item v-for="(i, ind) in item.items" :key="ind">
                    <v-list-item-title style="cursor:pointer;" @click.prevent="go(i)">
                        <v-icon class="mr-2 pb-1 black--text">{{i.icon}}</v-icon>
                        <span class="black--text">{{ i.title }}</span>
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
        
        <v-spacer/>
        <!-- MENU DEL PERFIL DE USUARIO -->
        <MenuProfile/>
    </v-app-bar>
</template>

<script>
    import MenuProfile from '@/components/MenuProfile.vue'

    export default {
        name:'Navbar',
        components: {
            MenuProfile
        },
        data:()=>({
            menu: [
                { title: 'Inicio', icon: 'mdi-chart-bar-stacked', path: '/', items: []},
                { title: 'Dashboard', icon: 'mdi-chart-bar-stacked', path: '/dashboard', items: []},
                { title: 'Reportes', icon: 'mdi-cogs',
                    items: [
                        { title: 'General', icon: 'mdi-account', path: '/personal' },
                        { title: 'Ayuda', icon: 'mdi-help', path: '/clientes'},
                    ]
                },
                { title: 'Configuración', icon: 'mdi-cogs',
                    items: [
                        { title: 'General', icon: 'mdi-account', path: '/personal' },
                        { title: 'Ayuda', icon: 'mdi-help', path: '/clientes'},
                    ]
                },
            ]
        }),
        computed: {
            sistema(){
                return this.$store.state.nms.sistema;
            },
        },
    }
</script>