<template>
    <v-card dense>
        <v-toolbar
                :color="sistema.bg_color"
                dark
                flat>
            <v-toolbar-title class="mr-5">
                Panel de operación
            </v-toolbar-title>

            <template v-slot:extension>
                <v-tabs
                        v-model="tab"
                        show-arrows>
                    <v-tabs-slider color="yellow"></v-tabs-slider>
                    <v-tab
                            v-for="item in listTabs"
                            :key="item.tabName"
                            :class="{'text-none':item.tabName==='QoS'}" >
                        {{ item.name }}
                    </v-tab>
                </v-tabs>
            </template>
        </v-toolbar>

        <v-tabs-items v-model="tab">
            <v-tab-item :key="'Dashboard'">
                <Dashboard/>
            </v-tab-item>
            <v-tab-item :key="'MapaDeRed'">
                <MapaDeRed/>
            </v-tab-item>
            <v-tab-item :key="'Alarmas'">
                <Alarmas/>
            </v-tab-item>
            <v-tab-item :key="'ProyectosRedundantes'">
                <ProyectosRedundantes/>
            </v-tab-item>
            <v-tab-item :key="'Dispositivos'">
                <Dispositivos/>
            </v-tab-item>
            <v-tab-item :key="'TopologiaDeRed'">
                <TopologiaDeRed/>
            </v-tab-item>
            <v-tab-item :key="'InformacionDispositivo'">
                <InformacionDispositivo/>
            </v-tab-item>
            <v-tab-item :key="'Interfaces'">
                <Interfaces/>
            </v-tab-item>
            <v-tab-item :key="'Recursos'">
                <Recursos/>
            </v-tab-item>
            <v-tab-item :key="'Qos'">
                <Qos/>
            </v-tab-item>
            <v-tab-item :key="'Slas'">
                <Slas/>
            </v-tab-item>
            <v-tab-item :key="'Traps'">
                <Traps/>
            </v-tab-item>
            <v-tab-item :key="'Syslogs'">
                <Syslogs/>
            </v-tab-item>
        </v-tabs-items>
    </v-card>
</template>

<script>
    import EventBus from '@/plugins/event-bus.js';
    import Traps from '@/nms/views/PanelOperaciones/Traps'
    import Slas from '@/nms/views/PanelOperaciones/Slas'
    import Qos from '@/nms/views/PanelOperaciones/Qos'
    import Recursos from '@/nms/views/PanelOperaciones/Recursos'
    import TopologiaDeRed from '@/nms/views/PanelOperaciones/TopologiaDeRed'
    import Dispositivos from '@/nms/views/PanelOperaciones/Dispositivos'
    import ProyectosRedundantes from '@/nms/views/PanelOperaciones/ProyectosRedundantes'
    import Alarmas from '@/nms/views/PanelOperaciones/Alarmas'
    import MapaDeRed from '@/nms/views/PanelOperaciones/MapaDeRed'
    import InformacionDispositivo from '@/nms/views/PanelOperaciones/InformacionDispositivo'
    import Interfaces from '@/nms/views/PanelOperaciones/Interfaces'
    import Dashboard from '@/nms/views/PanelOperaciones/Dashboard'
    import Syslogs from '@/nms/views/PanelOperaciones/Syslogs'

    export default{
        name: 'PanelOperaciones',
        components: {
            Syslogs,
            Traps,
            Slas,
            Qos,
            Recursos,
            TopologiaDeRed,
            Dispositivos,
            ProyectosRedundantes,
            Alarmas,
            MapaDeRed,
            InformacionDispositivo,
            Interfaces,
            Dashboard,
        },
        created(){
            EventBus.$on('openItem',(item) => {
                this.tab = null;
                this.listTabs = this.tabs[item.type] || [];
                this.tab = this.listTabs.length > 0 ? this.listTabs[0].tabName : null;
            });
        },
        data: () => ({
            tab: null,
            tubs:['Dashboard', 'Mapa de red', 'Alarmas', 'Proyectos redundantes', 'Dispositivos', 'Topología de red', 'Información del dispositivo',
                'Interfaces', 'Recursos', 'QoS', 'SLAs', 'Trap', 'Syslog'],
            tabs:{
                project:[ {tabName:'Dashboard',name:'Dashboard'}, {tabName:'MapaDeRed',name:'Mapa de red'},{tabName:'Dispositivos',name:'Dispositivos'},{tabName:'Alarmas',name:'Alarmas'}],
                user:[{tabName:'Dashboard',name:'Dashboard'}, {tabName:'MapaDeRed',name:'Mapa de red'}, {tabName:'Alarmas',name:'Alarmas'}, {tabName:'ProyectosRedundantes',name:'Proyectos redundantes'}],
                sitio:[{tabName:'Dashboard',name:'Dashboard'}, {tabName:'MapaDeRed',name:'Mapa de red'},{tabName:'Dispositivos',name:'Dispositivos'},{tabName:'Alarmas',name:'Alarmas'},{tabName:'TopologiaDeRed',name:'Topología de red'}],
                item:[{tabName:'Recursos',name:'Recursos'}, {tabName:'QoS',name:'QoS'}, {tabName:'SLAs',name:'SLAs'},{tabName:'Trap',name:'Trap'},{tabName:'Syslog',name:'Syslog'}, {tabName:'InformacionDispositivo',name:'Información del dispositivo'},{tabName:'MapaDeRed',name:'Mapa de red'},{tabName:'Alarmas',name:'Alarmas'},{tabName:'Interfaces',name:'Interfaces'}] 
            },
            listTabs:[]
        }),
        computed: {
            sistema(){
                return this.$store.state.nms.sistema;
            },
        },
        watch: {
        },
        methods: {
        }
    }
</script>