<template>
    <v-card>        
        <v-toolbar
                :color="sistema.bg_color"
                dark
                flat>
            <v-toolbar-title class="mr-5">
                Panel de nodos
            </v-toolbar-title>

            <template v-slot:extension>
                <v-text-field label="Buscar" autocomplete="off" dense outlined append-icon="mdi-magnify" hide-details=""></v-text-field>
            </template>
        </v-toolbar>
        <!-- <v-toolbar dark :color="sistema.bg_color">
        </v-toolbar> -->
        <v-col cols="12" class="ma-0 py-2 pa-0">
            <v-treeview dense activatable :items="treeview">
                <template v-slot:label={item}>
                    <span @click="loadChildrens(item)" style="cursor:pointer;">
                        <span class="black--text" v-if="item.type=='user'">
                            <v-icon class="black--text pb-1" left>mdi-account</v-icon>
                            {{item.name}}
                        </span>
                        <span class="black--text" v-if="item.type=='project'">
                            <v-icon class="black--text pb-1" left>mdi-account</v-icon>
                            {{item.name}}
                        </span>
                        <span class="black--text" v-if="item.type=='sitio'">
                            <v-icon class="black--text pb-1" left>mdi-sitemap</v-icon>
                            {{item.name}}
                        </span>
                        <span class="black--text" v-if="item.type=='item'">
                            <v-icon class="black--text mr-2 pb-1" color="green" v-if="item.estatus==1">mdi-circle</v-icon>
                            <v-icon class="black--text mr-2 pb-1" color="red" v-if="item.estatus==0">mdi-circle</v-icon>
                            <v-icon class="black--text mr-2 pb-1" color="orange" v-if="item.estatus==2">mdi-circle</v-icon>
                            <span>{{item.name}}</span>
                        </span>
                    </span>
                </template>
                <template v-slot:append={item}>
                    <MenuUser :user="item" v-if="item.type=='user'"/>
                    <menu-project :user="item" v-if="item.type=='project'" />
                    <MenuSitio :user="item" v-if="item.type=='sitio'"/>
                    <MenuItem :user="item" v-if="item.type=='item'"/>
                </template>
            </v-treeview>
        </v-col>
    </v-card>
</template>

<script>
    import { mapGetters } from 'vuex'
    import EventBus from '@/plugins/event-bus.js';
    import MenuUser from '@/nms/components/Treeview/MenuUser.vue'
    import MenuSitio from '@/nms/components/Treeview/MenuSitio.vue'
    import MenuItem from '@/nms/components/Treeview/MenuItem.vue'
import MenuProject from './Treeview/MenuProject.vue'

    export default{
        name: '',
        components: {MenuUser, MenuSitio, MenuItem,MenuProject},
        data:()=>({
            items: [],
            treeview: [],
        }),
        computed:{
            ...mapGetters({
                user: 'index/user',
                sistema: 'nms/sistema',
            }),
        },
        mounted(){
            this.treeview = [];
            let treeview = [];

            
            treeview.push({
                name: this.user.persona.nombres, 
                type: "user", 
                children: []
            });

            EventBus.$emit('openItem',treeview[0]);

            let proyect =  {
                name: this.user.proyecto.nombre, 
                type: "project",
                loading:true,
                children: []
            };
                
            this.axios('/api/nms/sitios?_relations=items.detalles').then(response=>{
                response.data.items.map(s=>{
                    s.name = s.nombre;
                    s.type = "sitio";
                    s.children = [];

                    s.items.map(i=>{
                        i.name = i.nombre;
                        i.type = "item";
                        i.estatus=1;
                        i.children = [];
                        s.children.push(i);   
                    });

                    proyect.children.push(s);
                    proyect.loading = false;
                })
                treeview[0].children.push(proyect);
            })
            
            this.treeview = treeview;
            
            
            // let sitio2 = {
            //     name: 'Sitio 2',
            //     type: 'sitio',
            //     children: [
            //         {
            //             ip: '192.168.0.1',
            //             type: 'item',
            //             estatus: 1,
            //         },
            //         {
            //             ip: '192.168.0.2',
            //             type: 'item',
            //             estatus: 2,
            //         },
            //         {
            //             ip: '192.168.0.3',
            //             type: 'item',
            //             estatus: 0,
            //         }
            //     ],
            // };

        },
        methods:{

            loadChildrens(item){
                // console.log(item);
                EventBus.$emit('openItem',item);
            }


        }
    }
</script>