<template>
    <div>
        <router-view></router-view>
        <notifications position="bottom right" :duration="1500" />
    </div>
</template>

<script>
export default {
    name: 'appAdmin',
}
</script>
