<template>
    <div>
        <v-app-bar
                :clipped-left="$vuetify.breakpoint.lgAndUp"
                app
                :color="sistema.bg_color"
                dark
        >
            <v-app-bar-nav-icon @click.stop="mini = !mini"/>

            <v-toolbar-title
                    class="ml-0"
            >
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle class="subtitle-1">
                            GDC ConQuest | Admin Panel
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-toolbar-title>
            <v-spacer/>

            <MenuProfile/>

        </v-app-bar>
        <v-navigation-drawer
                v-model="drawer"
                :clipped="$vuetify.breakpoint.lgAndUp"
                app
                fixed
                hide-overlay
                :expand-on-hover="mini"
                stateless>
            <v-list dense>
                <template v-for="item in items">
                    <v-list-group
                            v-if="item.children"
                            :key="item.text"
                            :prepend-icon="item.icon"
                            no-action
                            :value="subIsActive(item.parent)"
                    >
                        <template v-slot:activator>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ item.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </template>
                        <v-list-item
                                v-for="(child, i) in item.children"
                                :key="i"
                                link
                                :to="{name: child.route}"
                        >
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ child.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-icon>
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-item-icon>
                        </v-list-item>
                    </v-list-group>
                    <v-list-item
                            v-else
                            :key="item.text"
                            link
                            :to="{name: item.route}"
                    >
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>
<script>

import MenuProfile from '@/components/MenuProfile'
export default {
    name: 'Sidebar',
    components: {MenuProfile},
    data: () => ({
        drawer: true,
        mini: false,
        items: [
            {icon: 'mdi-home', text: 'Inicio', route: 'inicio'},
            // {icon: 'mdi-ticket-confirmation', text: 'Tickets', route: 'tickets-admin'},
            //{ icon: 'mdi-file-chart', text: 'Reportes', route: 'reportes'},
            {
                icon: 'mdi-briefcase-edit', text: 'Administracion', parent: 'conquest/admin/administracion',
                children: [
                    // {icon: 'mdi-account-group', text: 'Usuarios', route: 'users'},
                    // {icon: 'mdi-office-building-marker', text: 'Sitios', route: 'sitios'},
                    // {icon: 'mdi-devices', text: 'Dispositivos', route: 'dispositivos'},
                    {icon: 'mdi-alert-rhombus-outline', text: 'Severidades', route: 'severidades'},
                    {icon: 'mdi-highway', text: 'Medios', route: 'medios'},
                    {icon: 'mdi-state-machine', text: 'Estatus', route: 'estatus'},
                    {icon: 'mdi-format-list-bulleted-type', text: 'Tipos de reporte', route: 'tipos_reporte'},
                    {icon: 'mdi-timer', text: 'Tiempos de atención', route: 'tiempos_atencion'},
                    {icon: 'mdi-timetable', text: 'Tiempos de solución', route: 'tiempos_solucion'},
                ]

            },
        ],
    }),
    mounted() {
    },
    computed: {
        sistema(){
            return this.$store.state.conquest_admin.sistema;
        },
    },
    watch: {},
    methods: {
        subIsActive(input) {
            const paths = Array.isArray(input) ? input : [input];
            return paths.some(path => {
                return this.$route.path.indexOf(path) === -1 // current path starts with this path string
            })
        },
    }
}
</script>
