<template>
    <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
                <v-icon class="black--text ">mdi-cog</v-icon>
            </v-btn>
        </template>
        <v-list class="pa-0">
            <template v-for="(item, index) in items">
                <v-tooltip bottom color="black" :key="index">
                    <template v-slot:activator="{ on, attrs }">
                         <v-list-item v-bind="attrs" v-on="on" dense class="pa-0" :disabled="item.disabled" link>
                            <v-list-item-title  class="pa-0 px-2 ma-0">
                                <v-row class="ma-0 pa-0">

                                    <v-icon v-if="!item.loading" color="black" class="pb-1" left>{{item.icon}}</v-icon>
                                    <v-progress-circular v-else indeterminate color="primary"></v-progress-circular>
                                    
                                    <span class="pt-2">{{ item.name }}
                                    </span>
                                    <!-- <v-spacer></v-spacer> -->
                                    <v-btn icon>
                                        <v-icon>mdi-account-tie-voice-outlin</v-icon>
                                    </v-btn>
                                </v-row>
                            </v-list-item-title>
                        </v-list-item>
                    </template>
                    <span>{{ item.name }}</span>
                </v-tooltip>
               
            </template>
            
        </v-list>
    </v-menu>
</template>
<script>
    export default{
        name: '',
        props: ['user'],
        data:()=>({
            items: [
                { name: 'Editar grupo', disabled: false, icon:'mdi-file' },
                { name: 'Agregar sitio', disabled: false, icon:'mdi-magnify' },
                { name: 'Agregar dispositivo', disabled: false, icon:'mdi-plus' },
                { name: 'Monitoreo de conexión', disabled: false, icon:'mdi-eye' },
            ],
        })
    }
</script>