<template>
    <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
                <v-icon class="black--text ">mdi-cog</v-icon>
            </v-btn>
        </template>
        <v-list class="pa-0">

            <template v-for="(item, index) in items" >
                 <v-tooltip bottom color="black" :key="index">
                    <template v-slot:activator="{ on, attrs }">
                        <v-list-item v-bind="attrs" v-on="on" class="pa-0" dense :disabled="item.disabled" link>
                            <v-list-item-title class="pa-0 px-2 ma-0">
                                <v-row class="ma-0 pa-0">
                                    <v-icon color="black" class="pb-1" left>{{item.icon}}</v-icon>
                                    <span class="pt-2">{{ item.name }}
                                    </span>
                                    <v-spacer></v-spacer>
                                </v-row>
                            </v-list-item-title>
                        </v-list-item>
                    </template>
                    <span>{{ item.name }}</span>
                 </v-tooltip>
            </template>
            
        </v-list>
    </v-menu>
</template>
<script>
    
    export default{
        name: '',
        props: ['user'],
        data:()=>({
            items: [
                { name: 'Editar dispositivo', disabled: false, icon:'mdi-file' },
                { name: 'Ping al dispositivo', disabled: false, icon:'mdi-magnify' },
                { name: 'Mostrar log', disabled: true, icon:'mdi-package' },
                { name: 'Mostrar inventario', disabled: false, icon:'mdi-package' },
                { name: 'Configuración del dispositivo',type:'conf' ,disabled: false, icon:'mdi-magnify' },
                { name: 'Mostrar tickets', disabled: false, icon:'mdi-eye' },
                { name: 'Mostrar estadisticas', disabled: false, icon:'mdi-eye' },
                { name: 'Ancho de banda', disabled: false, icon:'mdi-package' },
                { name: 'Linea de comandos', disabled: false, icon:'mdi-powershell' },
            ],
        }),
    }
</script>