<template>
    <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
                <v-icon class="black--text ">mdi-cog</v-icon>
            </v-btn>
        </template>
        <v-list class="pa-0">
            <EditarUsuario />
            <v-divider></v-divider>
            <AgregarSitio />
            <v-divider></v-divider>
            <PingDispNoManejados />
        </v-list>
    </v-menu>
</template>
<script>
    import AgregarSitio from './Sitios/FormSitio.vue'
    import EditarUsuario from './Usuario/FormUsuario.vue'
    import PingDispNoManejados from './PingDispNoManejados.vue'
    export default{
        name: '',
        components: {
            AgregarSitio,
            EditarUsuario,
            PingDispNoManejados,
        },
        props: ['user'],
        data:()=>({
        })
    }
</script>