<template>
    <v-dialog v-model="dialog" persistent max-width="600px" transition="dialog-bottom-transition">
        <template v-slot:activator="{ on }">
            <span v-on="on">
                <v-tooltip bottom color="black">
                    <template v-slot:activator="{ on, attrs }">
                        <v-list-item v-bind="attrs" v-on="on" dense class="pa-0 ma-0 px-2" :disabled="false" link>
                            <v-list-item-title class="pa-0 px-2 ma-0">
                                <v-row class="ma-0 pa-0">
                                    <v-icon color="black" class="pb-1" left>mdi-file</v-icon>
                                    <span class="pt-2">Ping a dispositivos no manejados</span>
                                </v-row>
                            </v-list-item-title>
                        </v-list-item>
                    </template>
                    <span>Ping a dispositivos no manejados</span>
                </v-tooltip>
            </span>
        </template>
        <v-card>
            <v-toolbar dense dark :color="sistema.bg_color">
                <v-toolbar-title>
                    <v-icon class="mr-2 pb-2">mdi-account</v-icon>
                    <span>PING</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click.prevent="closeDialog()">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text class="px-4 pt-4 py-0">
                <v-form ref="formulario">
                    <v-row no-gutters>
                        <v-col cols="12" class="px-1">
                            <v-text-field label="Nombre" dense outlined autocomplete="off" v-model="Formulario.nombre"></v-text-field>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
            <v-card-actions class="pa-4">
                <v-spacer></v-spacer>
                <v-btn outlined dark color="#D50000" @click.prevent="closeDialog()">
                    <span class="font-weight-bold">CANCELAR</span>
                </v-btn>
                <v-btn outlined dark color="primary" @click.prevent="save()">
                    <span class="font-weight-bold">GUARDAR</span>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    import EventBus from '@/plugins/event-bus.js';
    import Api from '@/components/Api.js';
    import { mapGetters } from 'vuex';

    export default{
        name: 'Treeview-EditarUsuario',
        props:['parent'],
        data: ()=>({
            dialog:false,
            edit: false,
            Formulario: {
            },
        }),
        computed:{
            ...mapGetters({
                sistema: 'nms/sistema',
                user: 'index/user',    
            })
        },
        mounted() {
            EventBus.$on('openUser', data => {
                this.load(data);
                this.edit = true;
                this.dialog = true;
            });
        },
        methods:{
            reloadTreeview(){
                EventBus.$emit('reloadTreeview');
                this.closeDialog();
            },
            save(){
                if(this.$refs.formulario.validate()){
                    Api.add('/', this.Formulario).then((response)=>{
                        if(response.data.success){
                            this.$notify({
                                text: response.data.message,
                                type: 'success',
                            })
                            this.reloadTreeview();
                        }else{
                            this.$notify({
                                text: response.data.message,
                                type: 'error',
                            })
                        }
                    });   
                }else{
                    this.$notify({
                        text: 'POR FAVOR, PROPORCIONA LOS CAMPOS SOLICITADOS...',
                        type: 'error'
                    });
                }
            },
            closeDialog(){
                this.dialog = false;
                this.edit = false;
                this.$refs.formulario.reset();
            }
        }
    }
</script>