<template>
    <v-app-bar dense :clipped-left="$vuetify.breakpoint.lgAndUp" app :color="sistema.bg_color" dark>
        <v-app-bar-nav-icon @click.stop="$store.state.administracion.mini = !$store.state.administracion.mini"/>
        <!-- LOGO CMDB Y TITULO -->
        <v-avatar size="30" class="mx-3" tile>
            <v-img v-if="proyecto.archivo_icono!=null"  :src='this.baseURL+"/"+this.proyecto.archivo_icono.ruta_publica'></v-img>
        </v-avatar>
        <v-toolbar-title class="text-shadow"> ADMINISTRACIÓN </v-toolbar-title>
        <v-spacer/>
        <!-- MENU DEL PERFIL DE USUARIO -->
        <MenuProfile/>
    </v-app-bar>
</template>

<script>
    import MenuProfile from '../../components/MenuProfile'
    import { mapGetters } from 'vuex';

    export default {
        components: {MenuProfile},
        data:()=>({
            
        }),
        computed: {
            ...mapGetters({
                sistema: 'administracion/sistema',
                baseURL: 'index/baseURL',
                proyecto: 'index/proyecto',
            })        
        },
    }
</script>
<style>
    .text-shadow{
        text-shadow: 1px 2px 7px black;
    }
</style>