<template>
    <v-navigation-drawer :color="sistema.bg_color" dark v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app fixed hide-overlay :expand-on-hover="mini" stateless>
        <v-img class="mt-2" v-if="proyecto.archivo_logo!=null" contain max-width="255px" max-height="100px" :src="baseURL+'/'+proyecto.archivo_logo.ruta_publica"></v-img>
        <v-list dense>
            <template v-for="item in sidebar">
                <v-list-group style="color: white!important" v-if="item.children" :key="item.text" :prepend-icon="item.icon" no-action >
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </template>
                    <v-list-item style="color:white" v-for="(child, i) in item.children" :key="i" link :to="{name: child.route,params: {id: this.$route.params.id}}">
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ child.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-icon>
                            <v-icon>{{ child.icon }}</v-icon>
                        </v-list-item-icon>
                    </v-list-item>
                </v-list-group>
                <v-list-item v-else :key="item.text" link :to="{name: item.route}">
                    <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>
                            {{ item.text }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </template>
        </v-list>
    </v-navigation-drawer>
</template>
<script>
    import { mapGetters } from 'vuex';

    export default {
        name: 'Sidebar',
        data: () => ({
            drawer: true,
        }),
        computed: {
            ...mapGetters({
                sistema: 'administracion/sistema',
                mini: 'administracion/mini',
                usuario: 'administracion/usuario',
                sidebar: 'administracion/sidebar',
                proyecto: 'index/proyecto',
                baseURL: 'index/baseURL',
            })        
        },
    }
</script>
