<template>
    <v-container>
        <v-card>
            <v-toolbar
                    color="blue darken-4"
                    dark
                    flat
            >

                <v-btn
                        icon
                        :to="{name: 'tickets'}"
                >
                    <v-icon>mdi-arrow-left</v-icon>
                </v-btn>

                <v-toolbar-title class="mr-5">
                    Detalle de ticket #{{ ticket.folio }}
                </v-toolbar-title>
                <div v-show="ticket.estatus_id === 2">
                    <v-tooltip top v-permission="'atender_tickets'">
                        <template v-slot:activator="{ on, attrs }">
                            <span v-bind="attrs" v-on="on">
                                <DialogEstatus title="Tickets"
                                               :ticket="ticket"
                                               icon="mdi-checkbox-marked-circle-outline"
                                               :increment="1"
                                               :route="route"
                                               @reload="fetchTicket({ticket: ticket.id})"
                                />
                            </span>
                        </template>
                        <span>
                            Ticket resuelto
                        </span>
                    </v-tooltip>
                </div>

                <div v-show="ticket.estatus_id === 1">
                    <v-tooltip top v-permission="'validar_tickets'">
                        <template v-slot:activator="{ on, attrs }">
                            <span v-bind="attrs" v-on="on">
                                <DialogAsignar title="Tickets"
                                               :item="ticket" :soportes="soportes" :route="route"
                                               :increment="1" :nameSpaceState="'conquest'"
                                               @reload="fetchTicket({ticket: ticket.id})"
                                />
                            </span>
                        </template>
                        <span>
                            Asignar atención
                        </span>
                    </v-tooltip>
                </div>

                <div v-show="ticket.estatus_id === 1">
                    <v-tooltip top v-permission="'atender_tickets'">
                        <template v-slot:activator="{ on, attrs }">
                            <span v-bind="attrs" v-on="on">
                                <DialogEstatus title="Tickets"
                                               :ticket="ticket"
                                               icon="mdi-account-arrow-right-outline"
                                               :increment="1"
                                               :route="route"
                                               @reload="fetchTicket({ticket: ticket.id})"
                                />
                            </span>
                        </template>
                        <span>
                            Iniciar atención
                        </span>
                    </v-tooltip>
                </div>

                <div v-show="ticket.estatus_id === 3">
                    <v-tooltip top v-permission="'validar_tickets'">
                        <template v-slot:activator="{ on, attrs }">
                            <span v-bind="attrs" v-on="on">
                                <DialogEstatus title="Tickets"
                                               :ticket="ticket"
                                               icon="mdi-progress-close"
                                               :increment="-1"
                                               :route="route"
                                               @reload="fetchTicket({ticket: ticket.id})"
                                />
                            </span>

                        </template>
                        <span>
                            Rechazar solución
                        </span>
                    </v-tooltip>
                </div>
                <div v-show="ticket.estatus_id === 3">
                    <v-tooltip top v-permission="'validar_tickets'">
                        <template v-slot:activator="{ on, attrs }">
                            <span v-bind="attrs" v-on="on">
                                <DialogEstatus title="Tickets"
                                               :ticket="ticket"
                                               icon="mdi-check-all"
                                               :increment="1"
                                               :route="route"
                                               @reload="fetchTicket({ticket: ticket.id})"
                                />
                            </span>
                        </template>
                        <span>
                            Validar solución
                        </span>
                    </v-tooltip>
                </div>

                <div v-show="ticket.estatus_id === 4">
                    <v-tooltip top v-permission:any="'atender_tickets|validar_tickets'">
                        <template v-slot:activator="{ on, attrs }">
                            <span v-bind="attrs" v-on="on">
                                <DialogEstatus title="Tickets"
                                               :ticket="ticket"
                                               icon="mdi-sticker-check-outline"
                                               :increment="1"
                                               :route="route"
                                               @reload="fetchTicket({ticket: ticket.id})"
                                />
                            </span>
                        </template>
                        <span>
                            Cerrar ticket
                        </span>
                    </v-tooltip>
                </div>


                <template v-slot:extension>
                    <v-tabs
                            v-model="tab"
                            align-with-title
                    >
                        <v-tabs-slider color="yellow"></v-tabs-slider>

                        <v-tab
                                v-for="item in items"
                                :key="item"
                        >
                            {{ item }}
                        </v-tab>
                    </v-tabs>
                </template>
            </v-toolbar>

            <v-tabs-items v-model="tab">
                <v-tab-item
                        :key="'Ticket'"
                >
                    <v-card
                            class="mx-auto my-0"
                    >
                        <template slot="progress">
                            <v-progress-linear
                                    color="deep-purple"
                                    height="10"
                                    indeterminate
                            ></v-progress-linear>
                        </template>

                        <v-card-title>Ticket #{{ ticket.folio }}</v-card-title>

                        <v-card-text>
                            <div class="my-4 subtitle-1">
                                {{ ticket.descripcion_problema }}
                            </div>

                            <div>
                                Prioridad: {{ ticket.prioridad }}
                            </div>
                            <div v-if="ticket.estatus">
                                Estatus: {{ ticket.estatus.descripcion }}
                            </div>
                        </v-card-text>

                        <v-divider class="mx-4"></v-divider>

                        <v-card-title>Tiempos</v-card-title>

                        <v-card-text>
                            <v-chip-group
                                    active-class="deep-purple accent-4 white--text"
                                    column
                            >
                                <v-chip>Espera: {{ ticket.tiempo_espera }}</v-chip>
                                <v-chip>Atención: {{ ticket.tiempo_atencion }}</v-chip>
                            </v-chip-group>
                        </v-card-text>

                        <v-divider></v-divider>
                        <v-list class="transparent">
                            <v-list-item>
                                <v-list-item-title>Fecha de apertura</v-list-item-title>
                                <v-list-item-icon>
                                    <v-icon>mdi-calendar</v-icon>
                                </v-list-item-icon>

                                <v-list-item-subtitle class="text-right">
                                    {{ ticket.fecha_apertura }}
                                </v-list-item-subtitle>
                            </v-list-item>

                            <v-list-item>
                                <v-list-item-title>Fecha de atencion</v-list-item-title>
                                <v-list-item-icon>
                                    <v-icon>mdi-calendar</v-icon>
                                </v-list-item-icon>

                                <v-list-item-subtitle class="text-right">
                                    {{ ticket.fecha_atencion }}
                                </v-list-item-subtitle>
                            </v-list-item>

                            <v-list-item>
                                <v-list-item-title>Fecha de termino</v-list-item-title>
                                <v-list-item-icon>
                                    <v-icon>mdi-calendar</v-icon>
                                </v-list-item-icon>

                                <v-list-item-subtitle class="text-right">
                                    {{ ticket.fecha_termino }}
                                </v-list-item-subtitle>
                            </v-list-item>
                        </v-list>
                    </v-card>
                </v-tab-item>

                <v-tab-item
                        :key="'Bitácora de seguimiento'"
                >
                    <v-card>
                        <v-timeline
                                dense
                                clipped
                                class="pr-10"
                        >
                            <v-timeline-item
                                    fill-dot
                                    class="white--text mb-4"
                                    color="orange"
                                    large
                                    v-show="ticket.estatus_id === 2"
                                    v-permission="'atender_tickets'"
                            >
                                <template v-slot:icon>
                                    <v-icon dark>mdi-format-quote-close</v-icon>
                                </template>
                                <v-textarea
                                        v-model="input"
                                        hide-details
                                        solo
                                        no-resize
                                        label="Ingresa acciones de seguimiento..."

                                >
                                    <template v-slot:append>
                                        <v-btn
                                                class="mx-0"
                                                depressed
                                                @click="comment"
                                        >
                                            <v-icon class="mr-1">mdi-send</v-icon>
                                            Guardar
                                        </v-btn>
                                    </template>
                                </v-textarea>

                                <v-divider></v-divider>

                                <v-file-input
                                        class="mt-4"
                                        id="files"
                                        label="Cargar archivos"
                                        v-model="newFiles"
                                        outlined dense
                                        chips
                                        show-size counter multiple
                                        ref="files"
                                ></v-file-input>

                            </v-timeline-item>

                            <v-slide-x-transition
                                    group
                            >
                            </v-slide-x-transition>

                            <v-timeline-item
                                    class="mb-6"
                                    hide-dot
                            >
                                <span>Historial de acciones (Bitácora)</span>
                            </v-timeline-item>

                            <v-timeline-item
                                    class="mt-2"
                                    icon-color="grey lighten-2"
                                    small
                                    v-for="event in timeline"
                                    :key="event.id"
                            >
                                <v-row justify="space-between">
                                    <v-col cols="7">
                                        <v-chip
                                                class="white--text ml-0 mr-4"
                                                color="purple"
                                                label
                                                small
                                        >
                                            {{ event.usuario.username }}
                                        </v-chip>
                                        {{ event.comentario }}
                                    </v-col>
                                    <v-col
                                            class="text-right"
                                            cols="5"
                                    >
                                        {{ event.fecha }}
                                    </v-col>
                                    <v-col cols="12">
                                        <v-chip
                                                v-for="(file, index) in event.files"
                                                class="mr-2"
                                                :key="index"
                                                style="max-width:160px"
                                                @click="openFile(file)"
                                        >
                                            <v-icon v-if="file.tipo === 'application/pdf'" left>mdi-file-pdf</v-icon>
                                            <v-icon v-if="file.tipo === 'image/jpeg'
                                                || file.tipo === 'image/png'" left>mdi-file-image
                                            </v-icon>
                                            {{ file.nombre }}
                                        </v-chip>
                                    </v-col>
                                </v-row>
                            </v-timeline-item>
                        </v-timeline>
                    </v-card>
                </v-tab-item>

                <v-tab-item
                        :key="'Evidencias'"
                >
                    <v-card
                            class="mx-auto my-0"
                    >
                        <v-container fluid>
                            <template v-if="ticket.files">
                                <v-row dense v-if="ticket.files.length">
                                    <v-col
                                            v-for="file in ticket.files"
                                            :key="file.id"
                                            :cols="3"
                                    >
                                        <v-card>
                                            <v-img
                                                    v-if="file.tipo === 'application/pdf'"
                                                    :src="require(`@/assets/file_pdf.png`)"
                                                    class="white--text align-end"
                                                    gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.3)"
                                                    height="180px"
                                            >
                                            </v-img>
                                            <v-img
                                                    v-if="file.tipo === 'image/jpeg' || file.tipo === 'image/png'"
                                                    :src="require(`@/assets/file_img.png`)"
                                                    class="white--text align-end"
                                                    gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                                                    height="180px"
                                            >
                                            </v-img>
                                            <v-card-subtitle v-text="file.nombre"></v-card-subtitle>


                                            <v-card-actions>
                                                <v-spacer></v-spacer>

                                                <v-btn icon @click="openFile(file)">
                                                    <v-icon>mdi-download</v-icon>
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-col>
                                </v-row>
                                <v-row v-else>
                                    <v-col cols="4" class="mx-auto">


                                        <v-card class="text-center">
                                            <v-card-text>
                                                No se cargaron evidencias de problema
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </template>
                        </v-container>
                    </v-card>
                </v-tab-item>
                <v-tab-item v-if="ticket.dispositivo">
                    <v-card
                            class="mx-auto my-0"
                    >
                        <v-card-title>{{ ticket.dispositivo.nombre }}</v-card-title>

                        <v-card-text>
                            <div class="">
                                Marca: {{ ticket.dispositivo.marca }}
                            </div>

                            <div>
                                Modelo: {{ ticket.dispositivo.modelo }}
                            </div>
                            <div>
                                Fabricante: {{ ticket.dispositivo.fabricante }}
                            </div>
                            <div>
                                Partida: {{ ticket.dispositivo.partida_id }}
                            </div>
                        </v-card-text>

                        <v-divider class="mx-4"></v-divider>

                        <v-card-title>Información técnica</v-card-title>

                        <v-card-text>
                            <v-chip-group
                                    active-class="deep-purple accent-4 white--text"
                                    column
                            >
                                <v-chip>Hostname: {{ ticket.dispositivo.hostname }}</v-chip>
                                <v-chip>IPS: {{ ticket.dispositivo.ips }}</v-chip>
                            </v-chip-group>
                        </v-card-text>

                        <v-divider></v-divider>
                        <v-list class="transparent">
                            <v-list-item>
                                <v-list-item-title>Fecha de instalación</v-list-item-title>
                                <v-list-item-icon>
                                    <v-icon>mdi-calendar</v-icon>
                                </v-list-item-icon>

                                <v-list-item-subtitle class="text-right">
                                    {{ ticket.dispositivo.fecha_instalacion }}
                                </v-list-item-subtitle>
                            </v-list-item>

                            <v-list-item>
                                <v-list-item-title>Fecha de recepción</v-list-item-title>
                                <v-list-item-icon>
                                    <v-icon>mdi-calendar</v-icon>
                                </v-list-item-icon>

                                <v-list-item-subtitle class="text-right">
                                    {{ ticket.dispositivo.fecha_recepcion }}
                                </v-list-item-subtitle>
                            </v-list-item>

                            <v-list-item>
                                <v-list-item-title>Fecha de monitoreo</v-list-item-title>
                                <v-list-item-icon>
                                    <v-icon>mdi-calendar</v-icon>
                                </v-list-item-icon>

                                <v-list-item-subtitle class="text-right">
                                    {{ ticket.fecha_monitoreo }}
                                </v-list-item-subtitle>
                            </v-list-item>
                        </v-list>
                    </v-card>
                </v-tab-item>
                <v-tab-item v-if="ticket.usuario_reporta">
                    <v-card
                            class="mx-auto my-0"
                    >
                        <v-card-title>{{ ticket.usuario_reporta.username }}</v-card-title>

                        <v-card-text>
                            <div class="">
                                E-mail: {{ ticket.usuario_reporta.username }}
                            </div>
                            <div class="">
                                Telefono: {{ ticket.usuario_reporta.telefono }}
                            </div>
                        </v-card-text>


                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-card>

    </v-container>
</template>
<script>

import {mapActions, mapGetters} from 'vuex'
import {FUNCTIONS} from '@/mixins/functions'
//import Api from '../../router/shared/seguimiento.js'
//import ApiTicket from '../../router/shared/tickets.js'
import Api from '@/components/Api'
import DialogEstatus from '@/conquest/views/shared/tickets/dialogEstatus'
import DialogAsignar from '@/conquest/views/shared/tickets/dialogAsignar'

export default {
    name: 'TicketDetalle',
    mixins: [FUNCTIONS],
    components: {
        DialogEstatus,
        DialogAsignar
    },
    data: () => ({
        dialogEstatus: false,
        increment: 0,
        tab: null,
        items: [
            'Ticket', 'Bitácora de seguimiento', 'Evidencias', 'Dispositivo', 'Usuario que reporta',
        ],

        usuario_atiende_id: null,
        dialogAsignar: false,

        events: [],
        input: null,
        newFiles: [],
        nonce: 0,


        labels: ['SU', 'MO', 'TU', 'WED', 'TH', 'FR', 'SA'],
        time: 0,
        forecast: [
            {day: 'Tuesday', icon: 'mdi-white-balance-sunny', temp: '24\xB0/12\xB0'},
            {day: 'Wednesday', icon: 'mdi-white-balance-sunny', temp: '22\xB0/14\xB0'},
            {day: 'Thursday', icon: 'mdi-cloud', temp: '25\xB0/15\xB0'},
        ],
        url: 'api/conquest/seguimiento',
        route: 'api/conquest/tickets'

    }),
    mounted() {

    },
    created() {
        console.log(this.$route.params.ticket)
        this.fetchTicket({ticket: this.$route.params.ticket})
        if (!this.soportes.length)
            this.fetchSoportes()
    },
    computed: {
        /*
        timeline() {
            return this.events.slice().reverse()
        },
        */

        ...mapGetters({
            ticket: 'conquest/getTicket',
            timeline: 'conquest/getSeguimiento',
            soportes: 'conquest_admin/getSoportes',
        }),

        tickets_en_atencion() {
            if (this.usuario_atiende_id) {
                let index = _.findIndex(this.soportes, {
                    'id': this.usuario_atiende_id
                })
                return this.soportes[index].tickets_en_atencion;
            }
            return false;
        },
    },
    watch: {
        ticket: {
            handler(newVal) {
                if (newVal)
                    this.$store.commit('conquest/SET_SEGUIMIENTO', newVal.seguimiento)
                //this.fetchSeguimiento(newVal.seguimiento)
            },
            immediate: true
        },
    },
    methods: {
        comment() {
            /*
            const time = (new Date()).toTimeString()
            this.events.push({
                id: this.nonce++,
                text: this.input,
                time: time.replace(/:\d{2}\sGMT-\d{4}\s\((.*)\)/, (match, contents, offset) => {
                    return ` ${contents.split(' ').map(v => v.charAt(0)).join('')}`
                }),
            })
            */
            let data = {
                ticket_id: this.ticket.id,
                comentario: this.input,
            };

            let formData = new FormData();
            for (let key in data) {
                formData.append(key, data[key])
            }

            if (this.newFiles) {

                for (let i = 0; i < this.newFiles.length; i++) {
                    let file = this.newFiles[i];

                    formData.append('files[' + i + ']', file);
                }
            }

            Api.addSeguimiento(this.url, formData)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                    })
                    .catch(response => {
                        this.$notify({
                            text: response.message,
                            type: 'error'
                        });

                    }).finally(() => {
                // fetch a timeline

                this.fetchSeguimiento({ticket: this.ticket.id});
                this.input = null
                this.newFiles = []

            })


        },

        ...mapActions({
            fetchTicket: 'conquest/fetchTicket',
            fetchSoportes: 'conquest_admin/fetchSoportes',
            updateTicket: 'conquest/updateTicket',
            fetchSeguimiento: 'conquest/fetchSeguimiento',
        }),

    }
}
</script>
