<template>
    <v-container
            style="max-width: 100%"
            grid-list-xl>
        <v-layout wrap>
            <v-flex
                    md12
                    sm12
                    lg12
            >
                <v-data-table
                        :headers="computedHeaders"
                        :items="items"
                        class="elevation-1"
                        :loading="loading"
                        item-key="name"
                        :options.sync="pagination"
                        :server-items-length="totalItems"
                        :items-per-page="10"
                        :footer-props="footerProps"
                        dense
                >
                    <template v-slot:top>
                        <v-card flat color="white" elevation="0">
                            <v-card-title class="pt-2 pb-2 d-inline-block">Tickets</v-card-title>
                            <v-divider
                                    class="mx-2"
                                    inset
                                    vertical>
                            </v-divider>
                            <div class="d-inline-block">

                                <v-menu
                                        v-model="menu_export"
                                        :close-on-content-click="true"
                                        offset-x
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn
                                                :disabled="!items.length"
                                                color="teal"
                                                style="color:white"
                                                v-bind="attrs"
                                                v-on="on"
                                                small
                                        >
                                            Exportar
                                            <v-icon>mdi-application-export</v-icon>
                                        </v-btn>
                                    </template>

                                    <v-card>
                                        <v-card-actions>
                                            <v-btn
                                                    color="success"
                                                    text
                                                    small
                                                    @click="exportar('excel')"
                                            >
                                                <v-icon>mdi-file-excel</v-icon>
                                                Excel
                                            </v-btn>
                                            <v-btn
                                                    color="error"
                                                    text
                                                    small
                                                    @click="exportar('pdf')"
                                            >
                                                <v-icon>mdi-file-pdf-outline</v-icon>
                                                PDF
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-menu>

                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn
                                                v-bind="attrs"
                                                v-on="on"
                                                class="mx-2"
                                                dark
                                                color="indigo"
                                                fab
                                                small
                                                @click="showFilters = !showFilters"
                                        >
                                            <v-icon dark>mdi-format-list-bulleted-square</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>
                                        {{ showFilters ? 'Ocultar' : 'Mostrar' }}
                                        filtros
                                    </span>
                                </v-tooltip>

                                <v-menu
                                        v-model="menu"
                                        :close-on-content-click="false"
                                        :nudge-width="100"
                                        offset-x
                                >
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                                color="indigo"
                                                dark
                                                small
                                                v-on="on"
                                        >
                                            Columnas ocultas
                                        </v-btn>
                                    </template>

                                    <v-card>
                                        <v-list dense>
                                            <v-list-item
                                                    v-for="column in headers"
                                                    :key="column.text"
                                                    >
                                                <v-list-item-action>
                                                    <v-switch v-model="column.hide" color="purple"></v-switch>
                                                </v-list-item-action>
                                                <v-list-item-title>
                                                    {{ column.text }}
                                                </v-list-item-title>
                                            </v-list-item>
                                        </v-list>
                                        <v-card-actions>
                                            <div class="flex-grow-1"></div>
                                            <v-btn color="primary" text @click="menu = false">Cerrar</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-menu>

                                <v-dialog v-model="dialog" transition="dialog-bottom-transition" v-permission="'gestionar tickets'">
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                                v-on="on"
                                                class="mx-2 pull-right"
                                                dark
                                                color="indigo"
                                                small
                                        >
                                            <v-icon dark>mdi-plus</v-icon>
                                            Registrar ticket
                                        </v-btn>
                                    </template>
                                    <FormTicket :editedItem="item" @submit="submit"/>
                                </v-dialog>
                            </div>

                            <v-expand-transition>

                                <v-card-text class="py-0 mb-5 animate" v-show="showFilters">

                                    <v-row>
                                        <v-col cols="10" sm="10">
                                            <v-text-field
                                                    append-icon="mdi-magnify"
                                                    v-model="filtros['descripcion']"
                                                    type="text"
                                                    label="Descripción"
                                                    hide-details
                                            ></v-text-field>
                                        </v-col>

                                        <v-col cols="1">
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn
                                                            v-bind="attrs"
                                                            v-on="on"
                                                            dark
                                                            color="indigo"
                                                            fab
                                                            small
                                                            @click="limpiarFiltros()"
                                                    >
                                                        <v-icon dark>mdi-broom</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>
                                                    Limpiar filtros
                                                </span>
                                            </v-tooltip>
                                        </v-col>
                                    </v-row>


                                </v-card-text>
                            </v-expand-transition>
                        </v-card>
                    </template>

                    <template v-slot:item.files="{ item }">
                        <v-chip
                                v-for="(file, index) in item.files"
                                class="mr-2"
                                :key="index"
                                style="max-width:160px"
                                @click="openFile(file)"
                        >
                            <v-icon v-if="file.type === 'application/pdf'" left>mdi-file-pdf</v-icon>
                            <v-icon v-if="file.type === 'image/jpeg'
                                                || file.type === 'image/png'" left>mdi-file-image
                            </v-icon>
                            {{ file.filename }}
                        </v-chip>

                    </template>

                    <template v-slot:item.action="{ item }">

                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                        v-bind="attrs"
                                        v-on="on"
                                        dark
                                        color="indigo"
                                        fab
                                        x-small
                                        @click="openBitacora(item)"
                                >
                                    <v-icon small dark>mdi-history</v-icon>
                                </v-btn>
                            </template>
                            <span>
                                Bitácora de eventos
                            </span>
                        </v-tooltip>

                        <div v-show="item.estatus_id === 1">
                            <v-tooltip top v-permission="'validar tickets'">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                            v-bind="attrs"
                                            v-on="on"
                                            dark
                                            color="indigo"
                                            fab
                                            x-small
                                            @click="openAsignarAtencion(item)"
                                    >
                                        <v-icon dark>mdi-account-arrow-right-outline</v-icon>
                                    </v-btn>
                                </template>
                                <span>
                                    Asignar atención
                                </span>
                            </v-tooltip>
                        </div>

                        <div v-show="item.estatus_id === 1">
                            <v-tooltip top v-permission="'atender tickets'">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                            v-bind="attrs"
                                            v-on="on"
                                            dark
                                            color="indigo"
                                            fab
                                            x-small
                                            @click="openCambiarEstatus(item)"
                                    >
                                        <v-icon dark>mdi-account-arrow-right-outline</v-icon>
                                    </v-btn>
                                </template>
                                <span>
                                    Iniciar atención
                                </span>
                            </v-tooltip>
                        </div>
                        <div v-show="item.estatus_id === 2">
                            <v-tooltip top v-permission="'atender tickets'">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                            v-bind="attrs"
                                            v-on="on"
                                            dark
                                            color="indigo"
                                            fab
                                            x-small
                                            @click="openCambiarEstatus(item)"
                                    >
                                        <v-icon dark>mdi-checkbox-marked-circle-outline</v-icon>
                                    </v-btn>
                                </template>
                                <span>
                                    Ticket resuelto
                                </span>
                            </v-tooltip>
                        </div>

                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                        v-bind="attrs"
                                        v-on="on"
                                        dark
                                        color="indigo"
                                        fab
                                        x-small
                                        :to="{path: 'tickets/ticket_detalle/'+item.id}"
                                >
                                    <v-icon dark>mdi-eye-outline</v-icon>
                                </v-btn>
                            </template>
                            <span>
                                Detalle ticket
                            </span>
                        </v-tooltip>
                        <div v-show="item.estatus_id === 3">
                            <v-tooltip top v-permission="'validar tickets'">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                            v-bind="attrs"
                                            v-on="on"
                                            dark
                                            color="indigo"
                                            fab
                                            x-small
                                            @click="openCambiarEstatus(item, -1)"
                                    >
                                        <v-icon dark>mdi-progress-close</v-icon>
                                    </v-btn>
                                </template>
                                <span>
                                    Rechazar solución
                                </span>
                            </v-tooltip>
                        </div>
                        <div v-show="item.estatus_id === 3">
                            <v-tooltip top v-permission="'validar tickets'">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                            v-bind="attrs"
                                            v-on="on"
                                            dark
                                            color="indigo"
                                            fab
                                            x-small
                                            @click="openCambiarEstatus(item)"
                                    >
                                        <v-icon dark>mdi-check-all</v-icon>
                                    </v-btn>
                                </template>
                                <span>
                                    Validar solución
                                </span>
                            </v-tooltip>
                        </div>
                        <div v-show="item.estatus_id === 4">
                            <v-tooltip top v-permission:any="'atender tickets|validar tickets'">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                            v-bind="attrs"
                                            v-on="on"
                                            dark
                                            color="indigo"
                                            fab
                                            x-small
                                            @click="openCambiarEstatus(item)"
                                    >
                                        <v-icon dark>mdi-sticker-check-outline</v-icon>
                                    </v-btn>
                                </template>
                                <span>
                                    Cerrar ticket
                                </span>
                            </v-tooltip>
                        </div>

                        <v-menu bottom left v-permission="'gestionar tickets'">


                            <template v-slot:activator="{ on }">
                                <v-btn
                                        icon
                                        v-on="on"
                                >
                                    <v-icon>mdi-dots-vertical</v-icon>
                                </v-btn>
                            </template>

                            <v-list dense>


                                <v-list-item @click="editItem(item)">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-pencil-outline
                                    </v-icon>
                                    Editar
                                </v-list-item>
                                <v-list-item @click="openDeleteItem(item)">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-delete
                                    </v-icon>
                                    Eliminar
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </template>


                    <template v-slot:no-data>
                        <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
                    </template>
                </v-data-table>
            </v-flex>

            <v-dialog v-model="dialogEstatus" max-width="490">
                <v-card>
                    <v-card-title class="headline">Confirmar cambio de estatus</v-card-title>
                    <v-card-text>Confirme el cambio de estatus del ticket #{{ item.folio }}</v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogEstatus = false">Cancelar</v-btn>
                        <v-btn color="success" @click="cambiarEstatus()">Confirmar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog v-model="dialogAsignar" max-width="560">
                <v-card>
                    <v-card-title class="headline">Confirmar cambio de estatus Ticket #{{ item.folio }}</v-card-title>
                    <v-card-text>

                        <v-select
                                v-model="usuario_atiende_id"
                                :items="soportes"
                                label="Asignar a usuario: "
                                hint="Selecciona una opción"
                                item-value="id"
                                item-text="nombre_completo"
                        ></v-select>
                        <div v-show="usuario_atiende_id">
                            Tickets en atención
                            <v-simple-table>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-left">
                                                Folio
                                            </th>
                                            <th class="text-left">
                                                Prioridad
                                            </th>
                                            <th class="text-left">
                                                Fecha atención
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                                v-for="tick in tickets_en_atencion"
                                                :key="tick.id"
                                        >
                                            <td>{{ tick.folio }}</td>
                                            <td>{{ tick.prioridad }}</td>
                                            <td>{{ tick.fecha_atencion }}</td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>

                        </div>
                    </v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogAsignar = false">Cancelar</v-btn>
                        <v-btn color="success" @click="asignarTicket()">Confirmar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog v-model="dialogDelete" max-width="290">
                <v-card>
                    <v-card-title class="headline">Confirmar eliminación</v-card-title>
                    <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                        <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog v-model="dialogBitacora" max-width="640">
                <v-card>
                    <v-card-title class="headline">Bitácora de eventos del ticket #{{ item.folio }}</v-card-title>
                    <v-card-text>
                        <v-simple-table>
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th class="text-left">
                                            Fecha
                                        </th>
                                        <th class="text-left">
                                            Estatus
                                        </th>
                                        <th class="text-left">
                                            Comentario
                                        </th>
                                        <th class="text-left">
                                            Responsable
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                            v-for="bitacora in itemBitacora.bitacora"
                                            :key="bitacora.id"
                                    >
                                        <td>{{ bitacora.fecha_evento }}</td>
                                        <td>{{ bitacora.estatus.descripcion }}</td>
                                        <td>{{ bitacora.observaciones }}</td>
                                        <td>{{ bitacora.usuario.nombre_completo }}</td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>

                    </v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogBitacora = false">Cerrar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
import EventBus from '@/plugins/event-bus.js'
import Api from '../../router/shared/tickets.js'
import FormTicket from '../../components/form/FormTicket'
import {FUNCTIONS} from '@/mixins/functions'

import {mapActions, mapGetters} from 'vuex'

export default {
    components: {
        FormTicket
    },
    mixins: [FUNCTIONS],
    data: () => {
        return {
            showFilters: true,
            draw: 1,
            search: '',
            searchQuery: '',
            totalItems: 0,
            pagination: {
                descending: true,
                page: 1,
                itemsPerPage: 10,
                sortBy: ['id'],
                totalItems: 0
            },
            filtros: {
                'descripcion': '',
            },
            filtros_bak: {
                'descripcion': '',
            },
            fecha: '2020-12-01',
            columns: {},
            footerProps: {'items-per-page-options': [5, 10, 15, 30, 50, -1]},
            cancelSource: null,
            loading: false,
            menu_export: false,
            dialogDelete: false,
            dialogEstatus: false,
            dialogAsignar: false,
            dialogBitacora: false,
            usuario_atiende_id: null,
            items: [],
            item: {},
            itemBitacora: {},
            defaults: {},
            dialog: false,
            menu: false,
            editedIndex: -1,
            increment: 0,
            editedItem: '',
            headers: [
                {text: 'id', value: 'id', hide: true},
                {text: '#', value: 'folio'},
                {text: 'Tipo reporte', value: 'tipo_reporte.descripcion'},
                {text: 'Medio', value: 'medio.descripcion'},
                {text: 'Usuario reporta', value: 'usuario_reporta.name'},
                {text: 'Usuario recibe', value: 'usuario_recibe.name', hide:true},
                {text: 'Usuario atiende', value: 'usuario_atiende.name'},
                {text: 'Prioridad', value: 'prioridad'},
                {text: 'Fecha apertura', value: 'fecha_apertura'},
                {text: 'Fecha atención', value: 'fecha_atencion', hide: true},
                {text: 'Tiempo de espera', value: 'tiempo_espera', hide: true},
                {text: 'Fecha de término', value: 'fecha_termino', hide: true},
                {text: 'Tiempo de atención', value: 'tiempo_atencion', hide: true},
                {text: 'Dispositivo', value: 'dispositivo.descripcion', hide: true},
                {text: 'Sitio', value: 'sitio.nombre', hide: true},
                {text: 'Descripción problema', value: 'descripcion_problema', hide: true},
                {text: 'Severidad', value: 'severidad.descripcion', hide: true},
                {text: 'Estatus', value: 'estatus.descripcion'},
                {text: 'Nivel atención', value: 'nivel_atencion'},
                {text: 'Archivos', value: 'files', hide: true},
                {text: 'Acciones', value: 'action', sortable: false},
            ],
        }
    },

    mounted() {
        for (var i = 0; i < this.headers.length; i++) {
            this.columns[i] = {
                data: this.headers[i].value,
                text: this.headers[i].text,
                hide: (typeof (this.headers[i].hide) != 'undefined' ? this.headers[i].hide : false),
                name: (typeof (this.headers[i].name) != 'undefined' ? this.headers[i].name : this.headers[i].value),
                searchable: this.headers[i].searchable,
                orderable: this.headers[i].sortable,
                search: {
                    value: '',
                    regex: false
                }
            };
        }

        //this.fetchSeveridades()
        this.fetchMedios()
        this.fetchTiposReporte()
        this.fetchEstatus()
        this.fetchUsuarios()
        this.fetchOperadores()
        this.fetchSoportes()
        this.fetchSitios()
        //this.fetchDispositivos()

    },

    async created() {
        EventBus.$on('CLOSE_DIALOG_TICKET', () => {
            this.dialog = false
        })

        EventBus.$on('REFRESH_DT_TICKETS', () => {
            this.reloadTable();
        })
    },

    computed: {

        ...mapGetters({
            soportes: 'conquest/getSoportes',
        }),

        params() {
            return {
                ...this.pagination,
                query: this.searchQuery,
            };
        },

        computedHeaders() {
            return this.headers.filter(h => {
                if (!h.hide) return true
            })
        },

        tickets_en_atencion() {
            if (this.usuario_atiende_id) {
                let index = _.findIndex(this.soportes, {
                    'id': this.usuario_atiende_id
                })
                return this.soportes[index].tickets_en_atencion;
            }
            return false;
        },
    },

    watch: {

        dialogBitacora(val) {
            val || this.closeDialogBitacora()
        },

        dialog(val) {
            val || this.close()
        },
        //watcher to watch for order/pagination and search criteria.
        params: {
            handler() {
                this.reloadTable();
            },
            deep: true
        },
        filtros: {
            handler(value) {
                for (let val in value) {
                    let index = _.findIndex(this.headers, {
                        'value': val
                    })
                    this.columns[index].search.value = value[val];
                }
                this.reloadTable();
            },
            deep: true
        }
    },

    methods: {

        ...mapActions({
            fetchTiposReporte: 'administracion/fetchTiposReporte',
            fetchMedios: 'administracion/fetchMedios',
            //fetchSeveridades: 'administracion/fetchSeveridades',
            fetchEstatus: 'administracion/fetchEstatus',
            fetchOperadores: 'administracion/fetchOperadores',
            fetchSoportes: 'administracion/fetchSoportes',
            fetchUsuarios: 'administracion/fetchUsuarios',
            fetchSitios: 'administracion/fetchSitios',
            fetchFiles: 'tickets/fetchFiles',
            //fetchDispositivos: 'administracion/fetchDispositivos',
        }),

        init() {
        },

        async submit(data) {
            if (this.editedIndex > -1) {
                let id = this.item.id
                data.append('_method', 'put');
                Api.edit(id, data)
                        .then(({data}) => {
                            this.$notify({
                                text: data.message,
                                type: 'success'
                            });
                            this.close()
                        })
                        .catch(response => {
                            this.$notify({
                                text: response.message,
                                type: 'error'
                            });
                        }).finally(() => {
                    this.loading = false
                    this.reloadTable();
                })
            } else {

                Api.add(data)
                        .then(({data}) => {
                            this.$notify({
                                text: data.message,
                                type: 'success'
                            });
                            this.close()
                        })
                        .catch(response => {
                            this.$notify({
                                text: response.message,
                                type: 'error'
                            });
                            this.loading = false
                        }).finally(() => {
                    this.loading = false

                    this.reloadTable();
                })
            }

        },

        prepareParams() {
            //copy current params to modify
            let params = this.params;
            //params.itemsPerPage = params.itemsPerPage;
            params.length = params.itemsPerPage; //set how many records to fecth per page
            params.start = params.page === 1 ? 0 : (params.itemsPerPage * (params.page - 1)); //set offset
            params.search = {
                value: params.query,
                regex: false
            }; //our search query
            params.draw = this.draw;

            //sorting and default to column 1 (ID)
            if (params.sortBy.length) {
                params.order = {
                    0: {
                        column: _.findIndex(this.headers, {
                            'value': params.sortBy[0]
                        }),
                        dir: (params.sortDesc[0] ? 'desc' : 'asc')
                    }
                };
            } else {
                params.order = {
                    0: {
                        column: 1,
                        dir: 'desc'
                    }
                };
            }
            for (let h in this.headers) {
                this.columns[h].hide = this.headers[h].hide;
            }
            params.columns = this.columns; //set our previously created columns
            return params;
        },

        exportar(tipo = 'excel') {

            this.$notify({
                text: 'Exportando información a ' + tipo,
                type: 'info'
            });

            let params = this.prepareParams();
            params.tipo = tipo;
            params.length = -1;

            this.axios.request({
                url: 'tickets.exportar',
                data: params,
                method: 'POST',
                responseType: 'blob',
            }).then((response) => {
                this.draw++;

                let type = 'application/pdf';
                if (tipo === 'excel') {
                    type = 'application/vnd.ms-excel';
                }

                let new_file = new Blob([response.data], {type: type});
                const url = window.URL.createObjectURL(new_file);
                const link = document.createElement('a');
                link.href = url;
                //link.setAttribute('download', item.clave);
                link.setAttribute('id', 'file-download');
                link.setAttribute('target', '_blank');
                document.body.appendChild(link);
                link.click();

            });

        },

        cancelRequest() {

            //Axios cancelSource to stop current search if new value is entered
            if (this.cancelSource) {
                this.cancelSource.cancel('Start new search, stop active search');
            }
        },

        reloadTable() {
            this.getDataFromApi().then(data => {
                this.items = data.items;
                this.totalItems = data.total;
            });
        },

        getDataFromApi() {
            //show loading of Vuetify Table
            this.loading = true;
            return new Promise((resolve, reject) => {
                this.cancelRequest();
                this.cancelSource = this.axios.CancelToken.source();

                this.prepareParams();

                this.axios.post('tickets.datatable').then((res) => {
                    this.draw++;
                    this.cancelSource = null;

                    let items = res.data.data;
                    let total = res.data.recordsFiltered;
                    resolve({
                        items,
                        total
                    });

                }).catch((err) => {
                    if (this.axios.isCancel(err)) {
                        console.log('Request canceled', err.message);
                    } else {
                        reject(err);
                    }
                }).finally(() => {
                    this.loading = false;
                });
            });
        },

        close() {
            this.dialog = false
            setTimeout(() => {
                EventBus.$emit('CLEAR_FORM_TICKET');
                this.item = _.deepclone(this.defaults)
                this.$store.commit('tickets/SET_FILES', [])
                //this.reloadTable();
            }, 500)
            this.editedIndex = -1
        },

        closeDialogBitacora() {
            this.dialogBitacora = false
            setTimeout(() => {
                this.itemBitacora = _.deepclone(this.defaults)
            }, 500)
            this.editedIndex = -1
        },

        limpiarFiltros() {
            this.filtros = _.deepclone(this.filtros_bak)
        },

        editItem(item) {
            this.editedIndex = this.items.indexOf(item)
            this.item = _.deepclone(item)

            setTimeout(() => {
                EventBus.$emit('FILL_FORM_TICKET');
                this.fetchFiles({ticket: this.item.id})
                this.dialog = true
            }, 500)
        },

        openDeleteItem(item) {
            this.dialogDelete = true;
            this.editedIndex = this.items.indexOf(item);
            this.item = Object.assign({}, item)
        },

        deleteItem() {
            //let index = this.editedIndex;
            Api.delete(this.item.id)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                    })
                    .catch((error) => {
                        this.$notify({
                            text: error.message,
                            type: 'error'
                        });

                    }).finally(() => {
                this.loading = false
                this.editedIndex = -1
                this.dialogDelete = false
                this.reloadTable();
            })
        },

        openCambiarEstatus(item, increment = 1) {

            this.dialogEstatus = true;
            this.editedIndex = this.items.indexOf(item);
            this.item = _.deepclone(item)
            this.increment = increment
        },

        openAsignarAtencion(item, increment = 1) {

            this.dialogAsignar = true;
            this.editedIndex = this.items.indexOf(item);
            this.item = _.deepclone(item)
            this.increment = increment
        },

        asignarTicket() {

            let data = {
                ticket_id: this.item.id,
                estatus_id: this.item.estatus_id + this.increment,
                usuario_atiende_id: this.usuario_atiende_id
            }
            Api.cambiarEstatus(data)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                    })
                    .catch((error) => {
                        this.$notify({
                            text: error.message,
                            type: 'error'
                        });

                    }).finally(() => {
                this.editedIndex = -1
                this.dialogAsignar = false
                this.reloadTable();
            })
        },

        cambiarEstatus() {

            let data = {
                ticket_id: this.item.id,
                estatus_id: this.item.estatus_id + this.increment
            }
            Api.cambiarEstatus(data)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                    })
                    .catch((error) => {
                        this.$notify({
                            text: error.message,
                            type: 'error'
                        });

                    }).finally(() => {
                this.loading = false
                this.editedIndex = -1
                this.dialogEstatus = false
                this.reloadTable();
            })
        },
        openBitacora(item) {
            this.dialogBitacora = true;
            this.editedIndex = this.items.indexOf(item);
            this.itemBitacora = _.deepclone(item)
        },
    }
}
</script>
