<template>
  <div>
    <v-dialog
      v-model="dialogDetalleSeveridades"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <!--Card principal que engloba a todos los componentes de la página -->
      <v-card>
        <v-toolbar
          :style="'background-color:' + sistema.hex_color + ';color:white'"
        >
          <v-btn icon dark @click="dialogDetalleSeveridades = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title class="body-1">
            <a
              style="color: white"
              class="rutas"
              @click="dialogDetalleSeveridades = false"
              >Alarmas de falla </a
            >/ Detalle de {{ nombreGrupo }}</v-toolbar-title
          >
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-col cols="12">
          <v-card
            elevation="8"
            class="pb-1 pt-2 pb-5 mb-2"
            v-for="(severidad, index) in arregloDetalleSeveridades"
            :key="index"
          >
            <div
              v-if="index == 0"
              class="pa-2"
              :style="'background-color:' + sistema.hex_color + ';color:white;'"
            >
              <v-row class="ml-9 mt-3 mr-3" no-gutters>
                <v-col class="col-xl-6 col-lg-6" cols="12">
                  {{ nombreGrupo }}
                </v-col>

                <v-col class="col-4">
                  <v-text-field
                    label="Buscar"
                    color="primary"
                    solo
                    dense
                    @keypress.enter="buscar()"
                  >
                  </v-text-field>
                </v-col>
                <v-col class="col-2">
                  <v-btn
                    height="39"
                    elevation="2"
                    depressed
                    color="secondary"
                    @click="buscar()"
                  >
                    Buscar
                  </v-btn></v-col
                >
              </v-row>
            </div>
            <div>
              <p class="font-weight-bold pl-3 pt-3">
                {{ severidad.titulo }}
              </p>
            </div>

            <v-row>
              <v-col
                cols="6"
                :class="
                  $vuetify.breakpoint.name == 'xl'
                    ? 'mb-3 diezColumnas pl-3 pr-3'
                    : $vuetify.breakpoint.name == 'lg'
                    ? 'mb-3 sieteColumnas pl-3 pr-3'
                    : 'mb-3 col-md-2 col-sm-6 pl-3 pr-3'
                "
                v-for="(dato, indexDatos) in severidad.datos"
                :key="indexDatos"
              >
                <v-card
                  elevation="8"
                  class="mt-0 ml-3 mr-3 pl-3 pr-3 pb-4 pt-2 cardMenu"
                  @click="accederReportesTendencias(dato)"
                >
                  <p class="mb-1 caption">
                    <v-img
                      align="center"
                      :src="require('@/assets/' + dato.img + '')"
                      height="70"
                      contain
                    ></v-img>
                  </p>
                  <label class="mt-8 caption"> {{ dato.titulo }}</label>
                  <p class="mb-1 caption">{{ dato.descripcion }}</p>
                  <p class="mb-1 caption">{{ dato.tiempo }}</p>
                </v-card>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-card>
    </v-dialog>

    <GraficasTendenciasSeveridades></GraficasTendenciasSeveridades>
  </div>
</template>

<script>
import GraficasTendenciasSeveridades from "./GraficasTendenciasSeveridades.vue";
import EventBus from "@/plugins/event-bus.js";

export default {
  components: {
    GraficasTendenciasSeveridades,
  },

  computed: {
    sistema() {
      return this.$store.state.sispro.sistema;
    },
  },
  data: () => ({
    dialogDetalleSeveridades: false,
    nombreGrupo: "",
    arregloDetalleSeveridades: [
      {
        titulo: "OCCCN-1 Instalaciones Sede del OCCCN",
        datos: [
          {
            titulo: "SWCORE-OCCCN-1 (10.13.2.110)",
            subtitulo: "OCCN",
            tipo: 1,
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "259,407 Min.",
          },
          {
            titulo: "UPS1-OCCCN-10 (172.30.202.253)",
            subtitulo: "OCCCN",
            img: "ups2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "76,639 Min.",
          },
          {
            titulo: "SW1-DLGRO-7(10.13.2.8)",
            subtitulo: "DLGRO",
            img: "switch2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "wireless2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
        ],
      },
      {
        titulo: "OCFS-18 Radar del Cerro Mozotal",
        datos: [
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
        ],
      },
      {
        titulo:
          "OCFS-16 Distrito de Riego Temp. Tecnificado 020 - Margarita, Pijijiapan",
        datos: [
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
        ],
      },
      {
        titulo: "OCFS-2 Presa el Portillo II",
        datos: [
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
        ],
      },
      {
        titulo: "OCFS-14 Distrito de Riego 059 - Rio Blanco",
        datos: [
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
        ],
      },
      {
        titulo: "OCFS-1 Instalaciones Sede del OCFS",
        datos: [
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            subtitulo: "triara",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
        ],
      },
    ],
  }),
  mounted() {
    this.MostrarDialog();
  },
  methods: {
    accederReportesTendencias: function (tipo) {
      EventBus.$emit("mostrarReportesTendenciasSeveridades", tipo);
    },
    MostrarDialog: function () {
      EventBus.$on("mostrarDetalleSeveridades", (data) => {
        this.dialogDetalleSeveridades = true;
        this.nombreGrupo = data;
      });
    },
  },
};
</script>

<style>
.cardMenu:hover {
  animation-duration: 4s;
  background-color: #e2e4e4;
}
.diezColumnas {
  width: 10%;
  max-width: 10%;
  flex-basis: 10%;
}
.ochoColumnas {
  width: 12.5%;
  max-width: 12.5%;
  flex-basis: 12.5%;
}

.sieteColumnas {
  width: 14.285%;
  max-width: 14.285%;
  flex-basis: 14.285%;
}

.rutas:hover {
  text-decoration: underline;
  color: blue;
}
</style>