<template>
  <div>
    <v-dialog
      v-model="dialogReportesTendencias"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar
          :style="'background-color:' + sistema.hex_color + ';color:white'"
        >
          <v-btn icon dark @click="dialogReportesTendencias = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title class="body-1"
            ><a
              style="color: white"
              class="rutas"
              @click="dialogDetalleSeveridades = false"
              >Buscador</a
            > /
            <a
              style="color: white"
              class="rutas"
              @click="dialogReportesTendencias = false"
              >  Detalle de {{ subtitulo }}
            </a>

            /  {{ titulo }}</v-toolbar-title
          >
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-row class="ma-2">
          <v-col
            cols="12"
            class="col-lg-8 col-md-3 overflow-y-auto"
            :style="'max-height:' + ($vuetify.breakpoint.height - 64) + 'px'"
          >
            <v-card>
              <v-container
                :style="
                  'background-color:' + sistema.hex_color + ';color:white'
                "
              >
                <v-tabs
                  v-model="tabsGraficasTendencias"
                  center-active
                  :background-color="sistema.bg_color"
                  color="white"
                >
                  <v-tab>Gráficas</v-tab>
                  <v-tab>Tendencias</v-tab>
                </v-tabs>
              </v-container>

              <v-tabs-items v-model="tabsGraficasTendencias">
                <v-tab-item>
                  <v-row class="pa-5 body-2">
                    <v-col class="col-lg-3 font-weight-bold mt-2"
                      >Rango de fechas:
                    </v-col>
                    <v-radio-group v-model="rangoFechaValue" row>
                      <v-radio label="Reciente" value="1"></v-radio>
                      <v-radio label="Del mes en curso" value="2"></v-radio>
                      <v-radio label="Mes pasado" value="3"></v-radio>
                      <v-radio label="Personalizado" value="4"></v-radio>
                    </v-radio-group>
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="date"
                        label="Picker in menu"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>

                    <v-col cols="12" sm="6" md="4" v-if="rangoFechaValue == 4">
                      <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        :return-value.sync="date"
                        transition="scale-transition"
                        offset-y
                        min-width="auto"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="date"
                            label="Desde: "
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="date" no-title scrollable>
                          <v-spacer></v-spacer>
                          <v-btn text color="primary" @click="menu = false">
                            Cancel
                          </v-btn>
                          <v-btn
                            text
                            color="primary"
                            @click="$refs.menu.save(date)"
                          >
                            OK
                          </v-btn>
                        </v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col cols="12" sm="6" md="4" v-if="rangoFechaValue == 4">
                      <v-menu
                        ref="menu2"
                        v-model="menu2"
                        :close-on-content-click="false"
                        :return-value.sync="date2"
                        transition="scale-transition"
                        offset-y
                        min-width="auto"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="date2"
                            label="Hasta: "
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="date2" no-title scrollable>
                          <v-spacer></v-spacer>
                          <v-btn text color="primary" @click="menu2 = false">
                            Cancel
                          </v-btn>
                          <v-btn
                            text
                            color="primary"
                            @click="$refs.menu2.save(date2)"
                          >
                            OK
                          </v-btn>
                        </v-date-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                  <v-row class="pa-5 body-2">
                    <v-col class="col-lg-3 font-weight-bold mt-2"
                      >Uso del CPU:
                    </v-col>
                    <v-radio-group v-model="usoCpuValue" row>
                      <v-radio label="MAX" value="radio-1"></v-radio>
                      <v-radio label="100%" value="radio-2"></v-radio>
                    </v-radio-group>
                  </v-row>
                  <v-row class="pa-5 body-2">
                    <v-col class="col-lg-3 font-weight-bold mt-2"
                      >Memoria usada:
                    </v-col>
                    <v-radio-group v-model="memoriaUsadaValue" row>
                      <v-radio label="MAX" value="radio-1"></v-radio>
                      <v-radio label="100%" value="radio-2"></v-radio>
                    </v-radio-group>
                  </v-row>
                  <v-flex class="d-flex justify-end mb-4 pa-4">
                    <v-btn color="primary" @click="mostrarModalReporte()"
                      >Generar reporte</v-btn
                    >
                  </v-flex>
                </v-tab-item>
                <v-tab-item>
                  <v-row class="ma-5 caption">
                    <v-col class="col-lg-2 font-weight-bold">Horario: </v-col>
                    <v-col cols="5" sm="5">
                      <v-menu
                        ref="menuHoraDesdeRef"
                        v-model="menuHoraDesde"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        :return-value.sync="horaDesdeSeleccionada"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="horaDesdeSeleccionada"
                            label="Desde: "
                            prepend-icon="mdi-clock-time-four-outline"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-time-picker
                          v-if="menuHoraDesde"
                          v-model="horaDesdeSeleccionada"
                          full-width
                          @click:minute="
                            $refs.menuHoraDesdeRef.save(horaDesdeSeleccionada)
                          "
                        ></v-time-picker>
                      </v-menu>
                    </v-col>
                    <v-col cols="5" sm="5">
                      <v-menu
                        ref="menuHoraHastaRef"
                        v-model="menuHoraHasta"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        :return-value.sync="horaHastaSeleccionada"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="horaHastaSeleccionada"
                            label="Hasta: "
                            prepend-icon="mdi-clock-time-four-outline"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-time-picker
                          v-if="menuHoraHasta"
                          v-model="horaHastaSeleccionada"
                          full-width
                          @click:minute="
                            $refs.menuHoraHastaRef.save(horaHastaSeleccionada)
                          "
                        ></v-time-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                  <v-row class="ma-5">
                    <v-col class="col-lg-2 font-weight-bold">Días</v-col>
                    <v-row>
                      <v-col
                        class="col-lg-4 col-xl-3 col-md-6 col-sm-6"
                        v-for="(diaSemana, index) in arregloDiasSemana"
                        :key="index"
                      >
                        <v-switch
                          v-model="radioButtons"
                          :label="diaSemana.nombre"
                          color="blue"
                          value="red"
                          hide-details
                        ></v-switch>
                      </v-col>
                    </v-row>
                  </v-row>
                  <v-row class="ma-4 d-flex justify-end mb-4 pa-4">
                    <v-btn color="primary" @click="mostrarTendencias()"
                      >Calcular tendencias</v-btn
                    >
                  </v-row>
                </v-tab-item>
              </v-tabs-items>
            </v-card>
          </v-col>
          <v-col
            class="col-lg-4 col-md-9 overflow-y-auto"
            :style="'max-height:' + ($vuetify.breakpoint.height - 94) + 'px'"
          >
            <v-card>
              <v-container
                :style="
                  'background-color:' + sistema.hex_color + ';color:white'
                "
              >
                <p class="body-2">Generales sobre del switch</p>
              </v-container>
              <v-container>
                <v-row class="caption">
                  <v-col class="font-weight-bold"> IP</v-col>
                  <v-col> 172.28.3.67</v-col>
                </v-row>
                <v-row class="caption">
                  <v-col class="font-weight-bold">Hostname</v-col>
                  <v-col>swcore.triara</v-col>
                </v-row>
                <v-row class="mb-4 caption">
                  <v-col class="font-weight-bold">Alias</v-col>
                  <v-col>swcore.triara</v-col>
                </v-row>
                <v-divider></v-divider>
                <v-row class="mt-4 caption">
                  <v-col class="font-weight-bold"> Type</v-col>
                  <v-col>Switch</v-col>
                </v-row>
                <v-row class="caption">
                  <v-col class="font-weight-bold">Contacto</v-col>
                  <v-col>R&D Beijing, Huawei Technologies co.,Ltd.</v-col>
                </v-row>
                <v-row class="mb-4 caption">
                  <v-col class="font-weight-bold">Sysobject</v-col>
                  <v-col> 1.3.6.1.4.1.2011.2.223.1</v-col>
                </v-row>
                <v-divider></v-divider>
                <v-row class="mt-4 caption">
                  <v-col class="font-weight-bold"> SYSUPTIME</v-col>
                  <v-col> 2020-08-27 23:53:36.7860</v-col>
                </v-row>
                <v-row class="caption">
                  <v-col class="font-weight-bold">LASTUPDATETIME</v-col>
                  <v-col>2021-04-23 00:45:36.0480</v-col>
                </v-row>
                <v-row class="mb-4 caption">
                  <v-col class="font-weight-bold">Description</v-col>
                  <v-col>
                    Quidway S7703 Huawei Versatile Routing Platform Software VRP
                    (R) Software, Version 5.160 (S7700 V200R006C00SPC500)
                    Copyright (c) 2000-2014 Huawei Technologies Co., Ltd</v-col
                  >
                </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <Reportes></Reportes>
    <Tendencias></Tendencias>
  </div>
</template>

<script>
import EventBus from "@/plugins/event-bus.js";
import Reportes from "./Reportes.vue";
import Tendencias from "./Tendencias.vue";
export default {
  components: {
    Reportes,
    Tendencias,
  },
  computed: {
    sistema() {
      return this.$store.state.sispro.sistema;
    },
  },
  data: () => ({
    titulo: "",
    subtitulo: "",
    radioButtons: [],
    date: "2018-03-02",
    date2: "2018-03-02",
    horaDesdeSeleccionada: null,
    horaHastaSeleccionada: null,
    menuHoraDesde: false,
    menuHoraHasta: false,
    dialogReportesTendencias: false,
    column: null,
    column2: null,
    rangoFechaValue: null,
    usoCpuValue: null,
    memoriaUsadaValue: null,
    row2: null,
    menu: false,
    modal: false,
    modal2: false,
    tipo: null,
    menu2: false,
    arregloDiasSemana: [
      {
        id: 1,
        nombre: "lunes",
      },
      {
        id: 2,
        nombre: "Martes",
      },
      {
        id: 3,
        nombre: "Miercoles",
      },
      {
        id: 4,
        nombre: "Jueves",
      },
      {
        id: 5,
        nombre: "Viernes",
      },
      {
        id: 6,
        nombre: "Sabado",
      },
      {
        id: 7,
        nombre: "Domingo",
      },
    ],
    tabsGraficasTendencias: 0,
  }),

  mounted() {
    this.mostrarDialogReportesTendencias();
  },

  methods: {
    allowedDates: (val) => parseInt(val.split("-")[2], 10) % 2 === 0,

    mostrarDialogReportesTendencias: function () {
      EventBus.$on("mostrarReportesTendenciasSeveridades", (dato) => {
        this.tipo = dato.tipo;
        this.titulo = dato.titulo;
        this.subtitulo = dato.subtitulo;

        this.dialogReportesTendencias = true;
      });
    },

    mostrarModalReporte: function () {
      let arregloTabs = [];
      //Tipos router, ups, switch, ap

      if (this.tipo == 2) {
        arregloTabs = [
          { id: 1, nombre: "CARGA", activo: true },
          { id: 2, nombre: "VOLTAJE", activo: true },
          { id: 3, nombre: "FRECUENCIA", activo: true },
          { id: 4, nombre: "TIEMPO RESPUESTA", activo: true },
          { id: 5, nombre: "ALCANZABILIDAD", activo: true },
        ];
      } else {
        arregloTabs = [
          { id: 1, nombre: "CPU", activo: true },
          { id: 2, nombre: "MEMORIA", activo: true },
          { id: 3, nombre: "FRECUENCIA", activo: true },
          { id: 4, nombre: "TIEMPO RESPUESTA", activo: true },
          { id: 5, nombre: "ALCANZABILIDAD", activo: true },
        ];
      }

      let objetoData = {
        tipo: this.tipo,
        arregloTabs: arregloTabs,
        titulo: this.titulo, 
        subtitulo: this.subtitulo
      };

      EventBus.$emit("mostrarGraficaDialog", objetoData);
    },
    mostrarTendencias: function () {
      EventBus.$emit("mostrarTendenciasDialog");
    },
  },
};
</script>

<style>
.rutas:hover {
  text-decoration: underline;
  color: blue;
}
</style>