<template>
  <div>
    <v-row class="ma-4 justify-space-between">
      <v-col
        v-for="(item, index) in items"
        :key="index"
        cols="12"
        class="col-xl-6 col-lg-12 col-md-12"
      >
        <div style="overflow-x: auto">
          <v-card outlined>
            <v-list-item
              :key="index"
              @click="
                actualizarGrafica(
                  item.grupo,
                  item.alertas.critica,
                  item.alertas.alta,
                  item.alertas.mayor,
                  item.alertas.intermedia,
                  item.alertas.menor
                )
              "
            >
              <v-list-item-content>
                <v-list-item-title v-html="item.grupo"></v-list-item-title>
                <v-list-item-subtitle>
                  <v-row class="mt-2 mb-2 ml-2">
                    <v-chip
                      v-for="(alerta, nombreAlerta) in item.alertas"
                      :key="nombreAlerta"
                      class="ma-2"
                      small
                      :text-color="
                        $vuetify.breakpoint.name == 'sm' ? 'black' : ''
                      "
                      :color="alerta.valor == 0 ? 'grey' : `${alerta.color}`"
                      label
                      outlined
                    >
                      {{ nombreAlerta }}: {{ alerta.valor }}
                    </v-chip>
                  </v-row>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </div>
      </v-col>
    </v-row>
    <DetalleSeveridades></DetalleSeveridades>
  </div>
</template>

<script>
import EventBus from "@/plugins/event-bus.js";
import DetalleSeveridades from "./DetalleSeveridades.vue";
export default {
  components: {
    DetalleSeveridades,
  },
  mounted() {
    this.tiempoRealCards();
  },
  data: () => ({
    items: [
      {
        grupo: "TRIARA",
        alertas: {
          critica: {
            valor: 0,
            color: "red darken-4",
          },
          alta: {
            valor: 1,
            color: "orange darken-4",
          },
          mayor: {
            valor: 0,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },

      {
        grupo: "CENTRALES",
        alertas: {
          critica: {
            valor: 8,
            color: "red darken-4",
          },
          alta: {
            valor: 0,
            color: "orange darken-4",
          },
          mayor: {
            valor: 0,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },

      {
        grupo: "ORGANISMO DE CUENCA BALSAS",
        alertas: {
          critica: {
            valor: 0,
            color: "red darken-4",
          },
          alta: {
            valor: 0,
            color: "orange darken-4",
          },
          mayor: {
            valor: 1,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },

      {
        grupo: "DIRECCION LOCAL GUERRERO",
        alertas: {
          critica: {
            valor: 1,
            color: "red darken-4",
          },
          alta: {
            valor: 0,
            color: "orange darken-4",
          },
          mayor: {
            valor: 0,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },
      {
        grupo: "DIRECCION LOCAL PUEBLA",
        alertas: {
          critica: {
            valor: 2,
            color: "red darken-4",
          },
          alta: {
            valor: 0,
            color: "orange darken-4",
          },
          mayor: {
            valor: 0,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },
      {
        grupo: "DIRECCION LOCAL TLAXCALA",
        alertas: {
          critica: {
            valor: 0,
            color: "red darken-4",
          },
          alta: {
            valor: 0,
            color: "orange darken-4",
          },
          mayor: {
            valor: 0,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA CUENCAS CENTRALES DEL NORTE",
        alertas: {
          critica: {
            valor: 8,
            color: "red darken-4",
          },
          alta: {
            valor: 2,
            color: "orange darken-4",
          },
          mayor: {
            valor: 0,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },
      {
        grupo: "DIRECCION LOCAL DURANGO",
        alertas: {
          critica: {
            valor: 0,
            color: "red darken-4",
          },
          alta: {
            valor: 0,
            color: "orange darken-4",
          },
          mayor: {
            valor: 0,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA NOROESTE",
        alertas: {
          critica: {
            valor: 3,
            color: "red darken-4",
          },
          alta: {
            valor: 0,
            color: "orange darken-4",
          },
          mayor: {
            valor: 0,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: {
            valor: 15,
            color: "red darken-4",
          },
          alta: {
            valor: 1,
            color: "orange darken-4",
          },
          mayor: {
            valor: 1,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: {
            valor: 15,
            color: "red darken-4",
          },
          alta: {
            valor: 1,
            color: "orange darken-4",
          },
          mayor: {
            valor: 1,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: {
            valor: 15,
            color: "red darken-4",
          },
          alta: {
            valor: 1,
            color: "orange darken-4",
          },
          mayor: {
            valor: 1,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: {
            valor: 15,
            color: "red darken-4",
          },
          alta: {
            valor: 1,
            color: "orange darken-4",
          },
          mayor: {
            valor: 1,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: {
            valor: 15,
            color: "red darken-4",
          },
          alta: {
            valor: 1,
            color: "orange darken-4",
          },
          mayor: {
            valor: 1,
            color: "orange",
          },
          intermedia: {
            valor: 0,
            color: "yellow darken-2",
          },
          menor: {
            valor: 0,
            color: "blue darken-4",
          },
        },
      },
    ],
  }),
  methods: {
    actualizarGrafica: function (
      grupo,
      critica,
      alta,
      mayor,
      intermedia,
      menor
    ) {
      var objeto = {
        grupo: grupo,
        critica: critica.valor,
        alta: alta.valor,
        mayor: mayor.valor,
        intermedia: intermedia.valor,
        menor: menor.valor,
      };

      EventBus.$emit("actualizarGraficaTipos", objeto);
    },

    tiempoRealCards: function () {
      window.setInterval(() => {
        this.items = [
          {
            grupo: "TRIARA",
            alertas: {
              critica: {
                valor: Math.ceil(Math.random() * 31),
                color: "red darken-4",
              },
              alta: {
                valor: Math.ceil(Math.random() * 31),
                color: "orange darken-4",
              },
              mayor: {
                valor: Math.ceil(Math.random() * 31),
                color: "orange",
              },
              intermedia: {
                valor: Math.ceil(Math.random() * 31),
                color: "yellow darken-2",
              },
              menor: {
                valor: Math.ceil(Math.random() * 31),
                color: "blue darken-4",
              },
            },
          },
          {
            grupo: "CENTRALES",
            alertas: {
              critica: {
                valor: Math.ceil(Math.random() * 31),
                color: "red darken-4",
              },
              alta: {
                valor: Math.ceil(Math.random() * 31),
                color: "orange darken-4",
              },
              mayor: {
                valor: Math.ceil(Math.random() * 31),
                color: "orange",
              },
              intermedia: {
                valor: Math.ceil(Math.random() * 31),
                color: "yellow darken-2",
              },
              menor: {
                valor: Math.ceil(Math.random() * 31),
                color: "blue darken-4",
              },
            },
          },

          {
            grupo: "ORGANISMO DE CUENCA BALSAS",
            alertas: {
              critica: {
                valor: Math.ceil(Math.random() * 31),
                color: "red darken-4",
              },
              alta: {
                valor: Math.ceil(Math.random() * 31),
                color: "orange darken-4",
              },
              mayor: {
                valor: Math.ceil(Math.random() * 31),
                color: "orange",
              },
              intermedia: {
                valor: Math.ceil(Math.random() * 31),
                 color: "yellow darken-2",
              },
              menor: {
                valor: Math.ceil(Math.random() * 31),
                color: "blue darken-4",
              },
            },
          },

          {
            grupo: "DIRECCION LOCAL GUERRERO",
            alertas: {
              critica: {
                valor: Math.ceil(Math.random() * 31),
                color: "red darken-4",
              },
              alta: {
                valor: Math.ceil(Math.random() * 31),
                color: "orange darken-4",
              },
              mayor: {
                valor: Math.ceil(Math.random() * 31),
                color: "orange",
              },
              intermedia: {
                valor: Math.ceil(Math.random() * 31),
               color: "yellow darken-2",
              },
              menor: {
                valor: Math.ceil(Math.random() * 31),
                color: "blue darken-4",
              },
            },
          },
          {
            grupo: "DIRECCION LOCAL PUEBLA",
            alertas: {
              critica: {
                valor: Math.ceil(Math.random() * 31),
                color: "red darken-4",
              },
              alta: {
                valor: Math.ceil(Math.random() * 31),
                color: "orange darken-4",
              },
              mayor: {
                valor: Math.ceil(Math.random() * 31),
                color: "orange",
              },
              intermedia: {
                valor: Math.ceil(Math.random() * 31),
               color: "yellow darken-2",
              },
              menor: {
                valor: Math.ceil(Math.random() * 31),
                color: "blue darken-2",
              },
            },
          },

          {
            grupo: "DIRECCION LOCAL TLAXCALA",
            alertas: {
              critica: {
                valor: Math.ceil(Math.random() * 31),
                color: "red darken-4",
              },
              alta: {
                valor: Math.ceil(Math.random() * 31),
                color: "orange darken-4",
              },
              mayor: {
                valor: Math.ceil(Math.random() * 31),
                color: "orange",
              },
              intermedia: {
                valor: Math.ceil(Math.random() * 31),
                  color: "yellow darken-2",
              },
              menor: {
                valor: Math.ceil(Math.random() * 31),
                color: "blue darken-4",
              },
            },
          },
        ];
      }, 5000);
    },
  },
};
</script>

<style>
</style>