<template>
    <v-card-text>
        <v-col>
            
        </v-col>
    </v-card-text>    
</template>
    
<script>
    import { mapGetters } from 'vuex';

    export default {
        data:()=>({
            editDataEnterprise:true,
            Formulario: [],
            loading:false,
            file: [],
        }),
        computed:{
            ...mapGetters({
                sistema: 'administracion/sistema',
                rules: 'index/rules',
                user: 'index/user',
                proyecto: 'index/proyecto',
            }),
        },
        beforeMount(){
            // if(this.$route.params.id){

            // }else{
            
            // }
            
            // axios.post(LaravelRoute('get.tienda')).then(response => {
            //     this.Formulario = response.data.tienda;
            // });
        },
        methods:{
            // saveDatosEmpresa(){        
            //     this.loading=true;
                
            //     let formData = new FormData();

            //     if(this.file!=null && this.file!=undefined){
            //         formData.append('file', this.file);
            //     }

            //     formData.append('id', this.Formulario.id);
            //     formData.append('nombre', this.Formulario.nombre);
            //     formData.append('telefono', this.Formulario.telefono);
            //     formData.append('email', this.Formulario.email);
            //     formData.append('cp', this.Formulario.cp);
            //     formData.append('calles', this.Formulario.calles);
            //     formData.append('num_ext', this.Formulario.num_ext);
            //     formData.append('entidad', this.Formulario.entidad);
            //     formData.append('municipio', this.Formulario.municipio);

            //     if (this.$refs.formulario_general.validate()) {
            //         axios.post(LaravelRoute('save.tienda'),formData).then(response => {
            //             if (response.data.success) {
            //                 this.$store.commit('setSnackbar',{ msg:response.data.msg, color: this.sistema.apariencia_color_hex });
            //                 location.reload();
            //             } else {
            //                 this.$store.commit('setSnackbar',{ msg:response.data.msg, color: '#D50000' });
            //             }
            //             this.loading = false;
            //         });
            //     } else {
            //         this.loading=false;
            //         this.$store.commit('setSnackbar',{ msg:"POR FAVOR DE LLENAR LOS CAMPOS REQUERIDOS", color: '#D50000' });
            //     }
                
            //     this.loading = false;
            // }
        }
    }
</script>