<template>
    <v-app>
        <v-content class="pa-0">
            <v-container fluid class="pa-0" style="max-width: 100%">
                <template>
                    <data-table-admins
                            :moduleTitle="moduleTitle"
                            :headers="headers"
                            :items="items"
                    >
                    </data-table-admins>
                </template>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import DataTableAdmins from '../shared/DataTableAdmins'
import EventBus from '@plugins/event-bus'

export default {
    components: {
        DataTableAdmins
    },
    name: 'Administradores',
    mixins: [],
    directives: {},
    data: () => ({
        //user: Laravel.user,
        //organizacion: Laravel.organizacion,
        //sucursal: Laravel.sucursal,
        headers: [
            {
                text: 'Id',
                align: 'start',
                sortable: false,
                value: 'id',
            },
            {text: 'Nombre', value: 'nombre_completo'},
            {text: 'Tipo usuario', value: 'roles[0].name'},
            {text: 'Sucursal', value: 'sucursal.nombre'},
            {text: 'Organización', value: 'organizacion.nombre'},
            {text: 'Email', value: 'email'},
            {text: 'Opciones', value: 'actions', sortable: false},
        ],
        items: [],
        moduleTitle: 'Administradores'
    }),
    mounted() {
        this.initialize()
        EventBus.$on('send', data => {
            this.save(data)
        });
        EventBus.$on('eliminar', data => {
            this.deleteItem(data)
        });
    },
    beforeDestroy(){
        EventBus.$off('send');
        EventBus.$off('eliminar');
    },
    methods: {
        initialize() {
            axios.get(LaravelRoute('administradores.index', null, { _relations: ['sucursal', 'organizacion', 'roles'] }))
                    .then(({data}) => {
                        console.log(data);
                        this.items = data.items;
                    })
                    .catch(error => {
                        showAlert('error', 'Error cargando registros')
                    })
                    .finally(() => {
                        this.loading = false
                    })
        },
        save(item) {
            let request = ''
            if (item.id) {
                // Editar
                request = axios.put(LaravelRoute('administradores.update', {usuario: item.id}), item)
            } else {
                // Nuevo
                request = axios.post(LaravelRoute('administradores.store'), item)
            }
            request.then(({data}) => {
                if (data.success) {
                    showAlert('success', data.message)
                }
            })
                    .catch(error => {
                        showAlert('error', 'Error')
                    })
                    .finally(() => {
                        EventBus.$emit('dialog', false)
                        this.initialize();
                    })
        },
        deleteItem(item) {

            axios.delete(LaravelRoute('administradores.destroy', {sucursale: item.id}))
                    .then(({data}) => {
                        if (data.success) {
                            showAlert('success', data.message)
                        }
                    })
                    .catch(error => {
                        showAlert('error', 'Error')
                    })
                    .finally(() => {
                        EventBus.$emit('dialog-eliminar', false)
                        this.initialize();
                    })


        },
    }
}
</script>

<style scoped>

</style>