<template>
    <v-container
            style="max-width: 100%"
            grid-list-xl>
        <v-layout wrap>
            <v-flex
                    md12
                    sm12
                    lg12
            >
                <v-data-table
                        :headers="computedHeaders"
                        :items="items"
                        class="elevation-1"
                        :loading="loading"
                        item-key="name"
                        :options.sync="pagination"
                        :server-items-length="totalItems"
                        :items-per-page="10"
                        :footer-props="footerProps"
                        dense
                >
                    <template v-slot:top>
                        <v-card flat color="white" elevation="0">
                            <v-card-title class="pt-2 pb-2 d-inline-block">Catálogo de Tiempos de solución</v-card-title>
                            <v-divider
                                    class="mx-2"
                                    inset
                                    vertical>
                            </v-divider>
                            <div class="d-inline-block">

                                <v-menu
                                        v-model="menu_export"
                                        :close-on-content-click="true"
                                        offset-x
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn
                                                :disabled="!items.length"
                                                color="teal"
                                                style="color:white"
                                                v-bind="attrs"
                                                v-on="on"
                                                small
                                        >
                                            Exportar
                                            <v-icon>mdi-application-export</v-icon>
                                        </v-btn>
                                    </template>

                                    <v-card>
                                        <v-card-actions>
                                            <v-btn
                                                    color="success"
                                                    text
                                                    small
                                                    @click="exportar('excel')"
                                            >
                                                <v-icon>mdi-file-excel</v-icon>
                                                Excel
                                            </v-btn>
                                            <v-btn
                                                    color="error"
                                                    text
                                                    small
                                                    @click="exportar('pdf')"
                                            >
                                                <v-icon>mdi-file-pdf-outline</v-icon>
                                                PDF
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-menu>

                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn
                                                v-bind="attrs"
                                                v-on="on"
                                                class="mx-2"
                                                dark
                                                color="indigo"
                                                fab
                                                small
                                                @click="showFilters = !showFilters"
                                        >
                                            <v-icon dark>mdi-format-list-bulleted-square</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>
                                        {{ showFilters ? 'Ocultar' : 'Mostrar' }}
                                        filtros
                                    </span>
                                </v-tooltip>

                                <v-menu
                                        v-model="menu"
                                        :close-on-content-click="false"
                                        :nudge-width="100"
                                        offset-x
                                >
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                                color="indigo"
                                                dark
                                                small
                                                v-on="on"
                                        >
                                            Columnas ocultas
                                        </v-btn>
                                    </template>

                                    <v-card>
                                        <v-list dense>
                                            <v-list-item
                                                    v-for="column in headers"
                                                    :key="column.text"
                                                    >
                                                <v-list-item-action>
                                                    <v-switch v-model="column.hide" color="purple"></v-switch>
                                                </v-list-item-action>
                                                <v-list-item-title>
                                                    {{ column.text }}
                                                </v-list-item-title>
                                            </v-list-item>
                                        </v-list>
                                        <v-card-actions>
                                            <div class="flex-grow-1"></div>
                                            <v-btn color="primary" text @click="menu = false">Cerrar</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-menu>

                                <v-dialog v-model="dialog" transition="dialog-bottom-transition" persistent max-width="75%"
                                          :fullscreen="$vuetify.breakpoint.mobile">
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                                v-on="on"
                                                class="mx-2 pull-right"
                                                dark
                                                color="indigo"
                                                small
                                        >
                                            <v-icon dark>mdi-plus</v-icon>
                                            Registrar tiempo de solución
                                        </v-btn>
                                    </template>
                                    <FormTiempoSolucion :editedItem="item" @submit="submit"/>
                                </v-dialog>
                            </div>

                            <v-expand-transition>

                                <v-card-text class="py-0 mb-5 animate" v-show="showFilters">

                                    <v-row>
                                        <v-col cols="10" sm="10">
                                            <v-text-field
                                                    append-icon="mdi-magnify"
                                                    v-model="filtros['descripcion']"
                                                    type="text"
                                                    label="Descripción"
                                                    hide-details
                                            ></v-text-field>
                                        </v-col>

                                        <v-col cols="1">
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn
                                                            v-bind="attrs"
                                                            v-on="on"
                                                            dark
                                                            color="indigo"
                                                            fab
                                                            small
                                                            @click="limpiarFiltros()"
                                                    >
                                                        <v-icon dark>mdi-broom</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>
                                                    Limpiar filtros
                                                </span>
                                            </v-tooltip>
                                        </v-col>
                                    </v-row>


                                </v-card-text>
                            </v-expand-transition>
                        </v-card>
                    </template>

                    <template v-slot:item.action="{ item }">
                        <v-menu bottom left>
                            <template v-slot:activator="{ on }">
                                <v-btn
                                        icon
                                        v-on="on"
                                >
                                    <v-icon>mdi-dots-vertical</v-icon>
                                </v-btn>
                            </template>

                            <v-list dense>


                                <v-list-item @click="editItem(item)">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-pencil-outline
                                    </v-icon>
                                    Editar
                                </v-list-item>
                                <v-list-item @click="openDeleteItem(item)">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-delete
                                    </v-icon>
                                    Eliminar
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </template>

                    <template v-slot:no-data>
                        <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
                    </template>
                </v-data-table>
            </v-flex>

            <v-dialog v-model="dialogDelete" max-width="290">
                <v-card>
                    <v-card-title class="headline">Confirmar eliminación</v-card-title>
                    <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                        <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
import EventBus from '@/plugins/event-bus.js'
import Api from '@/conquest/router/administracion/tiempos_solucion'
import FormTiempoSolucion from '@/conquest/components/form/FormTiempoSolucion'

import {mapActions} from 'vuex'

export default {
    components: {
        FormTiempoSolucion
    },
    data: () => {
        return {
            showFilters: true,
            draw: 1,
            search: '',
            searchQuery: '',
            totalItems: 0,
            pagination: {
                descending: true,
                page: 1,
                itemsPerPage: 10,
                sortBy: ['id'],
                totalItems: 0
            },
            filtros: {
                'descripcion': '',
            },
            filtros_bak: {
                'descripcion': '',
            },
            fecha: '2020-12-01',
            columns: {},
            footerProps: {'items-per-page-options': [5, 10, 15, 30, 50, -1]},
            cancelSource: null,
            loading: false,
            menu_export: false,
            dialogDelete: false,
            items: [],
            item: {
            },
            defaults: {
            },
            dialog: false,
            menu: false,
            editedIndex: -1,
            editedItem: '',
            headers: [
                {text: '#', value: 'id'},
                {text: 'Nivel', value: 'severidad.nivel'},
                {text: 'Partida', value: 'severidad.partidas'},
                {text: 'Severidad', value: 'severidad.descripcion'},
                {text: 'Minutos', value: 'minutos'},
                {text: 'Acciones', value: 'action', sortable: false},
            ],
        }
    },

    mounted() {
        for (var i = 0; i < this.headers.length; i++) {
            this.columns[i] = {
                data: this.headers[i].value,
                text: this.headers[i].text,
                hide: (typeof (this.headers[i].hide) != 'undefined' ? this.headers[i].hide : false),
                name: (typeof (this.headers[i].name) != 'undefined' ? this.headers[i].name : this.headers[i].value),
                searchable: this.headers[i].searchable,
                orderable: this.headers[i].sortable,
                search: {
                    value: '',
                    regex: false
                }
            };
        }
        this.fetchSeveridades();
    },

    async created() {
        EventBus.$on('CLOSE_DIALOG_TS', () => {
            this.dialog = false
        })
    },

    computed: {

        params() {
            return {
                ...this.pagination,
                query: this.searchQuery,
            };
        },

        computedHeaders() {
            return this.headers.filter(h => {
                if (!h.hide) return true
            })
        },
    },

    watch: {

        dialog(val) {
            val || this.close()
        },
        //watcher to watch for order/pagination and search criteria.
        params: {
            handler() {
                this.reloadTable();
            },
            deep: true
        },
        filtros: {
            handler(value) {
                for (let val in value) {
                    let index = _.findIndex(this.headers, {
                        'value': val
                    })
                    this.columns[index].search.value = value[val];
                }
                this.reloadTable();
            },
            deep: true
        }
    },

    methods: {
        ...mapActions({
            fetchSeveridades: 'conquest_admin/fetchSeveridades'
        }),

        init() {
        },

        async submit(data) {
            if (this.editedIndex > -1) {
                let id = this.item.id
                Api.edit(id, data)
                        .then(({data}) => {
                            this.$notify({
                                text: data.message,
                                type: 'success'
                            });
                            this.close()
                        })
                        .catch(response => {
                            this.$notify({
                                text: response.message,
                                type: 'error'
                            });
                        }).finally(() => {
                    this.loading = false
                    this.reloadTable();
                })
            } else {

                Api.add(data)
                        .then(({data}) => {
                            this.$notify({
                                text: data.message,
                                type: 'success'
                            });
                            this.close()
                        })
                        .catch(response => {
                            this.$notify({
                                text: response.message,
                                type: 'error'
                            });
                            this.loading = false
                        }).finally(() => {
                    this.loading = false

                    this.reloadTable();
                })
            }

        },

        prepareParams() {
            //copy current params to modify
            let params = this.params;
            //params.itemsPerPage = params.itemsPerPage;
            params.length = params.itemsPerPage; //set how many records to fecth per page
            params.start = params.page === 1 ? 0 : (params.itemsPerPage * (params.page - 1)); //set offset
            params.search = {
                value: params.query,
                regex: false
            }; //our search query
            params.draw = this.draw;

            //sorting and default to column 1 (ID)
            if (params.sortBy.length) {
                params.order = {
                    0: {
                        column: _.findIndex(this.headers, {
                            'value': params.sortBy[0]
                        }),
                        dir: (params.sortDesc[0] ? 'desc' : 'asc')
                    }
                };
            } else {
                params.order = {
                    0: {
                        column: 1,
                        dir: 'desc'
                    }
                };
            }
            for (let h in this.headers) {
                this.columns[h].hide = this.headers[h].hide;
            }
            params.columns = this.columns; //set our previously created columns
            return params;
        },

        cancelRequest() {

            //Axios cancelSource to stop current search if new value is entered
            if (this.cancelSource) {
                this.cancelSource.cancel('Start new search, stop active search');
            }
        },

        reloadTable() {
            this.getDataFromApi().then(data => {
                this.items = data.items;
                this.totalItems = data.total;
            });
        },

        getDataFromApi() {
            //show loading of Vuetify Table
            this.loading = true;
            return new Promise((resolve, reject) => {
                this.cancelRequest();
                this.cancelSource = this.axios.CancelToken.source();

                this.prepareParams();

                this.axios.post('api/conquest/admin/tiempos_solucion/datatable').then((res) => {
                    this.draw++;
                    this.cancelSource = null;

                    let items = res.data.data;
                    let total = res.data.recordsFiltered;
                    resolve({
                        items,
                        total
                    });

                }).catch((err) => {
                    if (this.axios.isCancel(err)) {
                        console.log('Request canceled', err.message);
                    } else {
                        reject(err);
                    }
                }).finally(() => {
                    this.loading = false;
                });
            });
        },

        close() {
            this.dialog = false
            setTimeout(() => {
                EventBus.$emit('CLEAR_FORM_TS');
                this.item = _.cloneDeep(this.defaults)
            }, 500)
            this.editedIndex = -1
        },

        limpiarFiltros() {
            this.filtros = _.cloneDeep(this.filtros_bak)
        },

        editItem(item) {
            this.editedIndex = this.items.indexOf(item)
            this.item = _.cloneDeep(item)

            setTimeout(() => {
                EventBus.$emit('FILL_FORM_TS');
                this.dialog = true
            }, 500)
        },

        openDeleteItem(item) {
            this.dialogDelete = true;
            this.editedIndex = this.items.indexOf(item);
            this.item = Object.assign({}, item)
        },

        deleteItem() {
            //let index = this.editedIndex;
            Api.delete(this.item.id)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                    })
                    .catch((error) => {
                        this.$notify({
                            text: error.message,
                            type: 'error'
                        });

                    }).finally(() => {
                this.loading = false
                this.editedIndex = -1
                this.dialogDelete = false
                this.reloadTable();
            })
        },
    },

}
</script>
