<template>
    <v-row class="mt-5">
        <v-col v-for="(item,index) in catalogo_proyectos" :key="index" md="3" lg="2">
            <v-card class="mx-auto elevation-8" link :to="{name: 'Administracion', params: {id:item.id}}">
                <v-card-text>
                    <v-row no-gutters class="justify-center">
                        <v-img contain :src="require(`@/assets/logo-example.png`)" max-height="200px" max-width="200px"></v-img>
                    </v-row>
                </v-card-text>
                <v-toolbar dense class="ma-0 pa-0 elevation-3" color="primary darken-3" dark>
                    <v-toolbar-title>{{item.nombre}}</v-toolbar-title>
                </v-toolbar>
            </v-card>
        </v-col>
        <v-col md="3" lg="2">
            <NuevoProyecto url='/api/admin/proyectos'/>
        </v-col>
    </v-row>
</template>
<script>
    import NuevoProyecto from '@/administracion/views/Proyectos/Formulario.vue';
    import EventBus from '@/plugins/event-bus.js';
    import { mapGetters } from 'vuex';

    export default{
        name: 'Proyectos',
        components:{
            NuevoProyecto
        },
        computed:{
            ...mapGetters({
                authenticated: 'index/authenticated',
                user: 'index/user',
                catalogo_proyectos: 'index/catalogo_proyectos',
            }),
        },
        mounted(){
            this.$store.dispatch('index/getProyectos')
            EventBus.$on('reloadProyectos', ()=>{
                this.$store.dispatch('index/getProyectos');
            });
        },
        methods:{
            go(item){
                location.href=`/proyectos/${item.id}/administracion/administradores`;
            }
        }
    }
</script>