<template>
    <v-row class="ma-4">
        <v-col cols="12" class="mx-0 pa-0">
            <v-card>
                <v-toolbar dark :color="sistema.bg_color" dense>
                    <v-toolbar-title>CONFIGURACIÓN</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn :color="sistema.apariencia_color_btn_success" :loading="loading" @click.prevent="saveConfig()" icon>
                        <v-icon>mdi-content-save</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-text>
                    <!-- <v-tabs class="mx-0 px-0" v-model="tab" align-with-title>
                        <v-tabs-slider :color="sistema.apariencia_color_chip_title"></v-tabs-slider>

                        <v-tab v-for="(item,index) in ajustesTabs" :key="index" class="mx-0 black--text" @click.prevent="tab_index=item.action">
                            <v-icon class="mr-2">{{ item.icon }}</v-icon>
                            <span>{{ item.title }}</span>
                        </v-tab>
                    </v-tabs> -->
                    <v-form ref="formulario">
                        <v-row>
                            <v-col cols="7">
                                <v-card>
                                    <v-toolbar dark :color="sistema.bg_color" dense>
                                        <v-toolbar-title><v-icon class="mr-2 pb-1">mdi-notification-clear-all</v-icon>DATOS DE LA EMPRESA</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                    </v-toolbar>
                                    <v-card-text>
                                        <v-row class="pa-0 ma-0 pt-1">
                                            <v-col cols="12" class="ma-0 pa-0">
                                                <v-row>
                                                    <v-col cols="12">
                                                        <v-text-field dense label="Nombre del la Empresa" autocomplete="off" outlined v-model="Formulario.nombre" 
                                                        :rules="[rules.required]"></v-text-field>
                                                    </v-col>
                                                </v-row>
                                            </v-col>
                                            <v-col cols="6" class="ma-0 pa-0">
                                                <v-row class="mx-auto justify-center" v-if="proyecto.archivo_logo!=null">
                                                    <span class="ml-2 font-weight-bold">LOGO</span>
                                                </v-row>
                                                <v-row class="mt-6 mx-auto justify-center" v-if="proyecto.archivo_logo!=null">
                                                    <v-img :src="baseURL+'/'+proyecto.archivo_logo.ruta_publica" style="border-radius:3px;height: auto!important" max-width="250px" max-height="250px"></v-img>
                                                </v-row>
                                            </v-col>
                                            <v-col cols="6" class="ma-0 pa-0">
                                                <v-row class="mx-auto justify-center" v-if="proyecto.archivo_icono!=null">
                                                    <span class="ml-2 font-weight-bold">ICONO</span>
                                                </v-row>
                                                <v-row class="mt-6 mx-auto justify-center" v-if="proyecto.archivo_icono!=null">
                                                    <v-img :src="baseURL+'/'+proyecto.archivo_icono.ruta_publica" style="border-radius:3px;height: auto!important" max-width="250px" max-height="250px"></v-img>
                                                </v-row>
                                            </v-col>
                                            <v-col cols="6" class="ma-0 pa-0 my-2">
                                                <v-row>
                                                    <v-col cols="12">
                                                        <v-file-input v-model="logo_file" accept="image/png,image/jpeg" dense label="Logo de la Empresa" outlined></v-file-input>
                                                    </v-col>
                                                </v-row>
                                            </v-col>
                                            <v-col cols="6" class="ma-0 pa-0 my-2">
                                                <v-row>
                                                    <v-col cols="12">
                                                        <v-file-input v-model="icono_file" accept="image/x-icon" hint="EL ARCHIVO DEBE SER UN ARCHIVO '.ico'" dense label="Icono de la Empresa" outlined></v-file-input>
                                                    </v-col>
                                                </v-row>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                            <v-col cols="5">
                                <v-card>
                                    <v-toolbar dark :color="sistema.bg_color" dense>
                                        <v-toolbar-title><v-icon class="mr-2 pb-1">mdi-palette</v-icon>APARIENCIA</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                    </v-toolbar>
                                    <v-row class="ma-0 pa-0">
                                        <v-col cols="6" class="text-truncate">
                                            <span class="ml-2 font-weight-bold">COLOR: </span><span>PRIMARIO</span>
                                            <v-color-picker class="ma-2" v-model="Formulario.color_primary" :swatches="swatches" value="hex" show-swatches></v-color-picker>
                                        </v-col>
                                        <v-col cols="6" class="text-truncate">
                                            <span class="ml-2 font-weight-bold">COLOR: </span><span>SECUNDARIO</span>
                                            <v-color-picker class="ma-2" v-model="Formulario.color_secondary" :swatches="swatches" value="hex" show-swatches></v-color-picker>
                                        </v-col>
                                    </v-row>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>
<script>
    import { mapGetters } from 'vuex'
    // import SectionGeneral from './SectionGeneral.vue';
    export default{
        name: 'Configuracion',
        components:{
            // SectionGeneral,
        },
        data:()=>({
            swatches: [
                ['#FF0000', '#AA0000', '#550000'],
                ['#FFFF00', '#AAAA00', '#555500'],
                ['#00FF00', '#00AA00', '#005500'],
                ['#00FFFF', '#00AAAA', '#005555'],
            ],
            color:[],
            loading: false,
            logo_file: [],
            icono_file: [],
            Formulario: [],
        }),
        computed:{
            ...mapGetters({
                sistema: 'administracion/sistema',
                rules: 'index/rules',
                user: 'index/user',
                proyecto: 'index/proyecto',
                baseURL: 'index/baseURL',
            })
        },
        beforeMount(){
            this.Formulario = _.cloneDeep(this.proyecto);
        },
        methods:{
            saveConfig(){
                var formData = new FormData();
                
                formData.append('nombre', this.Formulario.nombre);
                formData.append('archivo_logo', this.logo_file);
                formData.append('archivo_icono', this.icono_file);
                formData.append('color_primary', this.Formulario.color_primary);
                formData.append('color_secondary', this.Formulario.color_secondary);

                if(this.$refs.formulario.validate()){
                    this.axios.post('/api/admin/configuracion/proyecto',formData).then((response)=>{
                        if(response.data.success){
                            this.$notify({
                                text: response.data.message,
                                type: 'success'
                            });
                            location.reload();      
                        }else{
                            this.$notify({
                                text: response.data.message,
                                type: 'error'
                            });        
                        }
                    })
                }else{
                    this.$notify({
                        text: 'POR FAVOR, PROPORCIONA LOS CAMPOS SOLICITADOS...',
                        type: 'error'
                    });
                }
            }
        }
    }
</script>
<style>
    .text-shadow{
        /* text-shadow: 1px 1px 2px black; */
    }
</style>