<template>
    <v-dialog v-model="dialog" max-width="640">
        <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
                <v-icon dark>mdi-history</v-icon>
            </v-btn>
        </template>
        <v-card>
            <v-card-title class="headline">Bitácora de eventos del ticket #{{ item.folio }}</v-card-title>
            <v-card-text>
                <v-simple-table>
                    <template v-slot:default>
                        <thead>
                            <tr>
                                <th class="text-left">
                                    Fecha
                                </th>
                                <th class="text-left">
                                    Estatus
                                </th>
                                <th class="text-left">
                                    Comentario
                                </th>
                                <th class="text-left">
                                    Responsable
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                    v-for="bitacora in item.bitacora"
                                    :key="bitacora.id"
                            >
                                <td>{{ bitacora.fecha_evento }}</td>
                                <td>{{ bitacora.estatus.descripcion }}</td>
                                <td>{{ bitacora.observaciones }}</td>
                                <td>{{ bitacora.usuario.username }}</td>
                            </tr>
                        </tbody>
                    </template>
                </v-simple-table>

            </v-card-text>
            <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="gray darken-1" text @click="dialog = false">Cerrar</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
//import Api from '@/components/Api.js';

export default {
    name: 'Dialog-Bitacora',
    data: () => ({
        dialog: false,
    }),
    props: ['item', 'title', 'route', 'nameSpaceState'],
    computed: {
    },
    methods: {
        closeDialog() {
            this.dialog = false;
        },
    }

}
</script>
