<template>
    <v-dialog v-model="dialog" max-width="490">
        <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
                <v-icon dark>{{ icon  }}</v-icon>
            </v-btn>
        </template>
        <v-card>
            <v-card-title class="headline">Confirmar cambio de estatus</v-card-title>
            <v-card-text>Confirme el cambio de estatus del ticket #{{ ticket.folio }}</v-card-text>
            <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="gray darken-1" text @click="dialog = false">Cancelar</v-btn>
                <v-btn color="success" @click="cambiarEstatus()">Confirmar</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
import Api from '@/components/Api.js';

export default{
    name: 'Dialog-Asignar',
    data:()=>({
        dialog:false,
    }),
    props:['item','title','route', 'ticket','nameSpaceState', 'increment', 'icon'],
    computed:{
    },
    methods:{
        closeDialog(){
            this.dialog=false;
        },

        cambiarEstatus() {

            let formData = {
                ticket_id: this.ticket.id,
                estatus_id: this.ticket.estatus_id + this.increment
            }
            Api.cambiarEstatus(this.route, formData)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });

                        //this.fetchTicket({ticket: this.ticket.id});

                    })
                    .catch((error) => {
                        this.$notify({
                            text: error.message,
                            type: 'error'
                        });

                    }).finally(() => {

                this.dialog = false
                this.$emit('reload')
            })
        },
    }

}
</script>