<template>
    <v-dialog v-model="dialog" max-width="560">
        <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
                <v-icon dark>mdi-account-arrow-right-outline</v-icon>
            </v-btn>
        </template>
        <v-card>
            <v-card-title class="headline">Confirmar cambio de estatus Ticket #{{ item.folio }}</v-card-title>
            <v-card-text>

                <v-select
                        v-model="usuario_atiende_id"
                        :items="soportes"
                        label="Asignar a usuario: "
                        hint="Selecciona una opción"
                        item-value="id"
                        item-text="username"
                ></v-select>
                <div v-show="usuario_atiende_id">
                    Tickets en atención
                    <v-simple-table>
                        <template v-slot:default>
                            <thead>
                                <tr>
                                    <th class="text-left">
                                        Folio
                                    </th>
                                    <th class="text-left">
                                        Prioridad
                                    </th>
                                    <th class="text-left">
                                        Fecha atención
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                        v-for="tick in tickets_en_atencion"
                                        :key="tick.id"
                                >
                                    <td>{{ tick.folio }}</td>
                                    <td>{{ tick.prioridad }}</td>
                                    <td>{{ tick.fecha_atencion }}</td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>

                </div>
            </v-card-text>
            <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="gray darken-1" text @click="dialog = false">Cancelar</v-btn>
                <v-btn color="success" @click="asignarTicket()">Confirmar</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
import Api from '@/components/Api.js';

export default{
    name: 'Dialog-Asignar',
    data:()=>({
        dialog:false,
        usuario_atiende_id: null,
    }),
    props:['item','title','route', 'soportes','nameSpaceState', 'increment'],
    computed:{


        tickets_en_atencion() {
            if (this.usuario_atiende_id) {
                let index = _.findIndex(this.soportes, {
                    'id': this.usuario_atiende_id
                })
                return this.soportes[index].tickets_en_atencion;
            }
            return false;
        },
    },
    methods:{
        closeDialog(){
            this.dialog=false;
        },
        asignarTicket() {

            let data = {
                ticket_id: this.item.id,
                estatus_id: this.item.estatus_id + this.increment,
                usuario_atiende_id: this.usuario_atiende_id
            }
            Api.cambiarEstatus(this.route, data)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });

                        this.fetchTicket({ticket: this.ticket.id});

                    })
                    .catch((error) => {
                        this.$notify({
                            text: error.message,
                            type: 'error'
                        });

                    }).finally(() => {
                this.dialog = false
                this.$emit('reload')
            })
        },
    }

}
</script>