<template>
    <v-dialog v-model="dialog" transition="dialog-bottom-transition" persistent max-width="75%"
              :fullscreen="$vuetify.breakpoint.mobile">
        <template v-slot:activator="{ on }">
            <v-btn v-on="on" outlined dark v-permission="'gestionar_tickets'">
                <v-icon class="mr-2">mdi-plus</v-icon>
                {{ title }}
            </v-btn>
        </template>
        <v-card>
            <v-form v-model="valid" ref="form_ticket" @submit.prevent>
                <v-toolbar dark color="indigo">
                    <v-btn icon dark @click="close">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>INFORMACIÓN DEL TICKET</v-toolbar-title>
                    <div class="flex-grow-1"></div>
                    <v-toolbar-items>
                        <v-btn
                                dark text
                                :disabled="!valid"
                                @click="validate"
                                type="submit"
                                :loading="loading"
                        >Guardar
                        </v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-card-text>
                    <v-container grid-list-md pa-0>
                        <v-row>
                            <v-col
                                    class="text-center mx-auto"
                                    md="6"
                            >
                                <v-alert
                                        v-model="info"
                                        border="top"
                                        colored-border
                                        type="info"
                                        dismissible
                                        elevation="2"
                                >
                                    Completa la información solicitada
                                </v-alert>
                            </v-col>
                        </v-row>
                        <v-layout wrap>
                            <v-col
                                    sm="12"
                                    md="4"
                            >
                                <v-select
                                        v-model="form.tipo_reporte_id"
                                        :items="tipos_reporte"
                                        label="* Tipo de reporte"
                                        hint="Selecciona una opción"
                                        persistent-hint
                                        item-value="id"
                                        item-text="descripcion"
                                        :rules="[v => !!v || 'Campo requerido']"
                                ></v-select>
                            </v-col>
                            <v-col
                                    sm="12"
                                    md="4"
                            >
                                <v-select
                                        v-model="form.medio_id"
                                        :items="medios"
                                        label="* Medio de reporte"
                                        hint="Selecciona una opción"
                                        persistent-hint
                                        item-value="id"
                                        item-text="descripcion"
                                        :rules="[v => !!v || 'Campo requerido']"
                                ></v-select>
                            </v-col>
                            <v-col
                                    sm="12"
                                    md="4"
                            >
                                <v-select
                                        v-model="form.usuario_reporta_id"
                                        :items="usuarios"
                                        label="Usuario que reporta"
                                        hint="Selecciona una opción"
                                        persistent-hint
                                        item-value="id"
                                        item-text="username"
                                ></v-select>
                            </v-col>

                            <v-col
                                    sm="12"
                                    md="4"
                            >
                                <v-select
                                        v-model="form.prioridad"
                                        :items="['ALTO', 'MEDIO', 'BAJO']"
                                        label="* Prioridad"
                                        hint="Selecciona una opción"
                                        persistent-hint
                                        :rules="[v => !!v || 'Campo requerido']"
                                ></v-select>
                            </v-col>

                            <v-col
                                    sm="12"
                                    md="4"
                            >
                                <v-select
                                        v-model="form.sitio_id"
                                        :items="sitios"
                                        label="* Sitio"
                                        hint="Selecciona una opción"
                                        persistent-hint
                                        item-value="id"
                                        item-text="nombre"
                                        :rules="[v => !!v || 'Campo requerido']"
                                ></v-select>
                            </v-col>

                            <v-col
                                    sm="12"
                                    md="4"
                            >
                                <v-select
                                        v-model="form.dispositivo_id"
                                        :items="dispositivos"
                                        label="* Dispositivo"
                                        hint="Selecciona una opción"
                                        persistent-hint
                                        item-value="id"
                                        item-text="nombre"
                                        :rules="[v => !!v || 'Campo requerido']"
                                ></v-select>
                            </v-col>

                            <v-col
                                    sm="12"
                                    md="4"
                            >
                                <v-select
                                        v-model="form.severidad_id"
                                        :items="severidades"
                                        label="* Severidad"
                                        hint="Selecciona una opción"
                                        persistent-hint
                                        item-value="id"
                                        item-text="descripcion"
                                        :rules="[v => !!v || 'Campo requerido']"
                                ></v-select>
                            </v-col>
                            <!--v-col
                                    sm="12"
                                    md="4"
                            >
                                <v-select
                                        v-model="form.nivel_atencion"
                                        :items="['1er Nivel','2do Nivel','3er Nivel']"
                                        label="* Nivel de atención"
                                        hint="Selecciona una opción"
                                        persistent-hint
                                        :rules="[v => !!v || 'Campo requerido']"
                                ></v-select>
                            </v-col-->
                            <v-col
                                    sm="12"
                                    md="4"
                            >
                                <v-text-field
                                        label="* Descripción del problema"
                                        v-model="form.descripcion_problema"
                                        required
                                        :rules="[v => !!v || 'Campo requerido']"
                                ></v-text-field>
                            </v-col>
                            <v-col
                                    sm="12"
                                    md="4"
                            >
                                <v-file-input
                                        id="files"
                                        label="Cargar archivo"
                                        v-model="form.newFiles"
                                        outlined dense
                                        chips
                                        show-size counter multiple
                                        ref="files"
                                ></v-file-input>
                            </v-col>

                            <v-expand-transition>
                                <v-col
                                        sm="12"
                                        md="12"
                                        v-show="files.length"
                                        class="text-center mx-auto animate"
                                >
                                    <v-row>
                                        <v-col
                                                class="text-center mx-auto"
                                                cols="6"
                                        >
                                            <v-alert
                                                    border="top"
                                                    colored-border
                                                    type="info"
                                                    elevation="1"
                                            >
                                                Evidencias del ticket
                                            </v-alert>
                                        </v-col>
                                    </v-row>
                                    <v-card
                                            v-for="(file, index) in files"
                                            class="mr-2"
                                            style="display: inline-block"
                                            max-width="244"
                                            :key="index"
                                            outlined
                                    >
                                        <v-list-item two-line>
                                            <v-list-item-content>
                                                <div class="overline mb-4">
                                                    <v-icon v-if="file.type === 'application/pdf'">mdi-file-pdf</v-icon>
                                                    <v-icon v-if="file.type === 'image/jpeg'
                                                || file.tipo === 'image/png'">mdi-file-image</v-icon>
                                                    {{ file.mimetype }}
                                                </div>
                                                <v-list-item-subtitle>
                                                    {{ file.nombre }}<br>({{ parseInt(file.tamanio / 1024) }} Kb)
                                                </v-list-item-subtitle>
                                            </v-list-item-content>
                                        </v-list-item>


                                        <v-card-actions>
                                            <v-btn
                                                    @click="openFile(file)"
                                                    outlined
                                                    rounded
                                            >
                                                Ver archivo
                                            </v-btn>
                                            <v-btn
                                                    @click="openDeleteFile(file)"
                                                    color="error"
                                                    outlined
                                                    rounded
                                            >
                                                <v-icon
                                                        color="error"
                                                >
                                                    mdi-trash-can-outline
                                                </v-icon>
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-col>
                            </v-expand-transition>

                            <v-expand-transition>
                                <v-card-text class="py-0 mb-5 animate" v-show="currentSeveridad && currentMedio">
                                    <v-row>
                                        <v-col cols="6" v-if="currentSeveridad && currentMedio">
                                            <p>
                                                Partidas: {{ currentSeveridad.partidas }}
                                            </p>
                                            <p>
                                                Nivel: {{ currentSeveridad.nivel }}
                                            </p>
                                        </v-col>
                                        <v-col cols="6">
                                            <p>
                                                Tiempo de atención: {{ tiempo_atencion }} minutos
                                            </p>
                                            <p>
                                                Tiempo de solución: {{ tiempo_solucion }} minutos
                                            </p>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-expand-transition>
                        </v-layout>
                    </v-container>
                </v-card-text>
            </v-form>
            <v-footer
                    sticky
                    class="font-weight-thin"
            >
                <v-col
                        class="text-center mx-auto"
                        md="9"
                >
                    <v-alert
                            class="overline ma-0"
                            dense
                            outlined

                            type="error"
                    >
                        Campos marcados con <strong>*</strong> son obligatorios
                    </v-alert>
                </v-col>
            </v-footer>
        </v-card>
    </v-dialog>
</template>
<script>
import EventBus from '@/plugins/event-bus'
import Api from '@/components/Api'
import {mapActions, mapGetters} from 'vuex'

export default {
    name: 'FormTicket',
    props: ['title', 'url'],
    data: () => ({
        dialog:false,
        info: true,
        validating: false,
        valid: false,
        loading: false,
        form: {},
        dispositivos: [],
        severidades: [],
        tiempo_atencion: [],
        tiempo_solucion: [],
    }),
    mounted() {
        EventBus.$on('openTickets', data => {
            this.form = {...data}
            this.dialog = true;
            this.edit = true;
            this.fetchFiles({ticket: data.id})
        });

    },
    methods: {
        ...mapActions({
            fetchFiles: 'conquest/fetchFiles',
        }),
        reloadTable(){
            EventBus.$emit('reloadTable')
        },
        resetForm() {
            this.$nextTick(() => {
                this.edit = false
                this.form = {}
                this.$refs.form_ticket.reset()
            })
        },
        close() {
            this.form = {}
            this.dialog = false
            this.resetForm();
            setTimeout(() => {
                this.edit = false
            }, 100)
        },
        validate()  {
            if (this.$refs.form_ticket.validate()) {
                this.loading = true
                this.$notify({
                    text: 'Procesando...',
                    type: 'info',
                    duration: 1000,
                });
                this.loading = false;
                this.submit(this.form, this.edit)
            }
        },
        async submit(data, edit = false) {

            let formData = new FormData();
            for (let key in data) {
                formData.append(key, data[key])
            }

            if (data.newFiles) {
                for (let i = 0; i < data.newFiles.length; i++) {
                    let file = data.newFiles[i];
                    formData.append('files[' + i + ']', file);
                }
            }

            if (edit) {
                let id = data.id
                Api.edit(this.url, id, formData)
                        .then(({data}) => {
                            this.$notify({
                                text: data.message,
                                type: 'success'
                            });
                            this.close()
                        })
                        .catch(response => {
                            this.$notify({
                                text: response.message,
                                type: 'error'
                            });
                        }).finally(() => {
                            this.loading = false
                            this.reloadTable()
                        })
            } else {
                Api.add(this.url, formData)
                        .then(({data}) => {
                            this.$notify({
                                text: data.message,
                                type: 'success'
                            });
                            this.close()
                        })
                        .catch(response => {
                            this.$notify({
                                text: response.message,
                                type: 'error'
                            });
                            this.loading = false
                        }).finally(() => {
                            this.loading = false
                            this.reloadTable()
                        })
            }
        },
        getDispositivos(sitio) {

            Api.getDispositivosBySitio(this.url, sitio)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                        this.dispositivos = data.dispositivos.items;

                    })
                    .catch(response => {
                        this.$notify({
                            text: response.message,
                            type: 'error'
                        });
                        this.loading = false
                    }).finally(() => {
                        this.loading = false
                    })
        },
        getTiempoAtencion() {
            console.log("entrando a tiempo de atención")
            let data = {
                medio_id: this.form.medio_id,
                severidad_id: this.form.severidad_id,
            }
            Api.tiempoAtencion(this.url, data)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                        this.tiempo_atencion = data.tiempo_atencion.minutos;
                        this.tiempo_solucion = data.tiempo_solucion.minutos;

                    })
                    .catch(response => {
                        this.$notify({
                            text: response.message,
                            type: 'error'
                        });
                        this.loading = false
                    }).finally(() => {
                this.loading = false
            })
        },
        getSeveridades() {
            let data = {
                partida: this.currentDispositivo.partida_id,
            }
            Api.severidades(this.url, data)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                        this.severidades = data.severidades.items;

                    })
                    .catch(response => {
                        this.$notify({
                            text: response.message,
                            type: 'error'
                        });
                        this.loading = false
                    }).finally(() => {
                this.loading = false
            })
        },
    },
    computed: {
        ...mapGetters({
            tipos_reporte: 'conquest_admin/getTiposReporte',
            medios: 'conquest_admin/getMedios',
            estatus: 'conquest_admin/getEstatus',
            usuarios: 'conquest_admin/getUsuarios',
            operadores: 'conquest_admin/getOperadores',
            sitios: 'conquest_admin/getSitios',
            files: 'conquest/getFiles',
        }),

        currentSeveridad() {
            if (this.form) {
                let index = _.findIndex(this.severidades, {
                    'id': this.form.severidad_id
                })
                return this.severidades[index];
            }
            return false;
        },
        currentDispositivo() {
            if (this.form) {
                let index = _.findIndex(this.dispositivos, {
                    'id': this.form.dispositivo_id
                })
                return this.dispositivos[index];
            }
            return false;
        },
        currentMedio() {
            if (this.form) {
                let index = _.findIndex(this.medios, {
                    'id': this.form.medio_id
                })
                return this.medios[index];
            }
            return false;
        },
        currentSitio() {
            if (this.form) {
                let index = _.findIndex(this.sitios, {
                    'id': this.form.sitio_id
                })
                return this.sitios[index];
            }
            return false;
        },
    },
    watch: {
        currentSitio: {
            handler(newVal) {
                if (newVal)
                    this.dispositivos = newVal.dispositivos
                    //this.getDispositivos(newVal.id)
            },
            immediate:true
        },

        currentDispositivo(newVal, oldVal) {
            if (newVal !== oldVal && this.currentDispositivo) {
                this.getSeveridades();
            }
        },

        currentSeveridad(newVal, oldVal) {
            if (newVal !== oldVal && this.currentMedio){
                console.log("entro al 1er if")
                if(!this.tiempo_solucion.length && !this.tiempo_atencion.length){
                    console.log("entro al 2do if")
                    this.getTiempoAtencion()
                }
            }
        },

        currentMedio(newVal, oldVal) {

            if (newVal !== oldVal && this.currentSeveridad && oldVal !== undefined){
                this.getTiempoAtencion()
            }
        },
    }
}
</script>

<style scoped>

</style>