<template>
    <v-container style="max-width: 100%" grid-list-xl>
        <v-layout wrap>
            <v-flex md12 sm12 lg12>
                <my-data-table v-bind="dataTableData">

                    <template v-slot:item.files="{ item }">
                        <v-chip
                                v-for="(file, index) in item.files"
                                class="mr-2"
                                :key="index"
                                style="max-width:160px"
                                @click="openFile(file)"
                        >
                            <v-icon v-if="file.tipo === 'application/pdf'" left>mdi-file-pdf</v-icon>
                            <v-icon v-if="file.tipo === 'image/jpeg'
                                                || file.type === 'image/png'" left>mdi-file-image
                            </v-icon>
                            {{ file.nombre }}
                        </v-chip>

                    </template>

                    <template v-slot:item.action="{item}">
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <span v-bind="attrs" v-on="on">
                                    <DialogBitacora title="Tickets"
                                                    :item="item" :route="urlApi"
                                                    :nameSpaceState="'conquest'"/>
                                </span>
                            </template>
                            <span>
                                Bitácora de eventos
                            </span>
                        </v-tooltip>
                        <div class="d-inline-block-2" v-show="item.estatus_id === 1">
                            <v-tooltip top v-permission="'atender_tickets'">
                                <template v-slot:activator="{ on, attrs }">
                                    <span v-bind="attrs" v-on="on">
                                        <DialogAsignar @reload="reloadTable" title="Tickets"
                                                       :item="item" :soportes="soportes" :route="urlApi"
                                                       :increment="1" :nameSpaceState="'conquest'"/>
                                    </span>
                                </template>
                                <span>
                                    Iniciar atención
                                </span>
                            </v-tooltip>
                        </div>
                        <div class="d-inline-block-2" v-show="item.estatus_id === 2">
                            <v-tooltip top v-permission="'atender_tickets'">
                                <template v-slot:activator="{ on, attrs }">
                                    <span v-bind="attrs" v-on="on">
                                        <DialogEstatus :route="urlApi" title="Tickets" :ticket="item"
                                                       :icon="'mdi-checkbox-marked-circle-outline'"
                                                       :increment="1"
                                        />
                                    </span>
                                </template>
                                <span>
                                    Ticket resuelto
                                </span>
                            </v-tooltip>
                        </div>
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                        v-bind="attrs"
                                        v-on="on"
                                        icon
                                        :to="{path: 'tickets/ticket_detalle/'+item.id}"
                                >
                                    <v-icon dark>mdi-eye-outline</v-icon>
                                </v-btn>
                            </template>
                            <span>
                                Detalle ticket
                            </span>
                        </v-tooltip>

                        <div class="d-inline-block-2" v-show="item.estatus_id === 1">

                            <v-tooltip bottom color="black">
                                <template v-slot:activator="{ on, attrs }">
                                    <span v-bind="attrs" v-on="on">
                                        <v-btn @click.prevent="chargeData(item)" icon>
                                            <v-icon color="primary">mdi-file-edit</v-icon>
                                        </v-btn>
                                    </span>
                                </template>
                                <span>Actualizar Registro</span>
                            </v-tooltip>

                            <v-tooltip bottom color="black">
                                <template v-slot:activator="{ on, attrs }">
                                    <span v-bind="attrs" v-on="on">
                                        <DialogEliminar @reload="reloadTable" title="Tickets" :item="item" :route="urlApi"
                                                        :nameSpaceState="'conquest'"/>
                                    </span>
                                </template>
                                <span>Eliminar Registro</span>
                            </v-tooltip>

                        </div>

                    </template>
                </my-data-table>
            </v-flex>

        </v-layout>
    </v-container>
</template>
<style>
    .d-inline-block-2 {
        display: inline-block;
    }
</style>
<script>
import MyDataTable from '@/components/DataTable.vue';
import DialogEliminar from '@/components/DialogEliminar.vue'
import DialogAsignar from '@/conquest/views/shared/tickets/dialogAsignar'
import DialogEstatus from '@/conquest/views/shared/tickets/dialogEstatus'
import EventBus from '@/plugins/event-bus.js';
import {mapActions, mapGetters} from 'vuex'
import Api from '@/conquest/router/shared/tickets'
import DialogBitacora from '@/conquest/views/shared/tickets/dialogBitacora'
import {FUNCTIONS} from '@/mixins/functions'

export default {
    mixins: [FUNCTIONS],
    components: {
        DialogBitacora,
        MyDataTable,
        DialogEliminar,
        DialogAsignar,
        DialogEstatus
    },
    data: () => ({
        componentNew: () => import('./formulario'),
    }),
    mounted() {
        EventBus.$off('reloadTable')
        EventBus.$on('reloadTable', () => {
            this.reloadTable()
        });
        this.fetchMedios()
        this.fetchTiposReporte()
        this.fetchEstatus()
        this.fetchUsuarios()
        this.fetchOperadores()
        this.fetchSoportes()
        this.fetchSitios()
    },
    computed: {
        urlApi() {
            return 'api/conquest/tickets';
        },
        dataTableData() {
            return {
                ref: 'tabla',
                title: 'Tickets',
                storeKey: 'tickets-datatables',
                nameSpaceState: 'conquest',
                headers: [
                    {text: 'Acciones', value: 'action', sortable: false, width:140},
                    {text: 'id', value: 'id', hide: true},
                    {text: '#', value: 'folio', searcheable:true},
                    {text: 'Tipo reporte', value: 'tipo_reporte.descripcion'},
                    {text: 'Medio', value: 'medio.descripcion'},
                    {text: 'Usuario reporta', value: 'usuario_reporta.username'},
                    {text: 'Usuario recibe', value: 'usuario_recibe.username', hide: true},
                    {text: 'Usuario atiende', value: 'usuario_atiende.username'},
                    {text: 'Prioridad', value: 'prioridad'},
                    {text: 'Fecha apertura', value: 'fecha_apertura'},
                    {text: 'Fecha atención', value: 'fecha_atencion', hide: true},
                    {text: 'Tiempo de espera', value: 'tiempo_espera', hide: true},
                    {text: 'Fecha de término', value: 'fecha_termino', hide: true},
                    {text: 'Tiempo de atención', value: 'tiempo_atencion', hide: true},
                    {text: 'Dispositivo', value: 'dispositivo.descripcion', hide: true},
                    {text: 'Sitio', value: 'sitio.nombre', hide: true},
                    {text: 'Descripción problema', value: 'descripcion_problema', hide: true},
                    {text: 'Severidad', value: 'severidad.descripcion', hide: true},
                    {text: 'Estatus', value: 'estatus.descripcion'},
                    {text: 'Nivel atención', value: 'nivel_atencion'},
                    {text: 'Archivos', value: 'files', hide: false},

                ],
                url: this.urlApi,
                titleIcon: 'mdi-ticket-confirmation',
                componentNew: {
                    component: this.componentNew,
                    params: {
                        title: 'Nuevo ticket',
                        url: this.urlApi,
                        id: 1,
                    }
                },
            }
        },
        ...mapGetters({
            soportes: 'conquest_admin/getSoportes',
        }),
    },
    methods: {
        chargeData(item) {
            EventBus.$emit('openTickets', item);
        },
        reloadTable() {
            this.$refs.tabla.reloadTable()
        },
        ...mapActions({
            fetchTiposReporte: 'conquest_admin/fetchTiposReporte',
            fetchMedios: 'conquest_admin/fetchMedios',
            //fetchSeveridades: 'conquest_admin/fetchSeveridades',
            fetchEstatus: 'conquest_admin/fetchEstatus',
            fetchOperadores: 'conquest_admin/fetchOperadores',
            fetchSoportes: 'conquest_admin/fetchSoportes',
            fetchUsuarios: 'conquest_admin/fetchUsuarios',
            fetchSitios: 'conquest_admin/fetchSitios',
            fetchFiles: 'conquest/fetchFiles',
            //fetchDispositivos: 'conquest_admin/fetchDispositivos',
        }),

        openCambiarEstatus(item, increment = 1) {

            this.dialogEstatus = true;
            this.item = {...item}
            this.increment = increment
        },

        openAsignarAtencion(item, increment = 1) {

            this.dialogAsignar = true;
            this.editedIndex = this.items.indexOf(item);
            this.item = _.cloneDeep(item)
            this.increment = increment
        },

        asignarTicket() {

            let data = {
                ticket_id: this.item.id,
                estatus_id: this.item.estatus_id + this.increment,
                usuario_atiende_id: this.usuario_atiende_id
            }
            Api.cambiarEstatus(data)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                    })
                    .catch((error) => {
                        this.$notify({
                            text: error.message,
                            type: 'error'
                        });

                    }).finally(() => {
                this.editedIndex = -1
                this.dialogAsignar = false
                this.reloadTable();
            })
        },

        cambiarEstatus() {

            let data = {
                ticket_id: this.item.id,
                estatus_id: this.item.estatus_id + this.increment
            }
            Api.cambiarEstatus(data)
                    .then(({data}) => {
                        this.$notify({
                            text: data.message,
                            type: 'success'
                        });
                    })
                    .catch((error) => {
                        this.$notify({
                            text: error.message,
                            type: 'error'
                        });

                    }).finally(() => {
                this.loading = false
                this.editedIndex = -1
                this.dialogEstatus = false
                this.reloadTable();
            })
        },
        openBitacora(item) {
            this.dialogBitacora = true;
            this.editedIndex = this.items.indexOf(item);
            this.itemBitacora = _.cloneDeep(item)
        },
    }
}
</script>
