<template>
  <v-app>
    <Navbar />
    <!-- <Sidebar/> -->
    <v-main>
      <v-container fluid style="max-width: 100%">
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import Navbar from "./components/Navbar.vue";
// import Sidebar from './components/Sidebar.vue';

export default {
  name: "Full",
  components: {
    Navbar,
    // Sidebar,
  },
  data: () => ({
    dialog: false,
  }),
  computed: {
    title() {
      return this.$store.state.nms.title;
    },
    ...mapGetters({
      baseURL: "index/baseURL",
      proyecto: "index/proyecto",
    }),
  },
  beforeMount() {
    setTimeout(() => {
      document.title = this.title;

      var link =
        document.querySelector("link[rel*='icon']") ||
        document.createElement("link");
      link.type = "image/x-icon";
      link.rel = "shortcut icon";
      link.href = this.baseURL + "/" + this.proyecto.archivo_icono.ruta_publica;
      document.getElementsByTagName("head")[0].appendChild(link);
    });
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300&display=swap");

.raleway {
  font-family: "Raleway";
  font-style: normal;
}
</style>