<template>
    <v-dialog v-model="dialog" persistent max-width="800px" transition="dialog-bottom-transition">
        <template v-slot:activator="{ on }">
            <span v-on="on">
                <v-tooltip bottom color="black">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" dark icon @click.prevent="load(null)">
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                    </template>
                    <span>Nuevo Registro</span>
                </v-tooltip>
            </span>
        </template>
        <v-card>
            <v-toolbar dense dark :color="sistema.bg_color">
                <v-toolbar-title>
                    <v-icon class="mr-2 pb-1">{{titleIcon}}</v-icon>
                    <span>{{Formulario.id!=null ? 'EDITAR': 'AGREGAR'}} DISPOSITIVO</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click.prevent="closeDialog()">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text class="px-4 pt-4 py-0">
                <v-form ref="formulario">
                   <v-layout wrap>
                        <v-col sm="12" md="6">
                            <v-select
                                    v-model="Formulario.partida_id"
                                    :items="select_tipos"
                                    label="Tipo"
                                    hint="Selecciona una opción"
                                    outlined
                                    dense
                                    :rules="[v => !!v || 'Campo requerido']"
                                    persistent-hint
                                    item-value="id"
                                    item-text="text"
                            ></v-select>
                        </v-col>
                        <v-col sm="12" md="6">
                            <v-text-field label="Nombre" dense outlined v-model="Formulario.nombre" :rules="[v => !!v || 'Campo requerido']"></v-text-field>
                        </v-col>
                        <v-col sm="12" md="6">
                            <v-text-field dense outlined label="Descripcion" v-model="Formulario.descripcion"></v-text-field>
                        </v-col>
                        <v-col sm="12" md="6">
                            <v-select
                                    v-model="Formulario.sitio_id"
                                    :items="sitios"
                                    label="Sitio"
                                    dense outlined
                                    hint="Selecciona una opción"
                                    persistent-hint
                                    item-value="id"
                                    item-text="nombre"
                            ></v-select>
                        </v-col>
                        <v-col sm="12" md="4">
                            <v-text-field dense outlined label="Número de serie" v-model="Formulario.numero_serie"></v-text-field>
                        </v-col>
                        <v-col sm="12" md="4">
                            <v-text-field dense outlined label="Fabricante" v-model="Formulario.fabricante"></v-text-field>
                        </v-col>
                        <v-col sm="12" md="4">
                            <v-text-field dense outlined label="Marca" v-model="Formulario.marca"></v-text-field>
                        </v-col>
                        <v-col sm="12" md="4">
                            <v-text-field dense outlined label="Modelo" v-model="Formulario.modelo"></v-text-field>
                        </v-col>
                        <v-col sm="12" md="4">
                            <v-text-field dense outlined label="Dirección(es) IP" v-model="Formulario.ips"></v-text-field>
                        </v-col>
                        <v-col sm="12" md="4">
                            <v-menu
                                    v-model="menu_fr"
                                    :close-on-content-click="true"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                            dense outlined
                                            autocomplete="off"
                                            v-model="Formulario.fecha_recepcion"
                                            label="Fecha de recepción"
                                            prepend-inner-icon="mdi-calendar"
                                            v-bind="attrs"
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                        v-model="Formulario.fecha_recepcion"
                                ></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col sm="12" md="4">
                            <v-menu
                                    v-model="menu_fi"
                                    :close-on-content-click="true"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                            dense outlined
                                            autocomplete="off"
                                            v-model="Formulario.fecha_instalacion"
                                            label="Fecha de instalación"
                                            prepend-inner-icon="mdi-calendar"
                                            v-bind="attrs"
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                        v-model="Formulario.fecha_instalacion"
                                ></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col sm="12" md="4">
                            <v-menu
                                    v-model="menu_fm"
                                    :close-on-content-click="true"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        dense outlined
                                        autocomplete="off"
                                        v-model="Formulario.fecha_monitoreo"
                                        label="Fecha de monitoreo"
                                        prepend-icon="mdi-calendar"
                                        v-bind="attrs"
                                        v-on="on">
                                    </v-text-field>
                                </template>
                                <v-date-picker dense outlinedv-model="Formulario.fecha_monitoreo"></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col sm="12" md="4">
                            <v-text-field dense outlined label="Hostname" v-model="Formulario.hostname"></v-text-field>
                        </v-col>
                    </v-layout>
                </v-form>
            </v-card-text>
            <v-card-actions class="pa-4">
                <v-spacer></v-spacer>
                <v-btn outlined dark color="#D50000" @click.prevent="closeDialog()">
                    <span class="font-weight-bold">CANCELAR</span>
                </v-btn>
                <v-btn outlined dark color="primary" @click.prevent="save()">
                    <span class="font-weight-bold">GUARDAR</span>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    import EventBus from '@/plugins/event-bus.js';
    import Api from '@/components/Api.js';
    import { mapGetters } from 'vuex';

    export default{
        name: 'Dispositivos-Formulario',
        props:['url','title','titleIcon','params'],
        data: ()=>({
            dialog:false,
            edit: false,
            Formulario: {
                direccion:{}
            },
        }),
        computed:{
            ...mapGetters({
                sistema: 'cmdb/sistema',
                user: 'index/user',    
            })
        },
        mounted() {
            EventBus.$on('openSitio', data => {
                this.load(data);
                this.edit = true;
                this.dialog = true;
            });
        },
        methods:{
            reloadTable(){
                EventBus.$emit('reloadTable');
                this.closeDialog();
            },
            load(data){
                if(data!=null){
                    this.Formulario = _.cloneDeep(data)
                }

                this.Formulario.proyecto_id = _.cloneDeep(this.user.proyecto_id);
            },
            save(){
                if(this.$refs.formulario.validate()){
                    if(this.edit){ 
                        Api.edit(this.url, this.Formulario.id, this.Formulario).then((response)=>{
                            if(response.data.success){
                                this.$notify({
                                    text: response.data.message,
                                    type: 'success',
                                    position: 'left',
                                })
                                this.reloadTable();
                            }else{
                                this.$notify({
                                    text: response.data.message,
                                    type: 'error',
                                })
                            }
                        });   
                    }else{
                        Api.add(this.url, this.Formulario).then((response)=>{
                            if(response.data.success){
                                this.$notify({
                                    text: response.data.message,
                                    type: 'success',
                                })
                                this.reloadTable();
                            }else{
                                this.$notify({
                                    text: response.data.message,
                                    type: 'error',
                                })
                            }
                        });   
                    }
                }else{
                    this.$notify({
                        text: 'POR FAVOR, PROPORCIONA LOS CAMPOS SOLICITADOS...',
                        type: 'error'
                    });
                }
            },
            closeDialog(){
                this.dialog = false;
                this.edit = false;
                this.$refs.formulario.reset();
            }
        }
    }
</script>