<template>
    <v-container style="max-width: 100%" grid-list-xl>
        <v-layout wrap>
            <v-flex md12 sm12 lg12>
                <my-data-table v-bind="dataTableData">
                    <template v-slot:item.persona.nombres="{item}">
                        <span>{{item.persona.nombres}} {{item.persona.apellido_paterno}} {{item.persona.apellido_materno}}</span>
                    </template>
                    <template v-slot:item.action="{item}">
                        <v-tooltip bottom color="black">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" icon>
                                    <v-icon color="black">mdi-eye</v-icon>
                                </v-btn>
                            </template>
                            <span>Detalles</span>
                        </v-tooltip>

                        <v-tooltip bottom color="black">
                            <template v-slot:activator="{ on, attrs }">
                                <span v-bind="attrs" v-on="on">
                                    <v-btn @click.prevent="chargeData(item)" icon>
                                        <v-icon color="primary">mdi-file-edit</v-icon>
                                    </v-btn>
                                </span>
                            </template>
                            <span>Actualizar Registro</span>
                        </v-tooltip>
                        
                        <!-- <v-tooltip bottom color="black">
                            <template v-slot:activator="{ on, attrs }">
                                <span v-bind="attrs" v-on="on">
                                    <DialogEliminar @reloadTable="reloadTable" title="Proyecto" :item="item" :route="urlApi"  :nameSpaceState="'administracion'"/>
                                </span>
                            </template>
                            <span>Eliminar Registro</span>
                        </v-tooltip> -->
                        
                    </template>
                </my-data-table>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

    import MyDataTable from '@/components/DataTable.vue';
    // import DialogEliminar from '@/components/DialogEliminar.vue'
    import EventBus from '@/plugins/event-bus.js';
    import { mapGetters } from 'vuex';

    export default {
        name: 'Usuarios',
        components: {
            MyDataTable,
        },
        data: () => ({
            componentNew: () => import('./Formulario.vue'),
        }),
        computed: {
            ...mapGetters({
                proyecto: 'index/proyecto',
                user: 'index/user',
            }),
            urlApi(){
                return `api/admin/dispositivos`;
            },
            dataTableData(){
                return {
                    ref: 'tabla',
                    title: 'Dispositivos',
                    storeKey:"dispositivos-datatables",
                    nameSpaceState:'cmdb',
                    headers: [
                        {text: '#', value: 'id'},
                        {text: 'Partida', value: 'partida_id'},
                        {text: 'Nombre', value: 'nombre'},
                        {text: 'Descripción', value: 'descripcion', hide:true},
                        {text: 'Sitio', value: 'sitio.nombre'},
                        {text: 'Número de serie', value: 'numero_serie'},
                        {text: 'Fabricante', value: 'fabricante', hide:true},
                        {text: 'Marca', value: 'marca', hide:true},
                        {text: 'Modelo', value: 'modelo'},
                        {text: 'Ips', value: 'ips'},
                        {text: 'Fecha recepción', value: 'fecha_recepcion', hide:true},
                        {text: 'Fecha instalación', value: 'fecha_instalacion', hide:true},
                        {text: 'Fecha monitoreo', value: 'fecha_monitoreo'},
                        {text: 'Hostname', value: 'hostname'},
                        {text: 'Estatus', value: 'estatus', hide:true},
                        {text: 'Activo', value: 'activo'},
                        {text: 'Acciones', value: 'action', sortable: false},
                    ],
                    url: this.urlApi,
                    titleIcon:"mdi-account-group",
                    componentNew: {
                        title: 'Nuevo Registro',
                        // name: 'Administracion-Usuarios', //NAME ROUTE
                        component: this.componentNew,
                        params: {
                            titleIcon:"mdi-account",
                            url: this.urlApi,
                        }
                    },
                }
            },
        },
        mounted(){
            EventBus.$on('reloadTable', ()=>{
                this.reloadTable();
            });
        },
        methods:{
            chargeData(item){
                EventBus.$emit('openUsuario', item);
            },
            reloadTable(){
                this.$refs.tabla.reloadTable();
            }
        }
    }
</script>
