<template>
    <v-row class="pa-0 pl-3 ma-0">
        <v-breadcrumbs :items="breadcrumbs" class="pa-0 ma-0">
            <template v-slot:divider>
                <span class="white--text">/</span>
            </template>
            <template v-slot:item="{ item }">
                <v-breadcrumbs-item :href="item.href" :disabled="item.disabled">
                    <v-icon size="25" class="pb-1" left dark>{{item.icon}}</v-icon>
                    <span class="white--text">{{ item.text.toUpperCase() }}</span>
                </v-breadcrumbs-item>
            </template>
        </v-breadcrumbs>
    </v-row>
</template>
<script>
    export default{
        computed:{
            breadcrumbs(){
                return this.$store.state.index.breadcrumbs;
            }
        }
    }
</script>