<template>
    <v-row>
        <v-col>
            <v-card>
                <v-toolbar dense dark :color="sistema.bg_color">
                    <v-toolbar-title class="text-uppercase">
                        <v-icon v-if="titleIcon"  class="pb-2">{{ titleIcon }}</v-icon> {{ title }}
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    
                    <v-tooltip bottom color="black">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn icon v-bind="attrs" v-on="on" class="mx-2" @click="showFilters = !showFilters">
                                <v-icon>mdi-filter</v-icon>
                            </v-btn>
                        </template>
                        <span> {{ showFilters ? 'Ocultar' : 'Mostrar' }} Filtros de Registros</span>
                    </v-tooltip>

                    <v-tooltip bottom color="black">
                        <template v-slot:activator="{ on, attrs }">
                            <span v-bind="attrs" v-on="on">
                                <v-menu v-model="menu" :close-on-content-click="false" :nudge-width="150" offset-x>
                                    <template v-slot:activator="{ on }">
                                        <v-btn icon v-on="on" class="ml-2">
                                            <v-icon>mdi-format-list-bulleted-square</v-icon>
                                        </v-btn>
                                    </template>
                                    <v-card>
                                        <v-toolbar dense dark :color="sistema.bg_color">
                                            <v-toolbar-title>
                                                <v-icon class="mr-2 pb-1">mdi-format-list-bulleted-square</v-icon>
                                                Filtrar Columnas
                                            </v-toolbar-title>
                                        </v-toolbar>
                                        <v-list dense>
                                            <v-list-item v-for="column in headers" :key="column.text">
                                                <v-list-item-action>
                                                    <v-switch v-model="column.hide" @change="reloadHeaders()" :color="sistema.bg_color"></v-switch>
                                                </v-list-item-action>
                                                <v-list-item-title>
                                                    {{ column.text }}
                                                </v-list-item-title>
                                            </v-list-item>
                                        </v-list>
                                        <v-card-actions>
                                            <div class="flex-grow-1"></div>
                                            <v-btn color="primary" text @click="menu = false">Cerrar</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-menu>
                            </span>
                        </template>
                        <span> Mostrar Filtros de Columnas</span>
                    </v-tooltip>

                    <v-tooltip bottom color="black">
                        <template v-slot:activator="{ on, attrs }">
                            <span v-bind="attrs" v-on="on">
                                <v-menu v-model="menu_export" left :close-on-content-click="false" :nudge-width="10" offset-x>
                                    <template v-slot:activator="{ on }">
                                        <!-- <v-btn v-on="on" v-if="!noExcel" text expanded color="green lighten-1" outlined @click.native="exportar('excel')" :loading="loadingBtnExcel"> -->
                                        <v-btn icon v-on="on" class="mx-2" v-if="!noExcel">
                                            <v-icon>mdi-download</v-icon>
                                        </v-btn>
                                    </template>
                                    <v-card>
                                        <v-list dense>
                                            <v-list-item @click.prevent="" disabled>
                                                <v-list-item-icon>
                                                    <v-icon color="green" class="pb-1">mdi-file-excel</v-icon>
                                                </v-list-item-icon>
                                                <v-list-item-title color="green">
                                                    Excel
                                                </v-list-item-title>
                                            </v-list-item>
                                            <v-list-item @click.prevent="" disabled>
                                                <v-list-item-icon>
                                                    <v-icon color="blue darken-4" class="pb-1">mdi-file-word</v-icon>
                                                </v-list-item-icon>
                                                <v-list-item-title>
                                                    Word
                                                </v-list-item-title>
                                            </v-list-item>
                                        </v-list>
                                    </v-card>
                                </v-menu>
                            </span>
                        </template>
                        <span>Exportar</span>
                    </v-tooltip>

                    <!-- //COMPONENT NEW -->
                    <component v-bind="componentNew.params" :is="componentNew.component" v-if="componentNew.component"></component>
                    
                    <v-btn dark class="mx-2" outlined v-if="componentNew.name" :to="componentNew" >
                        <v-icon class="mr-2 pb-1">mdi-plus</v-icon> {{componentNew.title}}
                    </v-btn>

                </v-toolbar>
                <v-expand-transition>
                    <v-row no-gutters v-show="showFilters">
                        <v-col cols="12" class="pa-4">
                            <span class="font-weight-bold">Filtros</span>
                            <v-divider></v-divider>
                        </v-col>
                        <v-col cols="4" class="pa-4" v-for="(item,index) in headers" :key="index" v-show="item.filterable && !item.hide">
                            <v-text-field v-model="filtersDatatables[item.value]" outlined dense hide-details clearable autocomplete="off" :label="item.text"></v-text-field>
                        </v-col>
                    </v-row>
                </v-expand-transition>
                <v-data-table
                    dense
                    class="mt-4 ma-0"
                    :headers="computedHeaders"
                    :items="items"
                    :server-items-length="totalItems"
                    no-results-text="No se encontraron registros"
                    no-data-text="No hay registros"
                    :footer-props="footerPropsTable"
                    :loading="loading"
                    loading-text="Espere un momento ..."
                    multi-sort
                    :options.sync="paginationTable">


                    <template #footer.page-text="props">
                        {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
                    </template>

                    <template v-for="(index, name) in $scopedSlots" v-slot:[name]="data">
                        <slot :name="name" v-bind="data"></slot>
                    </template>

                </v-data-table>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    import Api from '@/components/Api.js';

    export default {
        name: 'DataTables',
        props: [
            'nameSpaceState',
            'componentNew',
            'componentDelete',
            'title',
            'headers',
            'titleIcon',
            'storeKey',
            'url',
            'no-excel',
            'pagination',
            'footerProps',
            'filters',
            'handleClickRow'
        ],
        data() {
            return {
                compuitedHeaders: [],
                menu: false,
                menu_export: false,
                showFilters: false,
                columns: {},
                items: [],
                totalItems: 0,
                paginationTable: {
                    page: 1,
                    itemsPerPage: 10,
                    sortBy: [],
                    sortDesc: [],
                },
                footerPropsTable: {
                    'items-per-page-options': [5, 10, 20, 50, 100],
                },
                filtersDatatables: {},
                awaitingSearch: null,
                loadingBtnExcel: false,
                loading: false,
                draw: 0,
            };
        },
        computed: {
            sistema(){
                return this.$store.state[this.nameSpaceState].sistema;
            },
            // computedHeaders() {
                
            // },
        },
        beforeMount(){
            this.headers.map(h=>{
                if(h.hide==undefined){
                    h.hide = false;
                }
            })

            this.computedHeaders = this.headers.filter(h => {
                if (!h.hide) return true
            })

            this.footerPropsTable = {
                ...this.footerPropsTable,
                ...this.footerProps,
            },
            this.paginationTable = {
                ...this.paginationTable,
                ...this.pagination,
            }
        },
        created(){
            if (typeof this.storeKey == 'string' && this.$store.state.index.datatables[this.storeKey]) {
                let data = this.$store.state.index.datatables[this.storeKey]

                this.items             = data.items
                this.paginationTable   = data.paginationTable
                this.footerPropsTable  = data.footerPropsTable
                this.filtersDatatables = data.filtersDatatables

            } else {
                this.getItems();
            }
        },
        mounted(){
            for (var i = 0; i < this.headers.length; i++) {
                this.columns[i] = {
                    data: this.headers[i].value,
                    text: this.headers[i].text,
                    hide: (typeof (this.headers[i].hide) != 'undefined' ? this.headers[i].hide : false),
                    name: (typeof (this.headers[i].name) != 'undefined' ? this.headers[i].name : this.headers[i].value),
                    searchable: this.headers[i].searchable,
                    orderable: this.headers[i].sortable,
                    search: {
                        value: '',
                        regex: false
                    }
                };
            }
        },
        watch: {
            paginationTable: {
                handler() {
                    this.getItems()
                },
                deep: true
            },
            filtersDatatables: {
                handler(){
                    this.paginationTable.page = 1
                    this.getItems()
                },
                deep: true
            },
            filters: {
                handler(new_val){
                    this.paginationTable.page = 1
                    
                    for (let val in new_val) {
                        this.filtersDatatables[val] = new_val[val]
                    }

                    this.getItems()
                },
                deep: true
            }
        },
        methods: {
            reloadHeaders(){
                this.computedHeaders = this.headers;
            },
            prepareParams() {
                let params = {};
                
                params.length = this.paginationTable.itemsPerPage;
                params.start  = this.paginationTable.page === 1 ? 0 : (this.paginationTable.itemsPerPage * (this.paginationTable.page - 1));
            
                params.draw = this.draw;

                // search columns
                for (let val in this.filtersDatatables) {

                    let index = _.findIndex(this.headers, {
                        'value': val
                    })

                    this.columns[index].search.value = this.filtersDatatables[val];
                }

                // order columns
                params.order = []
                
                if (this.paginationTable.sortBy.length) {

                    for (let i in this.paginationTable.sortBy) {

                        let column = _.findIndex(this.headers, {
                            'value': this.paginationTable.sortBy[i]
                        })

                        let dir = this.paginationTable.sortDesc[i] ? 'desc' : 'asc'

                        params.order.push({column, dir})
                    }

                } else {
                    params.order.push({
                        column: 0,
                        dir: 'asc'
                    });
                }

                // hide columns
                for (let h in this.headers) {
                    this.columns[h].hide = this.headers[h].hide;
                }

                params.columns = this.columns;

                return params;
            },
            getItems(){
                clearTimeout(this.awaitingSearch)

                this.awaitingSearch = setTimeout(() => {
                    this.getDataFromServer().then(this.setDataFromServer)
                }, 100)
            },
            getDataFromServer(){

                this.loading = true;

                return new Promise((resolve,reject) => {
                    
                    this.draw++;

                    let params = this.prepareParams();

                    return Api.dataTable(this.url, params).then(response => {
                        if (response.status == 200 && response.data.data && !response.data.error) {
                            resolve(response.data);
                        } else if (response.data.error) {
                            this.$notify({
                                text: response.data.error,
                                type: 'error'
                            });
                        } else {
                            this.$notify({
                                text: response.data.message,
                                type: 'error'
                            });
                        }
                        
                        reject(response.data)
                    })
                    .finally(() => {
                        this.loading = false
                    })
                    .catch(error => {
                        console.log(error.response)
                        if (error.response){
                            this.$notify({
                                text: error.response.status+": "+error.response.statusText,
                                type: 'error'
                            });
                        }
                    })
                })
            },
            setDataFromServer(data){
                this.items                        = data.data;
                this.totalItems                   = data.recordsFiltered;
                this.paginationTable.itemsPerPage = data.input.length;
                
                if (this.storeKey) {
                    this.setDataToStoreDataTables(this.$data)
                }
            },
            setDataToStoreDataTables(data){
                this.$store.commit('index/setDataTables',{
                    key: this.storeKey,
                    value: data
                })
            },
            reloadTable(){
                this.getItems()
            },
            exportar(){

                this.loadingBtnExcel = true

                let params = this.prepareParams();

                params.export = 'excel'
                params.length = -1

                this.axios.request({
                    url: this.url,
                    data: params,
                    method: 'POST',
                    responseType: 'blob',
                }).then((response) => {

                    let type = 'application/vnd.ms-excel';

                    let new_file = new Blob([response.data], {type: type});
                    const url = window.URL.createObjectURL(new_file);
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', this.title + '.xlsx');
                    link.setAttribute('id', 'file-download');
                    link.setAttribute('target', '_blank');
                    document.body.appendChild(link);
                    link.click();

                }).then(() => {
                    this.loadingBtnExcel = false
                });
            },
        }
    };
</script>
