<template>
	<v-dialog v-model="dialog" persistent max-width="600px" transition="dialog-bottom-transition">
        <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
                <v-icon class="black--text">mdi-account-box</v-icon>
            </v-btn>
        </template>
        <v-card>
            <v-toolbar dark dense :color="sistema.bg_color">
                <v-toolbar-title class="text-truncate">
                    <v-icon class="mr-2 pb-1">mdi-account-box</v-icon>
                    <span class="text-uppercase">CONTACTO DE {{title}}</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click.prevent="closeDialog()">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text>
                <v-row class="ma-0 pa-0 mt-6">
                    <v-autocomplete label="Nombre del Contacto" outlined dense></v-autocomplete>
                    <v-btn dark class="ml-2" :color="sistema.bg_color" @click.prevent="newContact=!newContact">
                        <v-icon v-if="!newContact">mdi-plus</v-icon>
                        <v-icon v-else>mdi-close</v-icon>
                    </v-btn>
                </v-row>
                <v-divider class="py-2" v-if="newContact"></v-divider>
                <v-row class="ma-0 pa-0" v-if="newContact">
                    <v-col cols="8" class="ma-0 pa-0 pr-2">
                        <v-text-field dense outlined :rules="[rules.required]" label="Nombre del Contacto" v-model="FormContact.nombre"></v-text-field>
                    </v-col>
                    <v-col cols="4" class="ma-0 pa-0">
                        <v-text-field dense outlined :rules="[rules.required]" label="Telefono del Contacto" v-model="FormContact.telefono"></v-text-field>
                    </v-col>
                </v-row>
                <v-row class="ma-0 pa-0" v-if="newContact">
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click.prevent="deleteMain()">
                        <span class="font-weight-bold">GUARDAR</span>
                    </v-btn>    
                </v-row>
                <v-divider class="my-2" v-if="newContact"></v-divider>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#D50000" outlined @click.prevent="closeDialog()">
                    <span class="font-weight-bold">CANCELAR</span>
                </v-btn>
                <v-btn color="primary" outlined @click.prevent="deleteMain()">
                    <span class="font-weight-bold">ACEPTAR</span>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import Api from '@/components/Api.js';
import { mapGetters } from 'vuex';

	export default{
        name: 'Dialog-Eliminar',
        data:()=>({
            newContact:false,
            dialog:false,
            FormContact:{},
        }),
		props:['item','title','route','nameSpaceState'],
		computed:{
			sistema(){
				return this.$store.state[this.nameSpaceState].sistema;
			},
            ...mapGetters({
                rules: 'index/rules',
            })
		},
		methods:{
            closeDialog(){
                this.dialog=false;
            },
			deleteMain(){
				Api.delete(this.route, this.item.id).then(response=>{
                    if (response.data.success) {
                        this.$notify({
                            text: response.data.message,
                            type: 'success'
                        });
                        this.dialog = false
                        this.$emit('reload')

                    } else {
                        this.$notify({
                            text: response.data.message,
                            type: 'error'
                        });
                    }
                });
	        }
		}

	}
</script>