<template>
	<v-dialog v-model="dialog" persistent max-width="600px" transition="dialog-bottom-transition">
        <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
                <v-icon color="#D50000">mdi-delete-empty</v-icon>
            </v-btn>
        </template>
        <v-card>
            <v-toolbar dark dense :color="sistema.bg_color">
                <v-toolbar-title class="text-truncate">
                    <v-icon class="mr-2 pb-1">mdi-delete-empty</v-icon>
                    <span class="text-uppercase">ELIMINAR {{title}}</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click.prevent="closeDialog()">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text>
                <v-container class="mx-0 px-0 mt-2">
                    <span style="font-size:16px;color:black!important">¿Estas seguro que deseas eliminar este/esta {{title}}?</span>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#D50000" outlined @click.prevent="closeDialog()">
                    <span class="font-weight-bold">CANCELAR</span>
                </v-btn>
                <v-btn color="primary" outlined @click.prevent="deleteMain()">
                    <span class="font-weight-bold">ACEPTAR</span>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import Api from '@/components/Api.js';

	export default{
        name: 'Dialog-Eliminar',
        data:()=>({
            dialog:false,
        }),
		props:['item','title','route','nameSpaceState'],
		computed:{
			sistema(){
				return this.$store.state[this.nameSpaceState].sistema;
			},
		},
		methods:{
            closeDialog(){
                this.dialog=false;
            },
			deleteMain(){
				Api.delete(this.route, this.item.id).then(response=>{
                    if (response.data.success) {
                        this.$notify({
                            text: response.data.message,
                            type: 'success'
                        });
                        this.dialog = false
                        this.$emit('reload')

                    } else {
                        this.$notify({
                            text: response.data.message,
                            type: 'error'
                        });
                    }
                });
	        }
		}

	}
</script>