<template>
	<v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
                <v-icon color="black">mdi-lock-reset</v-icon>
            </v-btn>
        </template>
        <v-card>
            <v-toolbar dark dense :color="sistema.bg_color">
                <v-toolbar-title class="text-truncate">
                    <v-icon class="mr-2 pb-1">mdi-lock-reset</v-icon>
                    <span>CAMBIAR CONTRASEÑA</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click.prevent="dialog=false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text>
                <v-form ref="formulario">
                    <v-container class="mx-0 px-0 my-0">
                        <v-text-field v-model="Formulario.password" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" 
                        :type="show1 ? 'text' : 'password'" label="NUEVA CONTRASEÑA"  counter @click:append="show1 = !show1"></v-text-field>
                    </v-container>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#D50000" outlined @click.prevent="dialog=false">
                    <v-icon class="mr-2">mdi-close</v-icon>
                    CANCELAR
                </v-btn>
                <v-btn color="primary" outlined @click.prevent="active(item.id)">
                    <v-icon class="mr-2">mdi-check</v-icon>
                    ACEPTAR
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
	export default{
		name: 'Dialog-Password',
		props:['item','nameSpaceState'],
        data(){
            return {
                dialog:false,
                show1: false,
                Formulario:{
                    user_id:null,
                    password: null,
                }
            }
        },
		computed:{
			sistema(){
				return this.$store.state[this.nameSpaceState].sistema;
			},
		},
        beforeMount(){
            // this.$store.administracion.dispatch('getSelectRoles');
        },
		methods:{
			active(id){
                this.Formulario.user_id = id;
                if (this.$refs.formulario.validate()) {
                    this.axios.post('/configuracion/usuarios/change-password',this.Formulario).then(response=>{
                        if (response.data.success) {
                            this.$store.commit('setSnackbar',{ msg:response.data.msg, color: this.sistema.apariencia_color_hex });
                            this.dialog=false;
                            this.$store.dispatch('getUsuarios');
                        } else {
                            this.$store.commit('setSnackbar',{ msg:response.data.msg, color: '#D50000' });
                        }
                    });	            
                }
	        }
		}

	}
</script>