<template>
	<v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on }">
            <v-btn icon v-on="on" @click.prevent="charge(item)">
                <v-icon color="black">mdi-account-tie</v-icon>
            </v-btn>
        </template>
        <v-card>
            <v-toolbar dark dense color="#212121">
                <v-toolbar-title class="text-truncate">
                    <v-icon class="mr-2 pb-1">mdi-delete</v-icon>
                    <span>ASIGNAR ROLES</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click.prevent="dialog=false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text>
                <v-form ref="formulario">
                    <v-container class="mx-0 px-0 my-0">
                        <v-select v-model="Formulario.rol_id" :items="select_roles" item-text="text" item-value="id" :clearable=true>
                            <template v-slot:no-data>
                                <span class="pa-3 font-weight-bold">
                                    <v-icon class="mr-2 pb-1 black--text">mdi-alert</v-icon>
                                NO SE ENCONTRARON REGISTROS</span>
                            </template>
                            <template v-slot:label>
                                <label>ROLES <span style="color:#D50000">*</span></label>
                            </template>
                        </v-select>
                    </v-container>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#D50000" outlined @click.prevent="dialog=false">
                    <v-icon class="mr-2">mdi-close</v-icon>
                    CANCELAR
                </v-btn>
                <v-btn color="primary" outlined @click.prevent="active(itemMain.id)">
                    <v-icon class="mr-2">mdi-check</v-icon>
                    ACEPTAR
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
	export default{
		name: 'Dialog-Roles',
		props:['item'],
        data(){
            return {
                dialog:false,
                Formulario:{
                    user_id:null,
                    rol_id:null,
                }
            }
        },
		computed:{
			sistema(){
				return this.$store.state.sistema;
			},
			itemMain(){
				return this.$store.state.dialog.item;	
			},
            select_roles(){
                return this.$store.state.select_roles;
            }
		},
        beforeMount(){
            this.$store.dispatch('getSelectRoles');
            this.Formulario.rol_id = this.item.rol.id;
        },
		methods:{
			charge(item){
				this.$store.state.dialog.item = item;
			},
			active(id){
                this.Formulario.user_id = id;
                if (this.$refs.formulario.validate()) {
                    axios.post('/configuracion/roles/assign-role',this.Formulario).then(response=>{
                        if (response.data.success) {
                            this.$store.commit('setSnackbar',{ msg:response.data.msg, color: this.sistema.apariencia_color_hex });
                            this.dialog=false;
                            this.$store.dispatch('getUsuarios');
                        } else {
                            this.$store.commit('setSnackbar',{ msg:response.data.msg, color: '#D50000' });
                        }
                    });	            
                }
	        }
		}

	}
</script>