<template>
    <v-menu v-model="profile" :close-on-content-click="false" :nudge-width="100" offset-y>
        <template v-slot:activator="{ on, attrs }">
            <span v-bind="attrs" v-on="on">
                <span class="mr-2">{{user.nombre}}</span>
                <v-btn icon dark>
                    <v-icon>mdi-account-circle</v-icon>
                </v-btn>
            </span>
        </template>

        <v-card>
            <v-list>
                <v-list-item>
                    <v-list-item-avatar>
                        <v-img :src="require('@/assets/account-default.png')"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                        <v-list-item-title class="font-weight-bold">{{user.username}}</v-list-item-title>
                        <v-list-item-subtitle class="black--text">{{user.tipo}}</v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action>
                        <v-tooltip color="black" bottom>
                            <template v-slot:activator="{ on, attrs }">
                                <span v-bind="attrs" v-on="on">
                                    <Logout :nameSpaceState="nameSpaceState"/>
                                </span>
                            </template>
                            <span>Cerrar Sesión</span>
                        </v-tooltip>
                    </v-list-item-action>
                </v-list-item>
            </v-list>

            <v-divider></v-divider>

            <v-list v-if="user.roles[0].name=='super_administrador'" >
                <v-list-item :to="{ path: '/'}">
                    <v-list-item-action>
                        <v-icon class="black--text">mdi-lan</v-icon>
                    </v-list-item-action>
                    <v-list-item-title class="black--text">Cambiar Proyecto</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-card>
    </v-menu>
</template>
<script>
import { mapGetters } from 'vuex';
    import Logout from './Logout';
    export default {
        data:()=>({
            profile: false,
            nameSpaceState: null,
        }),
        components:{
            Logout
        },
        computed:{
            ...mapGetters({
               user: 'index/user',
               proyecto: 'index/proyecto',
            }),
        },
        beforeMount(){
            switch(this.user.roles[0].name){
                case 'adm_administrador':
                    this.nameSpaceState = 'administracion';
                    break;
                case 'super_administrador':
                    this.nameSpaceState = 'administracion';
                    break; 
                case 'cmdb_administrador':
                    this.nameSpaceState = 'cmdb';
                    break; 
                case 'cmdb_usuario':
                    this.nameSpaceState = 'cmdb';
                    break;
                case 'sispro_administrador':
                    this.nameSpaceState = 'conquest_admin';
                    break;
                case 'nms_administrador':
                    this.nameSpaceState = 'conquest_admin';
                    break;
                case 'cq_administrador':
                    this.nameSpaceState = 'conquest_admin';
                    break; 
                case 'cq_operador':
                case 'cq_usuario':
                case 'cq_soporte':
                case 'cq_supervisor':
                    this.nameSpaceState = 'conquest';
                    break; 
            }
        },
        methods:{
            action(item){
                this.$store.state.index.dependencia = item;
            },
            clearProyecto(){
                console.log("23")
                this.$store.dispatch('index/clearProyecto');
            }
        }
    }
</script>
