<template>
    <div>
        <canvas></canvas>
        <div class="content">
            <span>PAGE NOT FOUND</span>
            <br>
            <span class="number">404</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'NotFound',
        mounted(){
            
        }
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    
    .content{
        margin:auto;
        text-align:center;
    }
    .content span {
        font-family: 'Roboto';
        font-size: 8rem;
        font-weight: bold;
        text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
        color:black;
    }
    .content .number{
        font-size: 10rem;
    }
    
    @media (min-width: 768px) {
        .content h1 {
            font-size: 10rem;
            color:black;
        }
    }

</style>
