<template>
    <v-dialog v-model="dialog" persistent max-width="800px" transition="dialog-bottom-transition">
        <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
                <v-icon>mdi-devices</v-icon>
            </v-btn>
        </template>
        <v-card>
            <v-toolbar dark dense :color="sistema.bg_color">
                <v-toolbar-title class="text-truncate">
                    <v-icon class="mr-2 pb-1">mdi-account-box</v-icon>
                    <span class="text-uppercase">NUEVO ITEM</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click.prevent="closeDialog()">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text class="px-4 pt-4 py-0">
                <v-form ref="formulario">
                    <v-layout wrap>
                        <v-col sm="12" md="12">
                            <v-autocomplete v-model="tipo_item" :items="select_tipos" label="Tipo" hint="Selecciona una opción" outlined dense item-value="tipo"
                            :rules="[v => !!v || 'Campo requerido']" persistent-hint item-text="text">
                                    <template v-slot:item="{ item }">
                                        <v-icon class="pb-1 mr-2 black--text">{{item.icon}}</v-icon>
                                        <span>{{item.text}}</span>
                                    </template>
                            </v-autocomplete>
                        </v-col>
                        <SectionServidor :sitio="sitio" :Formulario="Formulario" v-if="tipo_item=='servidor'"/>
                        <SectionServidorWeb :sitio="sitio" :Formulario="Formulario" v-if="tipo_item=='servidor_web'"/>
                        <SectionLicencia :sitio="sitio" :Formulario="Formulario" v-if="tipo_item=='licencia'"/>
                    </v-layout>
                </v-form>
            </v-card-text>
            <v-card-actions class="mx-2">
                <v-spacer></v-spacer>
                <v-btn color="#D50000" outlined @click.prevent="closeDialog()">
                    <span class="font-weight-bold">CANCELAR</span>
                </v-btn>
                <v-btn color="primary" outlined @click.prevent="save()">
                    <span class="font-weight-bold">GUARDAR</span>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    import Api from '@/components/Api.js';
    import { mapGetters } from 'vuex';
    import SectionServidor from './SectionServidor.vue';
    import SectionServidorWeb from './SectionServidorWeb.vue';
    import SectionLicencia from './SectionLicencia.vue';

    export default{
        props: ['sitio'],
        components:{
            SectionServidor,
            SectionServidorWeb,
            SectionLicencia,
        },
        data:()=>({
            dialog:false,
            menu_fr:false,
            menu_fi:false,
            menu_fm:false,
            tipo_item: null,
            Formulario: {},
            select_tipos:[
                {id:1, tipo:"router", text: 'Router', icon: 'mdi-router-wireless' },
                {id:2, tipo:"switch", text: 'Switch', icon: 'mdi-switch' },
                {id:3, tipo:"maquina_virtual", text: 'Maquina Virtual', icon: 'mdi-desktop-tower'},
                {id:4, tipo:"sistema_operativo", text: 'Sistema Operativo', icon: 'mdi-post'},
                {id:5, tipo:"servidor", text: 'Servidor', icon: 'mdi-server'},
                {id:6, tipo:"servidor_web", text: 'Servidor Web', icon: 'mdi-web-box'},
                {id:7, tipo:"servidor_db", text: 'Servidor de Base de Datos', icon: 'mdi-database-settings'},
                {id:8, tipo:"modem", text: 'Modem', icon: 'mdi-server-network'},
                {id:9, tipo:"software", text: 'Software', icon: 'mdi-application'},
                {id:10, tipo:"licencia", text: 'Licencia', icon: 'mdi-medal'},
            ],
        }),
        watch:{
            'tipo_item': function(){
                this.Formulario = {};
            }
        },
        computed:{
            ...mapGetters({
                sistema: 'cmdb/sistema',
            })
        },
        methods:{
            closeDialog(){
                this.dialog=false;
            },
            save(){
                this.Formulario.sitio_id = this.sitio.id;
                this.Formulario.tipo = this.tipo_item;

                if(this.$refs.formulario.validate()){
                    Api.add('/api/cmdb/items',this.Formulario).then(response=>{
                        if(response.data.success){
                            this.$notify({
                                text: response.data.message,
                                type: 'success',
                                position: 'left',
                            })
                            this.closeDialog()
                        }else{
                            this.$notify({
                                text: response.data.message,
                                type: 'error',
                            })
                        }
                    });
                }else{
                    this.$notify({
                        text: 'POR FAVOR, PROPORCIONA LOS CAMPOS SOLICITADOS...',
                        type: 'error'
                    });
                }
            }
        }
    }
</script>