<template>
    <v-row class="ma-0 pa-0">
        <v-col sm="12" md="12" class="py-0 my-0">
            <span class="font-weight-light black--text" style="font-size:18px">Datos Generales del Servidor Web</span>
            <v-divider width="100%" class="mb-4"></v-divider>
        </v-col>
        <v-col sm="12" md="6" class="py-0 my-0">
            <v-text-field label="Nombre del Servidor" dense outlined v-model="Formulario.nombre" :rules="[rules.required]"></v-text-field>
        </v-col>
        <v-col sm="12" md="6" class="py-0 my-0">
            <v-menu ref="fecha_instalacion" v-model="fecha_instalacion" :close-on-content-click="false" :return-value.sync="Formulario.fecha_instalacion" 
            transition="scale-transition" offset-y min-width="290px" :rules="[rules.required]">
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field dense outlined v-model="Formulario.fecha_instalacion" label="Fecha de Instalación" readonly v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="Formulario.fecha_instalacion" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="red" @click="fecha_instalacion = false">Cancelar</v-btn>
                    <v-btn text color="primary" @click="$refs.fecha_instalacion.save(Formulario.fecha_instalacion)">Cambiar</v-btn>
                </v-date-picker>
            </v-menu>
        </v-col>
    </v-row>
</template>
<script>
import { mapGetters } from 'vuex'

    export default {
        props: ['Formulario','sitio'],
        data:()=>({
            fecha_instalacion: false,
        }),
        computed:{
            ...mapGetters({
                rules: 'index/rules',
            })
        },
        
    }
</script>
