<template>
    <v-row class="ma-0 pa-0">
        <v-col sm="12" md="12" class="py-0 my-0">
            <span class="font-weight-light black--text" style="font-size:18px">Datos Generales de la Licencia</span>
            <v-divider width="100%" class="mb-4"></v-divider>
        </v-col>
        
        <v-col sm="12" md="6" class="py-0 my-0">
            <v-autocomplete :items="cantidad_dispositivos" label="Cantidad Dispositivos" item-value="value" dense outlined 
            v-model="Formulario.cantidad_dispositivos" :rules="[rules.required]">
                <template v-slot:item="{item}">
                    <span class="black--text">
                        <v-icon class="mr-2 black--text">mdi-devices</v-icon>
                        {{item.value + " " +item.text}}
                    </span>
                </template>
            </v-autocomplete>
        </v-col>

        <v-col sm="12" md="6" class="py-0 my-0">
            <v-autocomplete :items="cantidad_dispositivos" label="Tipo de Licencia" item-value="value" dense outlined v-model="Formulario.tipo" 
            :rules="[rules.required]">
                <template v-slot:item="{item}">
                    <span class="black--text">
                        <v-icon class="mr-2 black--text">mdi-devices</v-icon>
                        {{item.value + " " +item.text}}
                    </span>
                </template>
            </v-autocomplete>
        </v-col>

        <v-col sm="12" md="6" class="py-0 my-0">
            <v-menu ref="fecha_inicio" v-model="fecha_inicio" :close-on-content-click="false" :return-value.sync="Formulario.fecha_inicio" 
            transition="scale-transition" offset-y min-width="290px" :rules="[rules.required]">
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field dense outlined v-model="Formulario.fecha_inicio" label="Fecha de Inicio" readonly :rules="[rules.required]" v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="Formulario.fecha_inicio" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="red" @click="fecha_inicio = false">Cancelar</v-btn>
                    <v-btn text color="primary" @click="$refs.fecha_inicio.save(Formulario.fecha_inicio)">Cambiar</v-btn>
                </v-date-picker>
            </v-menu>
        </v-col>
        
        <v-col sm="12" md="6" class="py-0 my-0">
            <v-menu ref="fecha_fin" v-model="fecha_fin" :close-on-content-click="false" :return-value.sync="Formulario.fecha_fin" 
            transition="scale-transition" offset-y min-width="290px" :rules="[rules.required]">
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field dense outlined v-model="Formulario.fecha_fin" label="Fecha de Fin" readonly :rules="[rules.required]" v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="Formulario.fecha_fin" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="red" @click="fecha_fin = false">Cancelar</v-btn>
                    <v-btn text color="primary" @click="$refs.fecha_fin.save(Formulario.fecha_fin)">Cambiar</v-btn>
                </v-date-picker>
            </v-menu>
        </v-col>
    </v-row>
</template>
<script>
    
    import { mapGetters } from 'vuex'

    export default {
        props: ['Formulario','sitio'],
        data:()=>({
            fecha_instalacion: false,
            cantidad_dispositivos: [
                {value: 1, text: 'Dispositivo'},
                {value: 2, text: 'Dispositivos'},
                {value: 3, text: 'Dispositivos'},
                {value: 4, text: 'Dispositivos'},
                {value: 5, text: 'Dispositivos'},
            ]
        }),
        computed:{
            ...mapGetters({
                rules: 'index/rules',
            })
        },
        
    }
</script>
