<template>
    <v-row class="ma-0 pa-0">
        <v-col sm="12" md="12" class="py-0 my-0">
            <span class="font-weight-light black--text" style="font-size:18px">Datos Generales de Servidor</span>
            <v-divider width="100%" class="mb-4"></v-divider>
        </v-col>
        <v-col sm="12" md="6" class="py-0 my-0">
            <v-text-field label="Nombre del Servidor" dense outlined v-model="Formulario.nombre" :rules="[rules.required]"></v-text-field>
        </v-col>
        <v-col sm="12" md="6" class="py-0 my-0">
            <v-text-field dense outlined label="Marca" v-model="Formulario.marca" :rules="[rules.required]"></v-text-field>
        </v-col>
        <v-col sm="12" md="6" class="py-0 my-0">
            <v-text-field dense outlined label="Número de Serie" v-model="Formulario.no_serie" :rules="[rules.required]"></v-text-field>
        </v-col>
    </v-row>
</template>
<script>
import { mapGetters } from 'vuex'

    export default {
        props: ['Formulario','sitio'],
        data:()=>({
            
        }),
        computed:{
            ...mapGetters({
                rules: 'index/rules',
            })
        },
        
    }
</script>
