<template>
    <v-app>
        <v-overlay :value="overlay" :z-index="9999">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
        <!--        <top></top>-->
        <v-main>
            <v-container fluid class="pa-1 w-100">
                <router-view></router-view>
            </v-container>
        </v-main>
        <v-footer app></v-footer>
    </v-app>
</template>
<style>
html{
    overflow-y: auto;
}
</style>
<script>
import EventBus from '@/event-bus'
import {mapActions, mapGetters, mapState} from 'vuex'

export default {
    name: 'Full',
    data: () => ({
        bus: EventBus,
        dialog: false,
        overlay: false,
    }),
    created(){
    },
    methods: {
    },
    computed: {
    },
    components: {
    }
}
</script>
