<template>
    <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
            <v-badge
                    :content="notifications.length"
                    :value="notifications.length"
                    color="green"
                    overlap
            >
                <v-btn
                        icon
                        v-bind="attrs"
                        v-on="on">
                    <v-icon>mdi-bell</v-icon>
                </v-btn>
            </v-badge>
        </template>
        <v-card>
            <v-list dense subheader>
                <v-subheader>Notifications</v-subheader>
                <v-divider class="my-0"></v-divider>
                <v-list-item
                        v-for="notification in notifications"
                        :key="`notification-key-${notification.id}`"
                >
                    <v-list-item-title>
                        {{ notification.title }}
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-card>
    </v-menu>
</template>
<script>
export default {
    name: 'Badge',
    data: () => ({
        notifications: [
            {
                id: 1,
                title: 'demo'
            }
        ],
    }),
    mounted() {
    },
    computed: {},
    watch: {},
    methods: {}
}
</script>
