<template>

</template>
<script>
import Badge from './Badge'

export default {
    props: ['user'],
    name: 'Top',
    components: {Badge},
    data: () => ({
        mini: false,
    }),
    mounted() {
    },
    computed: {},
    watch: {},
    methods: {
        logout() {
            document.getElementById('logout-form').submit();
        }
    }
}
</script>
