<template>
    <v-dialog v-model="dialog" persistent max-width="500px" transition="dialog-bottom-transition">
        <template v-slot:activator="{ on }">
            <span v-on="on">
                <v-tooltip bottom color="black">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" dark icon @click.prevent="load(null)">
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                    </template>
                    <span>Nuevo Registro</span>
                </v-tooltip>
            </span>
        </template>
        <v-card>
            <v-toolbar dense dark :color="sistema.bg_color">
                <v-toolbar-title>
                    <v-icon class="mr-2 pb-1">{{titleIcon}}</v-icon>
                    <span>{{Formulario.id!=null ? 'EDITAR': 'AGREGAR'}} USUARIO</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click.prevent="closeDialog()">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text class="px-4 pt-4 py-0">
                <v-form ref="formulario">
                    <v-row no-gutters>
                        <v-col cols="12" class="px-1">
                            <v-text-field label="Nombres" dense outlined autocomplete="off" :rules="[rules.required]" v-model="Formulario.persona.nombres"></v-text-field>
                        </v-col>
                        <v-col cols="6" class="px-1">
                            <v-text-field label="Apellido Paterno" dense outlined autocomplete="off" :rules="[rules.required]" v-model="Formulario.persona.apellido_paterno"></v-text-field>
                        </v-col>
                        <v-col cols="6" class="px-1">
                            <v-text-field label="Apellido Materno" dense outlined autocomplete="off" v-model="Formulario.persona.apellido_materno"></v-text-field>
                        </v-col>
                        <v-col cols="12" class="px-1">
                            <v-text-field label="Correo Electronico" dense outlined autocomplete="off" :rules="[rules.email, rules.required]" v-model="Formulario.persona.email"></v-text-field>
                        </v-col>
                        <v-col cols="12" class="px-1">
                            <v-text-field label="Usuario" dense outlined autocomplete="off" :rules="[rules.required, rules.email]" v-model="Formulario.username"></v-text-field>
                        </v-col>
                        <v-col cols="6" class="px-1">
                            <v-text-field label="Telefono" dense outlined autocomplete="off" v-model="Formulario.persona.telefono"></v-text-field>
                        </v-col>
                        <v-col cols="6" class="px-1">
                            <v-text-field label="Contraseña" :type="show1 ? 'text' : 'password'" :rules="[rules2]" 
                                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" counter dense hint="AL MENOS 8 (OCHO) CARACTERES" 
                                    outlined v-model="Formulario.password" @click:append="show1 = !show1"></v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-row no-gutters>
                                <v-autocomplete v-model="Formulario.role" label="Rol" dense outlined :items="roles" 
                                item-text='text' item-value="name"></v-autocomplete>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
            <v-card-actions class="pa-4">
                <v-spacer></v-spacer>
                <v-btn outlined dark color="#D50000" @click.prevent="closeDialog()">
                    <span class="font-weight-bold">CANCELAR</span>
                </v-btn>
                <v-btn outlined dark color="primary" @click.prevent="save()">
                    <span class="font-weight-bold">GUARDAR</span>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    import EventBus from '@/plugins/event-bus.js';
    import Api from '@/components/Api.js';
    import { mapGetters } from 'vuex';

    export default{
        name: 'Usuarios-Formulario',
        props:['url','title','titleIcon','params'],
        data: ()=>({
            show1: false,
            dialog: false,
            edit: false,
            Formulario: {
                persona: {
                    genero: 'No especificado',
                },
                activo: 'Si',
                role: [],
                password: '',
            },
            roles: [
                { name:'cq_administrador', text: 'ADMINISTRADOR - CONQUEST', module: 2},
                { name:'cq_usuario', text: 'USUARIO - CONQUEST', module: 2 },
                { name:'cq_operador', text: 'OPERADOR - CONQUEST', module: 2 },
                { name:'cq_soporte', text: 'SOPORTE - CONQUEST', module: 2 },
                { name:'cq_supervisor', text: 'SUPERVISOR - CONQUEST', module: 2 },
                { name:'cmdb_administrador', text: 'ADMINISTRADOR - CMDB', module: 1 },
                { name:'cmdb_usuario', text: 'USUARIO - CMDB', module: 1 },
                { name:'nms_administrador', text: 'ADMINISTRADOR - NMS', module: 4 },
                { name:'sispro_administrador', text: 'ADMINISTRADOR - SISPRO', module: 5 },
            ],
            catalogo_proyectos: [],
     
        }),
        computed:{
            rules2(){
                return (v) => {
                    if(this.edit){
                        return true;
                    }
                    
                    return this.rules.required(v);
                }
            },
            ...mapGetters({
                sistema:'administracion/sistema',
                rules: 'index/rules',
                user:'index/user',
            })
        },
        mounted() {
            EventBus.$on('openUsuario', data => {
                this.load(data);
                this.edit = true;
                this.dialog = true;
            });
        },
        methods:{
            reloadTable(){
                EventBus.$emit('reloadTable');
                this.closeDialog();
            },
            load(data){
                if(data!=null){
                    this.Formulario = _.cloneDeep(data)
                    this.Formulario.role = data.roles[0].name;
                }
            },
            save(){
                if(this.$refs.formulario.validate()){
                    if(this.edit){ 
                        Api.edit(this.url, this.Formulario.id, this.Formulario).then((response)=>{
                            if(response.data.success){
                                this.$notify({
                                    text: response.data.message,
                                    type: 'success',
                                    position: 'left',
                                })
                                this.reloadTable();
                            }else{
                                this.$notify({
                                    text: response.data.message,
                                    type: 'error',
                                })
                            }
                        });   
                    }else{
                        Api.add(this.url, this.Formulario).then((response)=>{
                            if(response.data.success){
                                this.$notify({
                                    text: response.data.message,
                                    type: 'success',
                                })
                                this.reloadTable();
                            }else{
                                this.$notify({
                                    text: response.data.message,
                                    type: 'error',
                                })
                            }
                        });   
                    }
                }else{
                    this.$notify({
                        text: 'POR FAVOR, PROPORCIONA LOS CAMPOS SOLICITADOS...',
                        type: 'error'
                    });
                }
            },
            closeDialog(){
                this.dialog = false;
                this.edit = false;
                this.$refs.formulario.reset();
            }
        }
    }
</script>