<template>
    <v-container style="max-width: 100%" grid-list-xl>
        <v-layout wrap>
            <v-flex md12 sm12 lg12>
                <my-data-table v-bind="dataTableData">

                    <template v-slot:item.action="{item}">
                        <v-tooltip bottom color="black">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" icon>
                                    <v-icon color="black">mdi-eye</v-icon>
                                </v-btn>
                            </template>
                            <span>Detalles</span>
                        </v-tooltip>

                        <v-tooltip bottom color="black">
                            <template v-slot:activator="{ on, attrs }">
                                <span v-bind="attrs" v-on="on">
                                    <v-btn @click.prevent="chargeData(item)" icon>
                                        <v-icon color="primary">mdi-file-edit</v-icon>
                                    </v-btn>
                                </span>
                            </template>
                            <span>Actualizar Registro</span>
                        </v-tooltip>

                        <v-tooltip bottom color="black">
                            <template v-slot:activator="{ on, attrs }">
                                <span v-bind="attrs" v-on="on">
                                    <DialogEliminar title="Severidad" :item="item" :route="urlApi"  :nameSpaceState="'conquest_admin'"/>
                                </span>
                            </template>
                            <span>Eliminar Registro</span>
                        </v-tooltip>

                    </template>
                </my-data-table>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
import MyDataTable from '@/components/DataTable.vue';
import DialogEliminar from '@/components/DialogEliminar.vue'
import EventBus from '@/plugins/event-bus.js';

export default {
    components: {
        MyDataTable,
        DialogEliminar,
    },
    data: () => ({
        componentNew: () => import('./formulario'),
    }),
    mounted() {
        EventBus.$off('reloadTable')
        EventBus.$on('reloadTable', () => {
            this.reloadTable()
        });
    },
    computed: {
        urlApi(){
            return "api/conquest/admin/severidades";
        },
        dataTableData(){
            return {
                ref: 'tabla',
                title: 'Severidades',
                storeKey:"severidades-datatables",
                nameSpaceState:'conquest_admin',
                headers: [
                    {text: '#', value: 'id'},
                    {text: 'Partidas', value: 'partidas'},
                    {text: 'Nivel', value: 'nivel'},
                    {text: 'Descripcion', value: 'descripcion'},
                    {text: 'Acciones', value: 'action', sortable: false},
                ],
                url: this.urlApi,
                titleIcon:"mdi-alert-rhombus-outline",
                componentNew: {
                    component: this.componentNew,
                    params: {
                        title: 'Nueva severidad',
                        url: this.urlApi,
                    }
                },
            }
        },
    },
    methods:{
        chargeData(item){
            EventBus.$emit('openSeveridades', item);
        },
        reloadTable(){
            this.$refs.tabla.reloadTable()
        },
    }
}
</script>
