<template>
  <v-card tile elevation="4">
    <v-card-text class="pa-0">
      <v-row no-gutters>
        <v-col cols="4" class="pa-3">
          <div class="layout justify-center align-center">
            <v-chip dark :color="color" class="digit">{{ icon }}</v-chip>
          </div>
        </v-col>
        <v-col class="pa-3" :class="color">
          <div class="white--text">{{ title }}</div>
          <span class="white--text">{{ subTitle }}</span>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<style>
.digit{
    border-radius: 60px !important;
    font-size: 20px !important;
    height: 60px !important;
    width: 60px !important;
    text-align: center;

    font-weight: bold !important;
}
.v-chip .v-chip__content {
    margin: 0 auto !important;
}
</style>
<script>
export default {
  props: ['icon', 'title', 'subTitle', 'color']
}
</script>
