<template>
  <div>
  
    <v-row class="ma-4 justify-space-between">
      <v-col
        v-for="(item, index) in items"
        :key="index"
        class="col-xl-6 col-lg-12 col-md-12"
      >
        <v-card outlined>
          <v-list-item
            :key="index"
            @click="
              actualizarGrafica(
                item.grupo,
                item.alertas.critica,
                item.alertas.alta,
                item.alertas.mayor
              )
            "
          >
            <v-list-item-content>
              <v-list-item-title v-html="item.grupo"></v-list-item-title>
              <v-list-item-subtitle>
                <v-chip
                  class="ma-2"
                  small
                  :color="item.alertas.critica == 0 ? 'grey' : 'red darken-4'"
                  label
                  outlined
                >
                  Crítica: {{ item.alertas.critica }}
                </v-chip>
                <v-chip
                  class="ma-2"
                  small
                  :color="item.alertas.alta == 0 ? 'grey' : 'orange darken-4'"
                  label
                  outlined
                >
                  Alta: {{ item.alertas.alta }}
                </v-chip>
                <v-chip
                  small
                  :color="item.alertas.mayor == 0 ? 'grey' : 'orange'"
                  class="ma-2"
                  label
                  outlined
                >
                  Mayor: {{ item.alertas.mayor }}
                </v-chip>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
    <DetallePerformance></DetallePerformance>
  </div>
</template>

<script>
import EventBus from "@/plugins/event-bus.js";
import DetallePerformance from "./DetallePerformance.vue";
export default {
  components: {
    DetallePerformance,
  },
  data: () => ({
    items: [
      {
        grupo: "TRIARA",
        alertas: {
          critica: 0,
          alta: 1,
          mayor: 0,
        },
      },

      {
        grupo: "CENTRALES",
        alertas: {
          critica: 8,
          alta: 0,
          mayor: 0,
        },
      },

      {
        grupo: "ORGANISMO DE CUENCA BALSAS",
        alertas: {
          critica: 0,
          alta: 0,
          mayor: 1,
        },
      },

      {
        grupo: "DIRECCION LOCAL GUERRERO",
        alertas: {
          critica: 1,
          alta: 0,
          mayor: 0,
        },
      },
      {
        grupo: "DIRECCION LOCAL PUEBLA",
        alertas: {
          critica: 2,
          alta: 0,
          mayor: 0,
        },
      },
      {
        grupo: "DIRECCION LOCAL TLAXCALA",
        alertas: {
          critica: 0,
          alta: 0,
          mayor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA CUENCAS CENTRALES DEL NORTE",
        alertas: {
          critica: 8,
          alta: 2,
          mayor: 0,
        },
      },
      {
        grupo: "DIRECCION LOCAL DURANGO",
        alertas: {
          critica: 0,
          alta: 0,
          mayor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA NOROESTE",
        alertas: {
          critica: 3,
          alta: 0,
          mayor: 0,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
        },
      },
      {
        grupo: "ORGANISMO DE CUENCA FRONTERA SUR",
        alertas: {
          critica: 15,
          alta: 1,
          mayor: 1,
        },
      },
    ],
  }),
  methods: {
    actualizarGrafica: function (grupo, critica, alta, mayor) {
      var objeto = {
        grupo: grupo,
        critica: critica,
        alta: alta,
        mayor: mayor,
      };
      EventBus.$emit("actualizarGraficaTipos", objeto);
    },
  },
};
</script>

<style>
</style>