<template>
  <div>
    <v-dialog
      v-model="dialogDetallePerformarce"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <!--Card principal que engloba a todos los componentes de la página -->
      <v-card>
        <v-toolbar
          :style="'background-color:' + sistema.hex_color + ';color:white'"
        >
          <v-btn icon dark @click="dialogDetallePerformarce = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title class="body-1"
            >Detalle del grupo: {{ nombreGrupo }}</v-toolbar-title
          >
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-row class="ml-4 mr-4 mt-4">
          <v-col>
            <!--Card para mostrar los componentes en card por cada elemento -->
            <v-card elevation="8" color="grey lighten-3">
              <div
                class="pa-2"
                :style="
                  'background-color:' + sistema.hex_color + ';color:white'
                "
              >
                <v-row class="ml-3 mt-3 mr-3">
                  <v-col class="col-lg-8">
                    {{ nombreGrupo }}
                  </v-col>
                  <v-col class="col-lg-4">
                    <v-row no-gutters>
                      <v-col>
                        <v-text-field
                          label="Buscar"
                          color="primary"
                          solo
                          dense
                          @keypress.enter="buscar()"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col class="ml-2">
                        <v-btn
                          height="39"
                          elevation="2"
                          depressed
                          color="secondary"
                          @click="buscar()"
                        >
                          Buscar
                        </v-btn></v-col
                      >
                    </v-row>
                  </v-col>
                </v-row>
              </div>
              <v-row>
                <v-card
                  :width="$vuetify.breakpoint.width + 'px'"
                  elevation="8"
                  class="mt-3 ml-3 mr-3 pl-3 pr-3 pb-1 pt-4"
                  v-for="(performarce, index) in arregloDetallePerformarce"
                  :key="index"
                >
                  <div>
                    <p class="font-weight-bold">{{ performarce.titulo }}</p>
                  </div>

                  <v-row>
                    <v-col
                      :class="
                        $vuetify.breakpoint.name == 'xl'
                          ? 'mb-3 diezColumnas'
                          : $vuetify.breakpoint.name == 'lg'
                          ? 'mb-3 ochoColumnas'
                          : 'mb-3 col-md-2 col-sm-6'
                      "
                      v-for="(dato, indexDatos) in performarce.datos"
                      :key="indexDatos"
                    >
                      <v-card
                        elevation="8"
                        class="mt-0 ml-3 mr-3 pl-3 pr-3 pb-4 pt-2 cardMenu"
                        @click="accederReportesTendencias(dato.tipo)"
                      >
                        <p class="mb-1 mt-0 caption">
                          <v-img
                            align="center"
                            :src="require(`@/assets/router2.png`)"
                            height="80"
                            contain
                          ></v-img>
                        </p>
                        <label class="mt-8 caption">
                          swcore.triara (172.28.3.67)</label
                        >
                        <p class="mb-1 caption">Interfaz caida</p>
                        <p class="mb-1 caption">102,047 Min.</p>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-card>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <GraficasTendenciasPerformarce></GraficasTendenciasPerformarce>
  </div>
</template>

<script>
import GraficasTendenciasPerformarce from "./GraficasTendenciasSeveridades.vue";
import EventBus from "@/plugins/event-bus.js";

export default {
  components: {
    GraficasTendenciasPerformarce,
  },
  computed: {
    sistema() {
      return this.$store.state.sispro.sistema;
    },
  },

  data: () => ({
    dialogDetallePerformarce: false,
    nombreGrupo: "",
    arregloDetallePerformarce: [
      {
        titulo: "OCCCN-1 Instalaciones Sede del OCCCN",
        datos: [
          {
            titulo: "SWCORE.OCCCN-1 (10.13.2.110)",
            tipo: 1,
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "259,407 Min.",
          },
          {
            titulo: "UPS1-OCCCN-10 (172.30.202.253)",
            img: "ups2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "76,639 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            tipo: 2,
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
        ],
      },
      {
        titulo: "OCFS-18 Radar del Cerro Mozotal",
        datos: [
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
        ],
      },
      {
        titulo:
          "OCFS-16 Distrito de Riego Temp. Tecnificado 020 - Margarita, Pijijiapan",
        datos: [
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
        ],
      },
      {
        titulo: "OCFS-2 Presa el Portillo II",
        datos: [
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
        ],
      },
      {
        titulo: "OCFS-14 Distrito de Riego 059 - Rio Blanco",
        datos: [
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
        ],
      },
      {
        titulo: "OCFS-1 Instalaciones Sede del OCFS",
        datos: [
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
          {
            titulo: "swcore.triara (172.28.3.67)",
            img: "router2.png",
            descripcion: "Interfaz caida",
            tiempo: "102,047 Min.",
          },
        ],
      },
    ],
  }),
  mounted() {
    this.MostrarDialog();
  },
  methods: {
    accederReportesTendencias: function (tipo) {
      EventBus.$emit("mostrarReportesTendenciasSeveridades", tipo);
    },
    MostrarDialog: function () {
      EventBus.$on("mostrarDetalleSeveridades", (data) => {
        this.dialogDetallePerformarce = true;
        this.nombreGrupo = data;
      });
    },
  },
};
</script>

<style>
.cardMenu:hover {
  animation-duration: 4s;
  background-color: #e2e4e4;
}
.diezColumnas {
  width: 10%;
  max-width: 10%;
  flex-basis: 10%;
}
.ochoColumnas {
  width: 12.5%;
  max-width: 12.5%;
  flex-basis: 12.5%;
}

.sieteColumnas {
  width: 14.285%;
  max-width: 14.285%;
  flex-basis: 14.285%;
}
</style>