<template>
  <div>
    <v-dialog
      v-model="dialogReporte"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <!-- Card que engloba a todo el page dialog donde se muestran las graficas por tabs y los datos generales -->
      <v-card>
        <v-toolbar  :style="'background-color:' + sistema.hex_color + ';color:white'">
          <v-btn icon dark @click="dialogReporte = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title class="body-1">Gráficas</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-row class="ma-3">
          <v-col class="col-lg-9">
            <v-card>
              <v-tabs v-model="tabsGraficasTendencias" center-active :background-color="sistema.bg_color" color="white">
                <v-tab v-for="tab in arregloTabs" :key="tab.id">{{
                  tab.nombre
                }}</v-tab>
              </v-tabs>
              <v-tabs-items v-model="tabsGraficasTendencias">
                <v-tab-item v-if="tipo != 2">
                  <CargaGraficaReporte
                    :series="seriesCpu"
                  ></CargaGraficaReporte>
                </v-tab-item>
                <v-tab-item v-if="tipo != 2">
                  <CargaGraficaReporte
                    :series="seriesMemoria"
                  ></CargaGraficaReporte>
                </v-tab-item>

                <v-tab-item v-if="tipo == 2">
                  <CargaGraficaReporte
                    :series="seriesCarga"
                  ></CargaGraficaReporte>
                </v-tab-item>
                <v-tab-item v-if="tipo == 2">
                  <CargaGraficaReporte
                    :series="seriesVoltaje"
                  ></CargaGraficaReporte>
                </v-tab-item>
                <v-tab-item>
                  <CargaGraficaReporte
                    :series="seriesFrecuencia"
                  ></CargaGraficaReporte>
                </v-tab-item>

                <v-tab-item>
                  <CargaGraficaReporte
                    :series="seriesTiempoRespuesta"
                  ></CargaGraficaReporte>
                </v-tab-item>
                <v-tab-item>
                  <CargaGraficaReporte
                    :series="seriesAlcanzabilidad"
                  ></CargaGraficaReporte>
                </v-tab-item>
              </v-tabs-items>
            </v-card>
          </v-col>
          <v-col class="col-lg-3">
            <v-row class="mt-0">
              <v-card>
                <div
                  class="pa-2 caption"
                  :style="
                    'background-color:' + sistema.hex_color + ';color:white'
                  "
                >
                  <v-row>
                    <v-col class="col-lg-8"> Datos Generales</v-col>
                    <v-col class="col-lg-2">
                      <v-img
                        align="center"
                        max-width="40"
                        max-height="40"
                        :src="require('@/assets/pdf.png')"
                        contain
                      ></v-img>
                    </v-col>
                    <v-col class="col-lg-2">
                      <v-img
                        max-width="40"
                        max-height="40"
                        align="center"
                        :src="require('@/assets/excel.png')"
                        contain
                      ></v-img>
                    </v-col>
                  </v-row>
                </div>

                <v-container>
                  <v-row>
                    <v-col class="font-weight-bold caption">Periodo:</v-col>
                    <v-col class="caption">
                      24-04-2021 00:00 al 26-04-2021 16:57
                    </v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-row>
                    <v-col class="font-weight-bold caption">Sitio:</v-col>
                    <v-col class="caption">
                      OCFS-11 - OCFS-11 Distrito de Riego 046 -
                      Cacahoatan-Suchiate
                    </v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-row>
                    <v-col class="font-weight-bold caption">Equipo:</v-col>
                    <v-col class="caption">
                      ups1-ocfs-11 (172.30.147.253)
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-row>

            <v-row class="mt-8">
              <v-card>
                <div
                  class="pa-2 caption"
                  :style="'background-color:' + sistema.hex_color + ';color:white'"
                >
                  Disponibilidad
                </div>

                <div id="pieDisponibilidad" class="scroll-overflow-y">
                  <apexchart
                    type="pie"
                    ref="pieDisponibilidad"
                    :options="opcionesPie"
                    :series="valores"
                  ></apexchart>
                </div>
              </v-card>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import EventBus from "@/plugins/event-bus.js";
import VueApexCharts from "vue-apexcharts";
import CargaGraficaReporte from "./graficas_reportes/componenteGraficaReporte.vue";
export default {
  components: {
    CargaGraficaReporte,
    apexchart: VueApexCharts,
  },

  computed: {
    sistema() {
      return this.$store.state.sispro.sistema;
    },
  },

  data: () => ({
    valores: [0, 100],
    opcionesPie: {
      chart: {
        width: 380,
        type: "pie",
      },
      labels: ["Indisponibilidad", "Disponibilidad"],
      colors: ["#F44336", "#4CAF50"],
      responsive: [
        {
          breakpoint: 480,
          options: {
            chart: {
              width: 340,
            },
            legend: {
              position: "bottom",
            },
          },
        },
      ],
    },
    seriesCpu: [
      {
        name: "Alarma de alta de CPU(60%)",
        data: [64, 60, 55, 52, 89, 74, 79, 63, 60, 58, 62, 69],
      },
      {
        name: "Alarma mayor de CPU(50%)",
        data: [35, 41, 24, 42, 13, 18, 29, 37, 36, 21, 32, 35],
      },
    ],

    seriesMemoria: [
      {
        name: "Alarma de alta de Memoria(60%)",
        data: [64, 60, 55, 52, 89, 74, 79, 63, 60, 58, 62, 69],
      },
      {
        name: "Alarma mayor de Memoria(50%)",
        data: [35, 41, 24, 42, 13, 18, 29, 37, 36, 21, 32, 35],
      },
    ],

    seriesCarga: [
      {
        name: "Alarma de alta de Carga(60%)",
        data: [64, 60, 55, 52, 89, 74, 79, 63, 60, 58, 62, 69],
      },
      {
        name: "Alarma mayor de Carga(50%)",
        data: [35, 41, 24, 42, 13, 18, 29, 37, 36, 21, 32, 35],
      },
    ],

    seriesVoltaje: [
      {
        name: "Alarma de alta de Voltaje(60%)",
        data: [76, 36, 32, 74, 89, 67, 78, 63, 69, 96, 93, 69],
      },
      {
        name: "Alarma mayor de Voltaje(50%)",
        data: [12, 36, 24, 45, 15, 25, 49, 35, 21, 31, 42, 11],
      },
    ],

    seriesFrecuencia: [
      {
        name: "Alarma de alta de Frecuencia(60%)",
        data: [76, 36, 32, 74, 89, 67, 78, 63, 69, 96, 93, 69],
      },
      {
        name: "Alarma mayor de Frecuencia(50%)",
        data: [12, 36, 24, 45, 15, 25, 49, 35, 21, 31, 42, 11],
      },
    ],
    seriesTiempoRespuesta: [
      {
        name: "Alarma de alta de Tiempo respuesta(60%)",
        data: [64, 60, 55, 52, 89, 74, 79, 63, 60, 58, 62, 69],
      },
      {
        name: "Alarma mayor de Tiempo respuesta(50%)",
        data: [35, 41, 24, 42, 13, 18, 29, 37, 36, 21, 32, 35],
      },
    ],
    seriesAlcanzabilidad: [
      {
        name: "Alarma de alta de Alcanzabilidad(60%)",
        data: [64, 60, 55, 52, 89, 74, 79, 63, 60, 58, 62, 69],
      },
      {
        name: "Alarma mayor de Alcanzabilidad(50%)",
        data: [35, 41, 24, 42, 13, 18, 29, 37, 36, 21, 32, 35],
      },
    ],
    tipo: null,
    tabsGraficasTendencias: 0,
    dialogReporte: false,
    tabsReportes: 0,
    arregloTabs: [
      { id: 1, nombre: "CARGA", activo: true },
      { id: 2, nombre: "VOLTAJE", activo: true },
      { id: 2, nombre: "Frecuencia", activo: true },
      { id: 4, nombre: "TIEMPO RESPUESTA", activo: true },
      { id: 5, nombre: "ALCANZABILIDAD", activo: true },
      { id: 6, nombre: "DISPONIBILIDAD", activo: true },
    ],
    arregloOtrosTabs: [
      { id: 1, nombre: "CPU", activo: true },
      { id: 2, nombre: "MEMORIA", activo: true },
      { id: 4, nombre: "TIEMPO RESPUESTA", activo: true },
      { id: 5, nombre: "ALCANZABILIDAD", activo: true },
      { id: 6, nombre: "DISPONIBILIDAD", activo: true },
    ],
  }),

  mounted() {
    this.MostrarDialog();
  },
  methods: {
    MostrarDialog: function () {
      EventBus.$on("mostrarGraficaDialog", (data) => {
        this.tabsGraficasTendencias = 0;
        this.arregloTabs = [];
        this.dialogReporte = true;

        this.tipo = data.tipo;
      

        this.arregloTabs = data.arregloTabs;
      });
    },
  },
};
</script>

<style>
</style>