<template>
  <div>
    <v-dialog
      v-model="dialogTendencias"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar
          :style="'background-color:' + sistema.hex_color + ';color:white'"
        >
          <v-btn icon dark @click="dialogTendencias = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title class="body-1">Tendencias</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-row class="ma-2">
          <v-col class="col-lg-9">
            <v-card>
              <v-container
                :style="
                  'background-color:' + sistema.hex_color + ';color:white'
                "
              >
                <v-tabs
                  v-model="tabSeleccionado"
                  center-active
                  :background-color="sistema.bg_color"
                  color="white"
                >
                  <v-tab>CPU</v-tab>
                  <v-tab>MEMORIA</v-tab>
                </v-tabs>
                <v-tabs-items v-model="tabSeleccionado">
                  <v-tab-item>
                    <GraficaTendencias></GraficaTendencias>
                  </v-tab-item>
                  <v-tab-item>
                    <GraficaTendencias></GraficaTendencias>
                  </v-tab-item>
                </v-tabs-items>
              </v-container>
            </v-card>
          </v-col>
             <v-col class="col-lg-3">
            <v-row class="mt-0">
              <v-card>
                <div
                  class="pa-2 caption"
                  :style="
                    'background-color:' + sistema.hex_color + ';color:white'
                  "
                >
                  <v-row>
                    <v-col class="col-lg-8"> Datos Generales</v-col>
                    <v-col class="col-lg-2">
                      <v-img
                        align="center"
                        max-width="40"
                        max-height="40"
                        :src="require('@/assets/pdf.png')"
                        contain
                      ></v-img>
                    </v-col>
                    <v-col class="col-lg-2">
                      <v-img
                        max-width="40"
                        max-height="40"
                        align="center"
                        :src="require('@/assets/excel.png')"
                        contain
                      ></v-img>
                    </v-col>
                  </v-row>
                </div>

                <v-container>
                  <v-row>
                    <v-col class="font-weight-bold caption">Periodo:</v-col>
                    <v-col class="caption">
                      24-04-2021 00:00 al 26-04-2021 16:57
                    </v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-row>
                    <v-col class="font-weight-bold caption">Sitio:</v-col>
                    <v-col class="caption">
                      OCFS-11 - OCFS-11 Distrito de Riego 046 -
                      Cacahoatan-Suchiate
                    </v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-row>
                    <v-col class="font-weight-bold caption">Equipo:</v-col>
                    <v-col class="caption">
                      ups1-ocfs-11 (172.30.147.253)
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-row>

          </v-col>
        </v-row> </v-card
    ></v-dialog>
  </div>
</template>

<script>
import EventBus from "@/plugins/event-bus.js";
import GraficaTendencias from "./graficas_reportes/componenteGraficasTendencias.vue";
export default {
  data: () => ({
    dialogTendencias: false,
    tabSeleccionado: 0,
  }),

  components: {
    GraficaTendencias,
  },

  mounted() {
    this.mostrarTendencias();
  },

  computed: {
    sistema() {
     
      return this.$store.state.sispro.sistema;
    },
  },
  methods: {
    mostrarTendencias: function () {
      EventBus.$on("mostrarTendenciasDialog", () => {
        this.dialogTendencias = true;
      });
    },
  },
};
</script>

<style>
</style>