<template>
    <div>
        <h1>404 | Not found</h1>
        <h2>NO SE ENCONTRO, DESDE CONQUEST NOTFOUND</h2>
    </div>
</template>

<script>
export default {
    name: 'NotFound'
}
</script>

<style scoped>

</style>
