<template>
    <div>
        <router-view></router-view>
        <notifications position="bottom right" :duration="1500" />
        </div>
</template>

<script>
export default {
  name: 'app',
}
</script>
<style>
.v-application--wrap {
    min-height: auto !important;
}
html {
    overflow: auto;
}
</style>
