<template>
    <div>
        <v-app-bar
                :clipped-left="$vuetify.breakpoint.lgAndUp"
                app
                :color="sistema.bg_color"
                dark
        >

            <v-app-bar-nav-icon @click.stop="mini = !mini"/>

            <v-toolbar-title
                    class="ml-0"
            >

            </v-toolbar-title>

                <v-list-item>

                    <v-list-item-content>

                        <v-list-item-subtitle class="subtitle-1">

                            GDC ConQuest
                        </v-list-item-subtitle>

                    </v-list-item-content>
                </v-list-item>

            <v-spacer/>

            <MenuProfile/>

        </v-app-bar>

        <v-navigation-drawer
                v-model="drawer"
                :clipped="$vuetify.breakpoint.lgAndUp"
                app
                fixed
                hide-overlay
                :expand-on-hover="mini"
                stateless>
            <v-list dense>
                <v-img class="mt-0"
                       v-if="proyecto.archivo_logo!=null"
                       contain
                       max-height="60px"
                       :src="baseURL+'/'+proyecto.archivo_logo.ruta_publica">
                </v-img>
                <template v-for="item in items">
                    <v-list-group
                            v-if="item.children"
                            :key="item.text"
                            :prepend-icon="item.icon"
                            no-action
                            :value="subIsActive(item.parent)"
                    >
                        <template v-slot:activator>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ item.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </template>
                        <v-list-item
                                v-for="(child, i) in item.children"
                                :key="i"
                                link
                                :to="{name: child.route}"
                        >
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ child.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-icon>
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-item-icon>
                        </v-list-item>
                    </v-list-group>
                    <v-list-item
                            v-else
                            :key="item.text"
                            link
                            :to="{name: item.route}"
                    >
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>


    </div>
</template>
<script>
import EventBus from '@/plugins/event-bus'
import MenuProfile from '@/components/MenuProfile';
import {mapGetters} from 'vuex'
export default {
    components: {
        MenuProfile
    },
    name: 'Sidebar',
    data: () => ({
        //user: Laravel.user,
        //organizacion: Laravel.organizacion,
        //sucursal: Laravel.sucursal,
        //modulos: Laravel.modules,
        color: 'blue darken-1',
        //path: Laravel.public_path,
        //logo: Laravel.configuraciones.logo,
        drawer: true,
        mini: false,
        items: [
            {icon: 'mdi-home', text: 'Inicio', route: 'dashboard'},
            {icon: 'mdi-ticket-confirmation', text: 'Tickets', route: 'tickets'},
            //{ icon: 'mdi-file-chart', text: 'Reportes', route: 'reportes'},
        ],
    }),
    mounted() {
        EventBus.$on('change_logo', data => {
            this.logo = data
        });
    },
    computed: {
        sistema(){
            return this.$store.state.conquest.sistema;
        },

        ...mapGetters({
            proyecto: 'index/proyecto',
            baseURL: 'index/baseURL',
        }),

    },
    watch: {
    },
    methods: {
        menu() {

        },
        subIsActive(input) {
            const paths = Array.isArray(input) ? input : [input];
            return paths.some(path => {
                return this.$route.path.indexOf(path) === 1 // current path starts with this path string
            })
        },
    }
}
</script>
