<template>
    <v-app dark style="background:#1a202c!important; background-repeat: no-repeat;  background-size: 100% 100%;">
        <v-main>
            <v-container fill-height="fill-height" style="width:450px;">
                <v-layout align-center="align-center" justify-center="justify-center">
                    <v-flex class="login-form text-xs-center"> 
                        <v-card>
                            <v-card-text>
                                <v-row class="ma-0 pa-0">
                                    <v-col cols="12" class="ma-0 pa-0">
                                        <v-row class="text-center justify-center">
                                            <v-img max-width="80%" :src="require('@/assets/login-banner.png')"></v-img>
                                            <v-icon class="pt-6" color="#1a202c" style="position:absolute; padding-right:225px;" size="60">
                                                mdi-key
                                            </v-icon>
                                            <span class="white--text display-1 font-weight-black pl-12 pt-7" style="position:absolute;">
                                                Login
                                            </span>
                                        </v-row>
                                    </v-col>
                                </v-row>
                                <v-form ref="formLogin" class="mt-6">
                                    <v-text-field v-model="Formulario.username" label="Correo Electronico" outlined dense>
                                        <template v-slot:prepend-inner>
                                            <v-icon class="mr-2" color="black">mdi-email</v-icon>
                                        </template>
                                    </v-text-field>
                                    <v-text-field v-model="Formulario.password" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" 
                                    :type="show1 ? 'text' : 'password'" outlined dense v-on:keyup.enter="save()" @click:append="show1 = !show1" label="Contraseña">
                                        <template v-slot:prepend-inner>
                                            <v-icon class="mr-2" color="black">mdi-key</v-icon>
                                        </template>
                                    </v-text-field>
                                    <v-checkbox label="Recordarme" class="pa-0 ma-0" hide-details></v-checkbox>
                                    <br>
                                    <v-btn :loading="loading" @click.prevent="submit()" color="primary" block="block" type="submit">
                                        <span class="font-weight-bold">Entrar</span>
                                    </v-btn>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>

import {mapActions, mapGetters} from 'vuex'

    export default{
        data:()=>({
            loading: false,
            Formulario:{
                username: "root@mail.com",
                password: "password",
            },
            show1:false,
        }),
        methods: {
            ...mapActions({
                signIn: 'index/signIn',
                signOutAction: 'index/signOut'

            }),

            async signOut () {
                await this.signOutAction()

                //this.$router.replace({ name: 'Login' })
            },

            async submit () {
                this.loading = true
                await this.signIn(this.Formulario).then((response)=>{
                    this.loading = false

                    if(response.data.success){
                        this.$notify({
                            text: response.data.message,
                            type: 'success'
                        });
                        location.href="/";
                    }else{
                        this.$notify({
                            text: response.data.message,
                            type: 'error'
                        });
                    }
                })


            }
        },
        computed:{
            ...mapGetters({
                authenticated: 'index/authenticated',
                user: 'index/user',
            })
        },
        beforeMount(){
            // if(this.authenticated){
                
            // }
        },
    }
</script>